<div class="row">
  <div
    class="col-sm-12"
    ng-repeat="metricType in ::metricsToShow track by $index">

    <line-high-chart-widget
      ng-if="::metricType === 'traffic'"
      id="traffic-tab-traffic-line-high-chart-widget"
      widget-icon="entrance"
      language="::language"
      kpi="kpi.name"
      sales-categories="salesCategoriesTraffic.selection"

      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      current-site="::currentSite"

      zone-id="currentZone.id"
      entrance-id="::currentEntrance.id"
      show-weather-metrics = "::showWeatherMetrics"

      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-1-type="compareRange1Type"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      compare-range-2-type="compareRange2Type"
      current-organization="::currentOrganization"
      current-user="::currentUser"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"
      selected-weather-metrics="selectedWeatherMetrics"
      update-selected-weather-metrics="updateSelectedWeatherMetrics"

      api-endpoint="kpis/traffic"
      api-return-key="total_traffic"
      get-unique-returning="false"
      separate-summary-requests="false"
      operating-hours="operatingHours"
      group-by="groupBy"
      selected-option="trafficOption.selectedMetric"

      on-select-option="onSelectOption"
      hide-export-icon="false"
      on-export-click="exportWidget(kpi.name)"
      export-is-disabled="widgetIsExported(kpi.name, viewData[metricType])"
      show-metrics="false"
      set-selected-widget="setSelectedWidget(metricType)"
      is-loading="isLoading[metricType]">
    </line-high-chart-widget>

    <traffic-per-weekday-widget
      ng-if="::metricType === 'traffic_per_weekday'"

      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      zone-id="currentZone.id"
      kpi="traffic_weekday_distribution"
      entrance-id="::currentEntrance.id"

      date-range="dateRange"
      compare-range-1="compareRange1"
      compare-range-2="compareRange2"
      compare-range-1-type="compareRange1Type"
      compare-range-2-type="compareRange2Type"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="firstDayOfWeek"
      operating-hours="operatingHours"

      current-organization="::currentOrganization"
      current-site="::currentSite"
      current-zone="currentZone"
      current-user="::currentUser"

      language="language"
      is-shown="viewData[metricType].showTable"
      selected-days="viewData[metricType].selectedDays"
      selected-metric="viewData[metricType].selectedMetric"
      order-by="viewData[metricType].orderTable"
      order-reverse="viewData[metricType].orderReverse"
      widget-icon="calendar-arrow"
      hide-export-icon="false"
      on-export-click="exportWidget('traffic_per_weekday')"
      export-is-disabled="widgetIsExported('traffic_per_weekday', viewData[metricType])"
      sales-categories="salesCategoriesTrafficWeekday.selection"
      set-selected-widget="setSelectedWidget('traffic_per_weekday')"
      is-loading="isLoading[metricType]">
    </traffic-per-weekday-widget>
  </div>
</div>
