.widget-library-graph {
  padding-bottom: 20px;

  &.hourly {
    padding-bottom: 0px;

    .pdf-export & {
      border-left: none;
      border-right: none;
      border-bottom: none;

      @mixin left-right-border {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
      }

      div.chart-section {
        @include left-right-border;
      }
    }
  }

  .highcharts-tooltip {
    min-width: 300px;

    span {
      margin-left: 10px;

      &:not(.title):not(.value):not(.point):not(.tooltipTitle) {
        width: 280px;
        margin-left: 0px;
        background: rgba($white, 0.7);
        padding: 5px 30px;
        border: 1px solid $gray-lighter;
        border-radius: 3px;
      }

      .tooltipTitle {
        width: auto;
        background: transparent;
        padding: 0;
        border: none;
        display: block;
        margin-left: -15px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  .row {
    min-width: 150px;
    margin-bottom: 8px;

    span {
      &.title {
        font-weight: 700;
        font-size: 12px;
      }

      &.point {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        padding: 0;
        float: left;
        margin-top: 4px;
        margin-right: 4px;
      }
    }
  }
}

.widget-library-graph {
  padding-left: 10px;

  .loader span {
    top: calc(30px + 50%);
  }
}

