<div class="widget-library" translate-namespace="widgetLibrary">
  <div class="row">
    <div class="widget-library__header">
      <header>
        <div class="col-xs-12 col-md-6">
          <h1>
            <i title="Widget Library" class="sticon sticon-transactions" aria-hidden="true"></i>
            <span translate>views.WIDGETLIBRARY</span>
          </h1>
        </div>
        <div class="col-xs-12 col-md-6" ng-if="::vm.superuser">
          <button class="btn btn-primary" type="button" data-toggle="modal" ng-click="vm.configType = ''" data-target="#configModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span class="ng-scope" translate>.CREATENEWWIDGET</span>
          </button>
        </div>
      </header>
    </div>
  </div>

  <div ng-if="!vm.isLoading && !vm.allRequestsSucceeded" class="panel-body">
    <div class="text-center error-message">
      <span translate>common.DATAERROR</span>
    </div>
  </div>

  <div class="panel-body" ng-if="vm.isLoading">
    <div class="loader">
      <div class="loading-spinner"></div>
      <div>
        <span translate>common.LOADING</span>
      </div>
    </div>
  </div>

  <section ng-if="!vm.isLoading && vm.allRequestsSucceeded">
    <div class="row">
      <div class="widget-library__no-widgets" ng-show="!vm.widgets">
        <i title="Widget Library" class="sticon sticon-transactions" aria-hidden="true"></i>
        <h2 translate>widgetLibrary.NOWIDGETS</h2>
      </div>

      <div ng-include="'app/analytics/widget-library/partials/no-active-widgets.partial.html'"></div>

      <div class="col-xs-12 col-sm-4 col-lg-3 padding-top-10" ng-show="vm.widgets && vm.widgets.length > 0" ng-repeat="widget in vm.widgets track by $index">
        <div ng-include="'app/analytics/widget-library/partials/widget.partial.html'"></div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal widget-library__modal fade" id="configModal" tabindex="-1" role="dialog" ng-class="{'in': (vm.open = true) || (vm.open = false)};"
    aria-labelledby="configModalLabel">
    <div class="modal-dialog" role="document" ng-class="{'no-config-type': !vm.configType}">
      <div class="widget-library__modal__widget_choice text-center" ng-show="!vm.configType">
        <h1>
          <i title="Widget Library" class="sticon sticon-transactions" aria-hidden="true"></i>
          <span translate>widgetLibrary.CREATENEWWIDGET</span>
        </h1>
        <button class="btn btn-primary" ng-click="vm.configType = 'data-grid'" translate>
          widgetLibrary.DATATABLEWIDGET
        </button>
        <button class="btn btn-primary" ng-click="vm.configType = 'graph'" translate>
          widgetLibrary.GRAPHWIDGET
        </button>
      </div>
      <datatableconfig ng-if="vm.configType === 'data-grid'" organizations="vm.organizations" metric-list="vm.metricList" current-user="vm.currentUser"
        superuser="vm.superuser" mode="vm.mode" config-type="vm.configType" edit-widget="vm.editWidget" widgets="vm.widgets">
      </datatableconfig>
      <graphwidgetconfig
        ng-if="vm.configType === 'graph'"
        organizations="vm.organizations"
        metric-list="vm.metricList"
        current-user="vm.currentUser"
        superuser="vm.superuser"
        mode="vm.mode"
        config-type="vm.configType"
        edit-widget="vm.editWidget"
        widgets="vm.widgets">
      </graphwidgetconfig>
    </div>
  </div>
</div>
