<div class="action-bar sites-action-bar">
  <h1 translate>.CUSTOMTAGS</h1>
  <div class="add-new-action" ng-click="vm.addCustomTag()">
    <span class="icon icon-add">
      <span class="sticon sticon-add"></span>
    </span>
    <span class="label-text">Add new</span>
  </div>

  <create-custom-tags-modal
    mode="vm.customTagMode"
    custom-tag="vm.customTag"
    custom-tag-index="vm.customTagIndex"
    add-edit="vm.updateCustomTag(tag,index)">
  </create-custom-tags-modal>

  <label for="fileInput" class="btn btn-primary user-upload" ngf-select="vm.uploadCustomTags($files)" accept=".csv">
    Import CSV
  </label>

</div>
<div class="account-preferences-loading" ng-if="vm.loading">
  <div class="account-preferences-loading-spinner"></div>
  <div translate>common.LOADING</div>
</div>

<div class="custom-tags">
  <div>
    <div class="add-org-success alert alert-success" ng-if="vm.tagImportSuccesful">
      <div>{{ ::vm.successMessage }}</div>
    </div>

    <div class="add-org-error alert alert-danger" ng-if="vm.tagImportFailed">
      <div> {{ ::vm.failedMessage }} </div>
    </div>

    <div>
      <div class="org-custom-tags-table">
        <delete-custom-tags-modal
          message="vm.deleteMessage"
          delete-item="vm.deleteCustomTagItem()">
        </delete-custom-tags-modal>

        <table class="table table-responsive table-striped header-fixed">
          <thead>
            <tr>
              <th class="header-tag-name custom-tags-sort" ng-click="vm.reverseTable()">
                <span class="custom-tags-header">Tag name</span><span class="sticon sticon-arrow-right ng-scope" ng-class="{ reverse: vm.sortReverse }"></span>
              </th>
              <th class="header-tag-values">Values</th>
              <th class="header-tag-actions">Actions</th>
            </tr>
          </thead>
          <tbody class="custom-tags-table-height">
            <tr ng-repeat="customTag in vm.customTags">
              <td class="header-tag-name">
                <span ng-hide="customTag.vming">{{ customTag.orgTagType }}</span>
              </td>

              <td class="header-tag-values">
                <div ng-show="customTag.orgTagValues.length <= 10">
                  <span ng-repeat="tag in customTag.orgTagValues">{{ $first ? '' : $last ? ' and ' : ', ' }}{{ tag.name }}</span>
                </div>

                <div ng-show="customTag.orgTagValues.length > 10">
                  <!-- Show the first 0-10 items -->
                  <div class="custom-tags-pointer" title="more..." ng-click="tag.show_extra = !tag.show_extra" ng-show="!tag.show_extra">
                    <span ng-repeat="tag in customTag.orgTagValues | limitTo:10 ">
                      {{ $first ? '' : $last ? ' and ' : ', ' }}{{ tag.name }}
                    </span>
                    <span class="btn-link">(+)</span>
                  </div>
                </div>

                <span ng-show="customTag.orgTagValues.length > 10">
                  <div class="custom-tags-pointer" title="less..." ng-click="tag.show_extra = !tag.show_extra" ng-show="tag.show_extra">
                    <span ng-repeat="tag in customTag.orgTagValues ">
                      {{ $first ? '' : $last ? ' and ' : ', ' }}{{ tag.name }}
                    </span>
                    <span class="btn-link">(-) </span>
                  </div>
                </span>
              </td>

              <td class="header-tag-actions">
                <span class="org-custom-tags-table-buttons" ng-click="vm.editCustomTagItem($index)" data-title="{{ 'admin.EDITCUSTOMTAG' | translate }}" bs-tooltip>
                  <span class="sticon sticon-edit-small org-custom-tags-table-edit"></span>
                </span>
                <span class="org-custom-tags-table-buttons" ng-click="vm.showDeleteCustomTagModal($index)" data-title="{{ 'admin.DELETECUSTOMTAG' | translate }}" bs-tooltip>
                  <span class="sticon sticon-delete-small org-custom-tags-table-delete"></span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
