<location-selector
  class="location-navigation-popover"
  locations="vm.locations"
  location-is-selected="vm.locationIsActive(locationId)"
  language="vm.language"
  collapsed-locations="vm.collapsedLocations"
  location-href="vm.getLocationHref(locationId)"
  show-select-all-button="vm.showSelectAllButton">
  <a
    ng-if="vm.activeLocationId !== undefined && vm.locations.length > 1"
    class="site-link"
    ng-href="{{vm.getSiteHref(locationId)}}">
    &larr; <span translate>locationSelector.PROPERTYOVERALL</span>
  </a>
</location-selector>
