<div class="user-access" ng-if="vm.enabled">
  <div class="user-access-content">
    <div ng-if="!vm.error || site.locations.length === 0" class="site-access">
      <h2 translate>.SITEACCESS</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th data-field="sites sites-name" translate>.SITENAME</th>
              <th data-field="sites-location-data" translate>.GETLOCATIONDATA</th>
              <th data-field="sites-location-data" translate>.ACCESSVIATAGS</th>
              <th data-field="sites-actions" translate>.ACCESSVIASITE</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="site in vm.sites track by site.id">
              <td>{{ ::site.name }}</td>
              <td class="site-location-data">
                <div multiple-selector-popover items="site.locations" order-by="vm.orderBy" show-select-all-button="false" selected-items="vm.selectedLocations[site.id]"
                  select-item="vm.toggleLocation(site.id)" ng-if="site.locations.length > 0">
                  <span class="select-counter" ng-if="vm.selectedLocations[site.id].length > 0 && vm.getAllData[site.id] !== true">
                    {{ vm.selectedLocations[site.id].length }}
                  </span>
                  <span translate>Select Location</span>
                  <span class="sticon sticon-chevron-down dropdown-icon"></span>
                </div>
                <div ng-if="site.locations.length === 0" translate>.NOLOCATIONS</div>
              </td>
              <td class="site-tag-access">
                <div ng-if="site.taggedSiteAccess === true" title="User has tag access to site..." class="glyphicon glyphicon-ok icon-success" ></div>
                <div ng-if="site.taggedSiteAccess === false" title="User does not have tag access to site..." class="glyphicon glyphicon-remove icon-fail"></div>
              </td>
              <td class="site-actions">
                <ui-switch chosen="vm.getAllData[site.id]" disabled="vm.enabled === false" ng-click="vm.toggleSiteAccess(site.id)"></ui-switch>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="site-access error-getting-site" ng-if="vm.error">
      <h2>{{ vm.errorMessage }}</h2>
    </div>

  </div>

  <div class="site-access no-site-access" ng-if="site.locations.length === 0">
    <h2 translate>.NOSITESAVAILABLE</h2>
  </div>

  <div class="account-preferences-loading loading" ng-if="vm.loading">
    <div class="account-preferences-loading-spinner"></div>
    <div class="loading-text" translate>common.LOADING</div>
  </div>
</div>
