<div ng-include="'app/analytics/widget-library/partials/date-range.partial.html'"></div>

<hr />

<div class="row control-row">
  <div class="col-xs-12">
    <h4 translate>widgetLibrary.DATATABLECONTROLS</h4>
    <div class="csv-export-metric-selector-wrapper col-xs-12 col-md-6" ng-class="{'even': !$even, 'odd': !$odd}" ng-repeat="control in vm.tableControls track by control.name">
      <div click-isolate="false" ng-click="vm.toggleControl(control)" class="csv-export-metric-selector">
        {{control.name}}
        <ui-switch chosen="control.selected" disabled="control.disabled" class="csv-export-metric-switch" ng-click="vm.toggleControl(control)">
          <span class="ui-switch" ng-class="{'chosen': control.selected, 'disabled': control.disabled}"></span>
        </ui-switch>
      </div>
    </div>
  </div>
</div>

<hr ng-show="vm.columns.length > 0" />

<div class="row widget-library__modal__data-table-config__conditional-formatting" ng-show="vm.columns.length > 0">
  <div class="col-xs-12">
    <h4>Conditional Formatting</h4>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="metricColumn">Metrics</th>
          <th class="rankColumn"  ng-show="vm.conditionalFormatMetrics.length > 0">Show Rank</th>
          <th class="typeColumn"  ng-show="vm.conditionalFormatMetrics.length > 0">Formatting Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="metric in vm.columns track by metric.label">
          <td>
            <input 
              type="checkbox"
              id="{{::metric.label}}formatter"
              ng-click="vm.toggleFormatting(metric)"
              ng-checked="metric.conditionalFormat"
            />
            <label for="{{::metric.label}}formatter" translate>{{::metric.shortTranslationLabel}}</label>
          </td>
          <td ng-show="metric.showFormatOptions">
            <input 
              type="checkbox"
              id="{{::metric.label}}rank"
              ng-checked="metric.rank"
              ng-click="metric.rank = !metric.rank; vm.toggleRank(metric, metric.rank)"
            />
            <label for="{{::metric.label}}rank">{{metric.rank !== true ? 'Off' : 'On'}}</label>
          </td>
          <td ng-show="metric.showFormatOptions">

            <input 
              type="radio"
              id="{{::metric.label}}formatAuto"
              name="{{::metric.label}}formatType"
              ng-click="vm.formatType(metric, 'auto')"
              ng-checked="metric.formatType !== 'custom'"
            />
            <label for="{{::metric.label}}formatAuto" translate>Auto</label>

            <input 
            type="radio"
            id="{{::metric.label}}formatCustom"
            name="{{::metric.label}}formatType"
            ng-click="vm.formatType(metric, 'custom')"
            ng-checked="metric.formatType === 'custom'"
          />
          <label for="{{::metric.label}}formatCustom" translate>Custom</label>
            
            <div class="dropdown">
              <!-- ngIf: vm.editMode -->
              <button 
                ng-show="metric.formatType === 'custom' && metric.showDupeList"
                type="button"
                class="btn btn-default btn-sm dropdown-toggle inline-block"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ng-model="hide"
                ng-init="hide = false">
                <span>Copy Style</span>
                <span class="caret"></span>
              </button>
              
              <ul class="dropdown-menu">
                <li ng-repeat="dupe in metric.avaliableDupes track by dupe.metric">
                  <a href="" ng-click="vm.dupeFormatting(dupe, metric)" translate>{{dupe.transLabel}}</a>
                </li>
              </ul>
            
            </div>
          </td>

          <td ng-show="metric.formatType === 'custom' && metric.showFormatOptions">
            <p><span translate>{{::metric.shortTranslationLabel}}</span> Formatting Breakpoints</p>
            <div ng-repeat="bound in metric.conditionalFormatBounds track by $index" class="bounds">
              <label for="lowerBound{{metric.kpi}}{{$index}}">Lower {{$index + 1}}</label>
              <input 
                id="lowerBound{{metric.kpi}}{{$index}}" 
                ng-model="bound.lowerBound" 
                step="0.1"
                min="0" 
                max="100" 
                type="number" 
                ng-change="vm.checkBounds(metric, bound, true); vm.updateAvaliableDupes();" 
            
              />
              <span class="suffixSign">%</span>

              <label for="upperBound{{metric.kpi}}{{$index}}">Upper {{$index + 1}}</label>
              <input 
                id="upperBound{{metric.kpi}}{{$index}}" 
                ng-model="bound.upperBound" 
                step="0.1"
                min="0" 
                max="100" 
                type="number" 
                ng-change="vm.checkBounds(metric, bound, false); vm.updateAvaliableDupes();" 
              />
              <span class="suffixSign">%</span>
              
              <div
                class="colorLabel"
                colorpicker="hex" 
                colorpicker-position="bottom" 
                colorpicker-size="200"
                ng-model="bound.color"
                ng-change="vm.updateAvaliableDupes(); vm.updateColor(metric, bound);" 
                style="background-color: {{bound.color}}"
              ></div>

              <button
                class="btn btn-default btn-sm pull-right"
                ng-click="vm.removeBound(metric, bound, $index); vm.updateAvaliableDupes();"><i class="sticon sticon-circle-delete"></i>
              </button>
              
              <hr ng-hide="$last && metric.conditionalFormatBounds.length < 6" />
            </div>
            <div 
              ng-hide="metric.conditionalFormatBounds.length > 5"
              class="addRange"
            >
              <button 
                ng-click="vm.updateFormatConfigs(metric); vm.updateAvaliableDupes();">Add Range<i class="sticon sticon-plus-add"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
