<div class="widget-library__modal__data-table-config modal-content">
  <form>
    <header>
      <div class="modal-header">
        <h2 class="modal-title" ng-show="!vm.previewScreen && !vm.editMode" translate>widgetLibrary.NEWDATATABLE</h2>
        <h2 class="modal-title" ng-show="!vm.previewScreen && vm.editMode" translate>widgetLibrary.EDITDATATABLE</h2>
        <h2 class="modal-title" ng-show="vm.previewScreen" translate>widgetLibrary.PREVIEWDATATABLE</h2>
      </div>
    </header>

    <div class="modal-body" ng-show="!vm.previewScreen">

      <nav>
        <div class="nav-tabs" ng-model="vm.tab" ng-init="tab = 'desc'">
          <ul>
            <li ng-class="{'selected-tab' : tab === 'desc'}" ng-click="tab = 'desc'">{{ ::'widgetLibrary.WIDGETDESCRIPTION' | translate }}<span ng-class="{'requirement-unfulfilled' : vm.widgetName.length < 1}">*</span></li>
            <li ng-class="{'selected-tab' : tab === 'build'}" ng-click="tab = 'build'">{{ ::'widgetLibrary.DATATABLEBUILDER' | translate }}<span ng-class="{'requirement-unfulfilled' : vm.columns.length < 1}">*</span></li>
            <li ng-class="{'selected-tab' : tab === 'control'}" ng-click="tab = 'control'">{{ ::'widgetLibrary.TABLECONTROLS' | translate }}</li>
            <li ng-class="{'selected-tab' : tab === 'dist'}" ng-click="tab = 'dist'">{{ ::'widgetLibrary.DISTRIBUTETOORGS' | translate }}</li>
          </ul>
        </div>
      </nav>

      <div class="tab" ng-show="tab === 'desc'">
        <div ng-include="'app/analytics/widget-library/partials/config-description.partial.html'"></div>
      </div>

      <div class="tab" ng-show="tab === 'build'">
        <div ng-include="'app/analytics/widget-library/partials/data-table-config/data-table-builder.partial.html'"></div>
      </div>

      <div class="tab" ng-show="tab === 'control'">
        <div ng-include="'app/analytics/widget-library/partials/data-table-config/data-table-controls.partial.html'"></div>
      </div>

      <div class="tab" ng-show="tab === 'dist'">
        <div ng-include="'app/analytics/widget-library/partials/org-dist.partial.html'"></div>
      </div>

    </div>

    <div class="modal-body" ng-show="vm.previewScreen">
        <div ng-include="'app/analytics/widget-library/partials/data-table-config/data-table-preview.partial.html'"></div>
    </div>


    <div ng-include="'app/analytics/widget-library/partials/modal-footer.partial.html'"></div>
  </form>

</div>
