<div class="row">
  <div class="col-xs-12">
    <div class="metricSelect" dragula="'first-bag'" data-bag="metrics">
      <span
        draggable="true"
        ng-repeat="metric in vm.metrics track by metric.value"
        data-kpi="{{::metric}}"
        class="metricSelectItem"
        ng-hide="metric.kpi === 'peel_off' && vm.rowTypeOrg || metric.kpi === 'Traffic' && vm.rowTypeOrg"
        translate>
          {{::metric.shortTranslationLabel}}</span>
    </div>

    <table class="table table-striped table-bordered widget-library__modal__data-table-config__builder" ng-switch="vm.rowTypeOrg">
      <thead>
        <tr>
          <th class="switch">
            <label ng-class="{'selected': vm.rowTypeOrg === true}" for="rowTypeOrg" translate>widgetLibrary.ORGLEVEL</label>
            <label ng-class="{'selected': vm.rowTypeOrg === false}" for="rowTypeSite" translate>widgetLibrary.SITELEVEL</label>
            <input type="radio" ng-click="vm.rowTypeOrg = true" name="rowTypeSelect" id="rowTypeOrg" checked="checked" />
            <input type="radio" ng-click="vm.rowTypeOrg = false" name="rowTypeSelect" id="rowTypeSite" />
          </th>
          <th dragula="'first-bag'" data-bag="column" class="column-bag">
            <span draggable="true" ng-if="vm.editMode" ng-repeat="column in vm.editColumns track by column.value" data-kpi="{{::column}}"
              class="metricSelectItem" translate>
              {{::column.shortTranslationLabel}}
            </span>
          </th>
        </tr>
      </thead>
      <tbody ng-switch-when="true">
        <tr>
          <td translate>
            widgetLibrary.ORGANIZATION
          </td>
          <td>
            102,403
          </td>
        </tr>
      </tbody>
      <tbody ng-switch-when="false">
        <tr>
          <td>
            {{ ::'widgetLibrary.SITE' | translate }} 1
          </td>
          <td>
            52,316
          </td>
        </tr>
        <tr>
          <td>
            {{ ::'widgetLibrary.SITE' | translate }} 2
          </td>
          <td>
            3,564
          </td>
        </tr>
        <tr>
          <td>
            {{ ::'widgetLibrary.SITE' | translate }} 3
          </td>
          <td>
            46,523
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
