/*------------------------------------------------------------------------------
    Base
------------------------------------------------------------------------------*/
html {
  overflow-x: hidden; // Prevent horizontal scrollbars
  background-color: $gray-lighter; // background white after 100vh - can fix by setting body height to auto but this messes with modals
  -webkit-font-smoothing: auto; // angular material adding font smoothing globally, this causes the font to appear lighter. 
  &.state-pdf {
    background-color: $white;
    body {
      height: auto;
    }
  }
}

body {
  padding-top: $navbar-height;
  background-color: $gray-lighter;
  -webkit-font-smoothing: auto; // angular material adding font smoothing globally, this causes the font to appear lighter. 
  *:focus {
    outline: none;
  }

  @include media-print {
  padding-top: 0;
  }
}

/*------------------------------------------------------------------------------
    Loading Indicator
------------------------------------------------------------------------------*/
.page-loading-indicator{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  margin-top: 8px;
  background-image: url(../assets/images/loader.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: transparent;
  display: inline;
}

.fadePage{
  filter: alpha(opacity=10);
  opacity: 0.1;
}

.full-width {
  width: 100%!important; 
} 

.full-height {
  height: 100%!important;
}
