
<multi-select-list
  options="vm.metrics"
  selected-items="vm.unOrderedSelectedMetrics"
  id-property="{{vm.idProperty}}"
  title-property="{{::vm.titleProperty}}"
  min-length="vm.minLength"
  max-length="vm.maxLength"
  placeholder="{{ vm.placeholder | translate }}"
  list-title = "vm.listTitle"
  translate-titles="vm.trueVal"
  toggle-selection-by-id="vm.toggleSelectionById"
  dropdown-class="'btn-xs'"
  hide-button-title="vm.hideButtonTitle"
  btn-tooltip="vm.btnTooltip"
  show-list-title="vm.showListTitle"
  button-icon="vm.buttonIcon"
  disabled="vm.disabled">
</multi-select-list>
