csv-exporter {
  a {
    @extend .btn;
    @extend .btn-default;
    font-size: 16px;
    height: 38px;
    border: 1px solid $btn-default-border;
    color: $brand-primary;

    .button-text {
      vertical-align: text-bottom;
    }
  }
}