.admin-tabs {
  .nav-tabs>li.active>a {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom-width: 2px;
    border-color: #0aaafc;
    font-weight: bold;
    background-color: #edebeb;
  }
  .org-admin-tab {
    width: 16%;
    cursor: pointer;
  }
  .super-admin-tab {
    width: 14.2%;
    text-transform: uppercase;
    cursor: pointer;
  }

  #su-formatting {
    .alert-success {
      margin-top:20px;
    }

    .alert {
      span.sticon {
        margin-right:5px;
      }
    }
  }
}
