<section class="admin-tabs">
  <!-- display the Super User Partial -->
  <div>
    <ul class="nav nav-tabs">
      <li class="active super-admin-tab"><a data-toggle="tab" data-target="#su-sites">SITES</a></li>
      <li class="super-admin-tab"><a data-toggle="tab" data-target="#su-users">USERS</a></li>
      <li class="super-admin-tab"><a data-toggle="tab" data-target="#su-formatting">FORMATTING</a></li>
      <li ng-if="false" class="super-admin-tab"><a data-toggle="tab" data-target="#su-sso">SINGLE SIGN-ON</a></li>
      <li class="super-admin-tab"><a data-toggle="tab" data-target="#su-kpi">KPI LIBRARY</a></li>
      <li class="super-admin-tab"><a data-toggle="tab" data-target="#su-tags">TAGS</a></li>
      <li ng-if="::vm.superuser" class="super-admin-tab"><a data-toggle="tab" data-target="#su-advanced">ADVANCED OPTIONS</a></li>
    </ul>

    <div class="tab-content">

      <div id="su-sites" class="tab-pane fade in active">
        <div  class="admin-organization-edit-sites" ui-view="adminSites"></div>
      </div>

      <div id="su-users" class="tab-pane fade">
        <div class="admin-organization-edit-users" ui-view="adminUsers"></div>
      </div>

      <div id="su-kpi" class="tab-pane fade">
        <div class="admin-organization-kpi-lib" ui-view="adminKpi"></div>
      </div>

      <div id="su-formatting" class="tab-pane fade">

        <div class="alert alert-success" ng-if="edit.saveSuccessful" translate>
          .SAVESUCCESSFUL
        </div>
        <div class="alert alert-danger" ng-if="edit.saveFailed" translate>
          .ERROR
        </div>

        <section class="time-settings">
          <div class="action-bar sites-action-bar">
            <h1 translate>.TIMESETTINGS</h1>
          </div>

          <div class="org org-time-settings">
            <section class="metrics">
              <div class="metric">
                <h3>Time format</h3>
                <button type="button" class="btn btn-default" ng-model="edit.timeFormat.selectedItem" bs-options="item.value as item.label for item in edit.timeFormat.items"
                  bs-select>
                  24 / 12 <span class="caret"></span>
                </button>
              </div>

              <div class="metric">
                <h3>Date format</h3>
                <button type="button" class="btn btn-default" ng-model="edit.dateFormat.selectedItem" bs-options="item.value as item.label for item in edit.dateFormat.items"
                  bs-select>
                  MM / DD / YYYY <span class="caret"></span>
                </button>
              </div>

              <div class="metric">
                <h3>Calendar format</h3>
                <button type="button" class="btn btn-default" ng-model="edit.calendarFormat.selectedItem" bs-options="item.value as item.label for item in edit.calendarFormat.items"
                  bs-select>
                  NRF Calendar <span class="caret"></span>
                </button>
              </div>
            </section>
          </div>
        </section>

        <section class="power-hours-settings">

          <form name="powerHoursForm" ng-submit="edit.saveChanges(dwellTimeForm, powerHoursForm)">
            <div class="account-preferences-loading" ng-if="edit.isLoading">
              <div class="account-preferences-loading-spinner"></div>
              <div translate>common.LOADING</div>
            </div>
            <div class="action-bar sites-action-bar">
              <h1 translate>.POWERHOURSSETTINGS</h1>
            </div>
            <div class="org">
              <section class="metrics">
                <div class="row">
                  <div class="col-xs-12 col-md-8">
                    <div class="alert alert-info">
                      <span class="sticon sticon-info" aria-hidden="true"></span>
                      <span translate>
                          .POWERHOURSTHRESHOLDINFO
                      </span>
                    </div>
                  </div>
                </div>


                <div class="metric">
                  <h3 translate>
                    .LOWERTHRESHOLD
                  </h3>

                  <input
                    type="number"
                    min="0"
                    max="100"
                    step=".1"
                    ng-model="edit.powerHoursLower"
                    decimal-validator
                    required/>  &#37;
                </div>

                <div class="metric">
                  <h3 translate>
                    .UPPERTHRESHOLD
                  </h3>

                  <input
                    type="number"
                    min="{{edit.powerHoursLower}}"
                    max="100"
                    step=".1"
                    ng-model="edit.powerHoursUpper"
                    decimal-validator
                    required/> &#37;
                </div>
              </section>
            </div>
            <div class="alert alert-danger" ng-if="edit.inValidatedPowerHour" translate>
              .POWERHOURTHRESHOLDS
            </div>
            <div class="alert alert-danger" ng-if="edit.inValidatedDwellTime" translate>
              .DWELLTIMEVALUES
            </div>

            <section class="actions">
              <button type="submit" class="btn btn-primary" translate> .SAVE </button>
            </section>
          </form>
        </section>
      </div>

      <div id="su-sso" class="tab-pane fade">
        <h3>SSO</h3>
     </div>

      <div id="su-tags" class="tab-pane fade">
        <custom-tags/>
      </div>

      <div id="su-advanced" class="tab-pane fade">
        <div class="alert alert-success" ng-if="edit.saveSuccessful" translate>
          .SAVESUCCESSFUL
        </div>
        <div class="alert alert-danger" ng-if="edit.saveFailed" translate>
          .ERROR
        </div>   
        <div class="org org-subscriptions">
          <div class="action-bar sites-action-bar">
            <h1 translate>subscription.SUBSCRIPTIONS</h1>
          </div>

          <div class="row options">
            <div class="col-xs-12 col-sm-6 col-md-4 option" ng-repeat="(key, value) in edit.subscriptions track by key" ng-if="key !== 'large_format_mall'">
              <ui-switch chosen="edit.subscriptions[key]"></ui-switch>
              <h3>{{ 'subscription.' + key | translate }}</h3>
              <div ng-if="key === 'market_intelligence' && edit.miAdmin"
                   ng-class="{
                     'mi-admin-settings settings-button-enabled': edit.status_subscriptions.market_intelligence[edit.status_subscriptions.market_intelligence.length-1].status==='active' ||
                     edit.status_subscriptions.market_intelligence[edit.status_subscriptions.market_intelligence.length-1].status==='enabled' && value === true,
                     'mi-admin-settings settings-button-disabled': edit.status_subscriptions.market_intelligence[edit.status_subscriptions.market_intelligence.length-1].status==='disabled' ||
                     edit.status_subscriptions.market_intelligence.length === 0  && (value || !value)
                    }"
                   ng-click="edit.goToMiSubscription(value, edit.status_subscriptions.market_intelligence[0])"
                   translate>.SETTINGS
              </div>
            </div>
          </div>
        </div>

        <br/>

        <div class="org org-subscriptions">
          <div class="action-bar sites-action-bar">
            <h1 translate>admin.ORGOPTIONS</h1>
          </div>

          <div class="row options">
            <div class="col-xs-12 col-sm-6 col-md-4 option">
              <ui-switch chosen="edit.hide_sales_when_no_traffic"></ui-switch>
              <h3 translate>admin.HIDESALESWHENTRAFFICISNOTREPORTING</h3>
            </div>
          </div>
        </div>

        <br/>

        <div class="org org-time-settings">
          <form name="dwellTimeForm" ng-submit="edit.saveChanges(dwellTimeForm, powerHoursForm)">
            <div class="account-preferences-loading" ng-if="edit.isLoading">
              <div class="account-preferences-loading-spinner"></div>
              <div translate>common.LOADING</div>
            </div>
            <h2 translate>.TIMEOUT</h2>
        
            <section class="metrics">
            
              <div class="metric">
                <h3>Shopper vs. Others</h3>
                <br/>
                <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.shoppers_vs_others" name="default_value"
                  min="0" />
              </div>
            
              <div class="metric">
                <h3>Usage of Areas</h3>
                <p>(default value)</p>
                <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.default_value"
                  name="default_value" min="0" />
              </div>
            
              <div class="metric">
                <h3>Usage of Areas</h3>
                <p>Traffic Percentage Correlation</p>
                <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.traffic_percentage_correlation"
                  name="default_value" min="0" />
              </div>
            
              <div class="metric">
                <h3>Usage of Areas</h3>
                <p>First Visits</p>
                <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.first_visits"
                  name="default_value" min="0" />
              </div>
            
              <div class="metric">
                <h3>Usage of Areas</h3>
                <p>One and Done</p>
                <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.one_and_done"
                  name="default_value" min="0" />
              </div>
            
              <div class="metric">
                <h3>Usage of Areas</h3>
                <p>Locations After</p>
                <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.locations_after"
                  name="default_value" min="0" />
              </div>
            
              <div class="metric">
                <h3>Usage of Areas</h3>
                <p>Locations Before</p>
                <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.locations_before"
                  name="default_value" min="0" />
              </div>
            
            </section>
            <div class="alert alert-danger" ng-if="edit.inValidatedPowerHour" translate>
              .POWERHOURTHRESHOLDS
            </div>
            <div class="alert alert-danger" ng-if="edit.inValidatedDwellTime" translate>
              .DWELLTIMEVALUES
            </div>
            <section class="actions">
              <div class="row">
                <div class="col-md-6">
                  <span class="loading-spinner" ng-if="edit.loading"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" ng-if="edit.OrgCacheCleared">
                  <div class="alert alert-success alert-cache">
                    <span class="sticon sticon-check-small"></span>
                    <span translate> .ORGCACHECLEARED </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="alert alert-danger alert-cache" ng-if="edit.error">
                    <span class="sticon sticon-check-small"></span>
                    <span translate> .ORGCACHECLEARERRORMSG </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <button ng-click="edit.clearHazelCache()" type="button" class="btn btn-danger" translate> .CLEARORGCACHE </button>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary" translate> .SAVE </button>
                </div>
              </div>
              
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
