<div class="dropdown inline-block {{::vm.dropdownClass}}" ng-class="{'open': vm.menuOpen}" off-click="vm.menuOpen = false">
  <button
    class="btn btn-default  dropdown-toggle "
    type="button"
    title="{{ vm.btnTooltip | translate }}"
    ng-click="vm.handleDropdownBehaviour()"
    aria-haspopup="true"
    aria-expanded="true"
    ng-disabled= "vm.disabled">
    <span ng-if="!vm.hideButtonTitle" translate> {{vm.title}}</span>
    <span class="{{vm.buttonIcon}}"></span>
  </button>
  <ul class="dropdown-menu">
    <li ng-if="vm.showListTitle" class="col-xs-12 list-title">
      <label title="" translate>{{vm.listTitle}}</label>
    </li>
    <li ng-repeat="item in vm.items track by $index"
      title="{{item[vm.titleProperty] | translate }}"
      ng-class="{'dropdown-header': vm.allowOptionGrouping && item.type === 'group', 'active': item.selected}">
      <a href="" disabled ng-show="vm.maxLengthReached && !item.selected" bs-tooltip="vm.tooltip">
        {{item[vm.titleProperty]}}
      </a>
      <a href="" ng-click="vm.toggleSelection(item)" ng-show="!vm.maxLengthReached || item.selected">
        <i class="glyphicon glyphicon-ok pull-right padding-left-10" ng-show="item.selected"></i>
        <span translate>{{item[vm.titleProperty]}}</span>
      </a>
    </li>
  </ul>
</div>
