<div class="modal bulk-action-modal" id="bulkActionModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Bulk Action
          <span ng-if="vm.actionValid">
            : {{ vm.action }}
          </span>
        </h4>
      </div>

      <div class="modal-body" ng-if="vm.selectedNames.length > 0 && vm.actionValid">
        <div ng-repeat="user in vm.selectedNames track by user._id">
            <span>{{ ::user.username }} :</span>
            <span ng-if="user.status">
              {{ user.status }}
            </span>
            <span ng-if="!user.status">
              Pending
            </span>
        </div>
      </div>
      
      <div class="modal-body" ng-if="vm.selectedNames.length === 0 && vm.actionValid">
        Please select a valid user.
      </div>

      <div class="modal-body" ng-if="!vm.actionValid">
        Please select a valid bulk action.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn ui-button" ng-if="vm.selectedNames.length > 0 && vm.actionValid" ng-click="vm.applyAction()" ng-disabled="vm.applyWasCalled">Apply</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>