
<widget class="power-hours-widget" translate-namespace="powerHoursWidget" ng-class="{'pdf-landscape': vm.pdfOrientation ==='landscape'}">
  <widget-header icon="power-hours" widget-title="{{:: vm.widgetTitle}}" hide-export-icon="vm.hideExportIcon" disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportClick()" set-selected-widget="vm.setSelectedWidget()">
    <left>
      <metric-selector
        ng-if="vm.options && vm.selectedMetrics"
        selected-metrics="vm.selectedMetrics"
        metrics="vm.options"
        min-length="::vm.minLength"
        max-length="::vm.maxLength"
        title-property="displayName">
      </metric-selector>
      <div ng-show="vm.showTimeFormatInfo" class="time-format-info">
        <span 
        class="sticon sticon-info" 
        title="{{::'powerHoursWidget.HOURFORMATMESSAGEFORPDF' | translate}}"></span>
        <span translate>{{::'powerHoursWidget.HOURFORMATMESSAGEFORPDF'}}</span>
      </div>
    </left>
    <right>
       <sales-categories-selector
        ng-if="::!vm.isPdf"
        ng-show="vm.isSalesMetricSelected"
        categories="::vm.currentOrganization.portal_settings.sales_categories"
        selected-categories="vm.salesCategories"
        callback="vm.handleWatchSalesCategories"
        multiple-select="false"
        org-id="::vm.currentOrganization.organization_id"
        current-user="::vm.currentUser">
      </sales-categories-selector>
    </right>
  </widget-header>

  <widget-body>
    <div ng-if="!vm.isLoading && vm.showNoData" class="error-message">
      <span translate>common.NODATA</span>
    </div>

    <div ng-if="!vm.isLoading && vm.requestFailed" class="error-message">
      <span translate>common.DATAERROR</span>
    </div>

    <div ng-if="!vm.isLoading && !vm.requestFailed && vm.periodHasData">
      <div ng-if="!vm.isLoading && vm.gridOptions && vm.gridOptions.columnDefs && !vm.requestFailed"
        ag-grid="vm.gridOptions"
        class="power-hours-table ag-theme-material-no-roboto">
      </div>

      <div class="power-hours-table-legend">
        <div class="power-hours-table-legend-item medium-traffic">
          {{ vm.lowThreshold*100 | formatNumber : 1 : vm.numberFormatName }}% &lt;= <span translate>.TRAFFIC </span> &lt;= {{ ::vm.highThreshold*100 | formatNumber : 1 : vm.numberFormatName }}%
        </div>
        <div ng-hide="vm.highThreshold >= 1" class="power-hours-table-legend-item high-traffic">
          <span translate>.TRAFFIC</span> &gt; {{ vm.highThreshold*100 | formatNumber : 1 : vm.numberFormatName }}%
        </div>
      </div>
    </div>

    <div class="loader" ng-if="vm.isLoading">
      <span translate>common.LOADING</span>
    </div>
  </widget-body>
</widget>
