<widget class="value-list-widget" ng-class="{'disabled' : vm.model.hold || vm.model.status === 'no data', 'read-only': vm.readOnly}">
  <widget-body>
    <div ng-if="!vm.readOnly" class="tool-panel row" >
        <div class="col-xs-4 no-pads">
          <lock-toggle is-locked="vm.model.hold" on-toggle="vm.toggleLock(value)" />
        </div>
        <div
          class="col-xs-8 right"
          ng-class="{'positive': vm.model.deltaChange > 0, 'negative': vm.model.deltaChange < 0}">
          <div ng-if="vm.model.deltaChange !== '-'"><span ng-if="vm.model.deltaChange > 0">+</span>{{vm.model.deltaChange}}%</div>
          <div ng-if="vm.model.deltaChange === '-'">-</div>
        </div>
    </div>

    <div ng-if="vm.readOnly" class="variable-label">{{vm.label}}</div>
    <div class="variable-input-container">
      <input
        ng-readonly="vm.readOnly"
        ng-disabled="vm.model.hold || vm.model.status === 'no data'"
        placeholder="{{vm.model.status === 'no data' ? 'common.NODATA' : vm.model.status === 'initialised' ? '' : 'common.LOADING' | translate}}"
        class="variable-input"
        type="text"
        ng-focus="vm.setIsEditing()"
        ng-model="vm.model.val"
        ng-model-options="{ updateOn: 'blur' }"
        filter-model="vm.model"
        variable-filter/>
    </div>

    <div
      ng-if="!vm.readOnly"
      class="variable-label">
        {{vm.label}}
    </div>

    <wtf-slider
      ng-if="!vm.readOnly && vm.model.status !== 'no data' "
      on-focus="vm.setIsEditing()"
      param="vm.model"/>

  </widget-body>
</widget>
