<div translate-namespace="common" class="what-if">
  <div class="row retail-organization-summary-bar">
    <div class="retail-organization-tags" ng-show="vm.numTags > 0">
      <span class="retail-organization-tag-label" translate>retailOrganizationSummary.SELECTEDFILTERS</span>
      <span ng-repeat="tag in vm.selectedCustomTags track by tag" class="tag">{{vm.selectedTagNames[tag]}}</span>
      <span ng-repeat="tag in vm.selectedTags track by tag" class="tag">{{vm.selectedTagNames[tag]}}</span>
    </div>

    <div ng-if="vm.currentSite == null" class="col-xs-12">
      <organization-filter-widget
        current-organization="::vm.currentOrganization"
        update-selected-filters="vm.setSelectedFilters(filterTags, customTags)"
        set-selected-tags-sites="vm.setSelectedTagsSites">
      </organization-filter-widget>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <variable-widget label="{{::vm.displayNames.sales}}" kpi="sales" on-focus="vm.onFocus(isEditing)" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
    </div>

    <div class="col-xs-9">
      <variable-widget label="{{::vm.displayNames.sps}}" kpi="sps" read-only="true" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <variable-widget label="{{::vm.displayNames.traffic}}" kpi="traffic" on-focus="vm.onFocus(isEditing)" />
    </div>

    <div class="col-xs-3">
      <variable-widget label="{{::vm.displayNames.conversion}}" kpi="conversion" on-focus="vm.onFocus(isEditing)" />
    </div>

    <div class="col-xs-6">
      <variable-widget label="{{::vm.displayNames.ats}}" kpi="ats" on-focus="vm.onFocus(isEditing)" />
    </div>

  </div>

  <div class="row">
    <div class="col-xs-6">
      <variable-widget label="{{::vm.displayNames.transactions}}" kpi="transactions" on-focus="vm.onFocus(isEditing)" />
    </div>

    <div class="col-xs-3">
      <variable-widget label="{{::vm.displayNames.upt}}" kpi="upt" on-focus="vm.onFocus(isEditing)" />
    </div>

    <div class="col-xs-3">
      <variable-widget label="{{::vm.displayNames.aur}}" kpi="aur" on-focus="vm.onFocus(isEditing)" />
    </div>

  </div>

  <div class="chart-legend">
    <span class="chart-legend-label"><label translate>common.SELECTEDPERIOD</label>
      <label>({{vm.dateRanges[0].start.format(vm.dateFormat)}} - {{vm.dateRanges[0].end.format(vm.dateFormat)}})</label>
    </span>

    <span class="chart-legend-label">
      <label translate>common.PRIORPERIOD</label>
      <label>({{vm.dateRanges[1].start.format(vm.dateFormat)}} - {{vm.dateRanges[1].end.format(vm.dateFormat)}})</label>
    </span>
    <span class="chart-legend-label">
      <label translate>common.PRIORYEAR</label>
      <label>({{vm.dateRanges[2].start.format(vm.dateFormat)}} - {{vm.dateRanges[2].end.format(vm.dateFormat)}})</label>
    </span>

  </div>

  <wtf-x-analysis></wtf-x-analysis>

</div>
