<header class="dashboard__widget__pre-header">
  <div class="widgetDetails clearfix">
    <div title="{{ ::widget.orgName }}{{ widget.siteName ? '/ ' + widget.siteName : ''}}{{ widget.zone.name ? '/ ' + widget.zone.name : ''}}{{ widget.location.description ? '/ ' + widget.location.description : ''}}{{ widget.entrance.name ? '/ ' + widget.entrance.name : ''}} – {{ widget.timePeriod.tranString | translate}} {{widget.timePeriod.period}}">
      <strong class="text org">{{ ::widget.orgName }}</strong>
      <span class="text site">{{ widget.siteName ? '/ ' + widget.siteName : ''}}</span>
      <span class="text zone">{{ widget.zone.name ? '/ ' + widget.zone.name : ''}}</span>
      <span class="text location">{{ widget.location.description ? '/ ' + widget.location.description : ''}}</span>
      <span class="text entrance">{{ widget.entrance.name ? '/ ' + widget.entrance.name : ''}}</span>
      <span ng-show="!vm.editMode" class="text period">{{ widget.timePeriod.tranString | translate}} {{widget.timePeriod.period}}</span>
    </div>
    <div ng-if="widget.compStores !== undefined" >
      <strong class="strong text" translate>{{"pdf.COMPAREMODE"}}:</strong> <span class="text" translate>{{widget.compStores === true ? 'pdf.COMPSTORES' : 'pdf.ALLSTORES';}}</span>
    </div>
    <div class="pull-right period--edit dateSelector dropdown inline-block multi-select-list" ng-show="vm.editMode">
      <button type="button" class="btn btn-capsule btn-xs" aria-expanded="false"  ng-if="widget.isHourly" disabled>
        <span translate>{{widget.timePeriod.tranString}}</span>
      </button>
      <button type="button" class="btn btn-capsule btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  ng-if="!widget.isHourly">
        <span translate>{{widget.date.range.transKey || widget.timePeriod.tranString }}</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="range in widget.dateRangeTypes track by range.transKey">
          <a href="" ng-click="vm.updateWidgetDateRange(widget, range)" translate>{{::range.transKey}}</a>
        </li>
      </ul>
    </div>
    <div ng-if="widget.customTagDetails !== undefined">
        <strong class="strong text" translate>{{"retailOrganizationSummary.SELECTEDFILTERS"}}</strong>
        <span ng-repeat="customTag in widget.customTagDetails track by customTag.tag._id" class="text">{{customTag.tag.tag_type}}: {{customTag.tag.name}} <span ng-show="!$last">| </span>  </span> 
    </div>
  </div>

  <aside ng-show="vm.editMode" class="pull-right">
    <div class="editButtons">
      <article class="pull-left margin-right-5 margin-left-5 hidden">
        <button class="btn btn-default dropdown-toggle " type="button" title="Edit" ng-click="vm.editWidget(widget.summaryKey)">
          <span class="sticon sticon-edit" aria-hidden="true"></span>
        </button>
      </article>
      <article class="pull-right margin-right-5 padding-right-7">
        <button class="btn btn-default delete-in-widget" type="button" title="Delete" ng-click="vm.deleteWidget($index)" ng-show="!vm.saveLoadingIcon">
          <span class="sticon sticon-delete-small" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default" type="button" title="Delete" ng-click="vm.deleteWidget($index)" ng-show="vm.saveLoadingIcon"
          disabled>
          <span class="sticon sticon-delete-small" aria-hidden="true"></span>
        </button>
      </article>
    </div>
  </aside>
</header>
