<div
  ng-if="vm.navigableFloors.length > 1"
  class="dropdown floor-selector"
  ng-class="{
    'open': vm.floorDropdownIsOpen
  }"
  off-click="vm.closeFloorDropdown()">
  <button
    class="btn btn-default dropdown-toggle"
    type="button"
    data-toggle="dropdown"
    ng-click="vm.toggleFloorDropdown()">
    <span translate>.FLOOR</span> <span>{{ vm.floorNum }}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li
      role="presentation"
      ng-repeat="floor in vm.navigableFloors track by $index"
      ng-class="{
        'active': vm.floorIsSelected(floor)
      }">
      <a
        role="menuitem"
        tabindex="-1"
        href
        ng-click="vm.setFloorNumAndCloseDropdown(floor)">
        <span translate>.FLOOR</span> <span>{{ ::floor }}</span>
      </a>
    </li>
  </ul>
</div>

<div class="highlighted-location-info" ng-if="vm.highlightedLocation">
  <div><strong>{{ vm.highlightedLocation.description }}</strong></div>
  <div ng-if="vm.hasValue(vm.highlightedLocation)">
    {{vm.formatValue({ value: vm.getValue(vm.highlightedLocation) })}}
  </div>
</div>

<leaflet-map
  ng-if="vm.locations.length > 0"
  class="heatmap-map"
  ng-class="{
    'clickable': vm.isClickable()
  }">
  <geojson-feature
    ng-repeat="location in vm.locations | filter : vm.shouldBeRendered track by location.location_id"
    geometry="vm.getGeometry(location)"
    feature-style="{
      weight: vm.isHighlighted(location) ? 4 : 2,
      color: '#ffffff',
      opacity: 1,
      fillColor: vm.getColor(location),
      fillOpacity: 1
    }"
    on-mouse-enter="vm.highlightLocation(location)"
    on-mouse-leave="vm.clearHighlight()"
    on-click="vm.handleClick({ location: location })"
  />
</leaflet-map>

<div class="heatmap-legend">
  <div class="heatmap-value-legend">
    <strong class="heatmap-value-legend-label">{{vm.legendLabel}}</strong>
    <span class="heatmap-value-legend-high-label" translate>heatmapWidget.LOW</span>
    <span class="heatmap-value-legend-items">
      <span
        ng-repeat="color in vm.colors track by $index"
        style="background-color: {{color}}"
        class="heatmap-value-legend-item">
      </span>
    </span>
    <span class="heatmap-value-legend-low-label" translate>heatmapWidget.HIGH</span>
  </div>
  <div class="heatmap-selected-location-legend" ng-if="vm.activeLocation">
    <strong class="heatmap-selected-location-legend-label" translate>
      .SELECTEDAREA
    </strong>
    <span class="heatmap-selected-location-legend-item"></span>
  </div>
</div>
