tree-view-accordion {
  ul,
  .tree-view-accordion {
    list-style: none;
    padding: 0;

    li {
      position: relative;

      .caret {
        width: 30px;
        height: 28px;
        margin: 0;
        padding: $padding-base-vertical $padding-base-vertical 0 0;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transition: all .35s ease;
                transition: all .35s ease;

        &.caret-inverted {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          padding: $padding-base-vertical 0 0;
        }
        &:hover{
          cursor: pointer;
          color: $light-blue;
        } 
      }
      
      label {
        display: inline-block;
        width: 100%;
        padding: $padding-base-vertical;
        border-bottom: 1px solid $gray-lighter;
        margin: 0;
        font-weight: normal;

        &.first-child-level {
          padding-left: $padding-base-vertical * 2.5;
        }

        &.second-child-level {
          padding-left: $padding-base-vertical * 4;
        }

        &:hover,
        &.is-selected {
          cursor: pointer;
          color: $light-blue;
        } 

        &.is-selected {
          border-color: lighten($light-blue, 30%);
        }

        .cb-item {
          cursor: pointer;
          margin: 0 5px 0 0;
          vertical-align: middle;
        }
      }
    }
  }
}