<widget 
  class="organization-filter-widget-small" 
  ng-if="::!vm.organizationTagsIsNull" 
  translate-namespace="common">

  <div class="filter-header" ng-class="{'no-filters-selected': vm.selectedTagIds.length == 0}">
    <span 
      class="sticon sticon-trash"
      ng-click="vm.clearFilters()">
    </span>
    <div 
      class="filter-title filter-main-title"
      ng-click="vm.clearFilters()">
        <span translate>common.CLEAR</span>
    </div>
    <span 
      class="sticon sticon-list"
      ng-click="vm.toggleFilters()"
      ng-class="{'open': vm.filterIsOpen}">
    </span>
    <div class="red-dot-container" ng-show="vm.selectedTagIds.length > 0">
      <span class="red-dot"></span>
    </div>
  </div>

  <div 
    class="filter-selection col-xs-12" 
    ng-show="vm.filterIsOpen">
    
    <div class="row" ng-repeat="row in ::vm.rows track by $index">
      <div 
        ng-repeat="column in ::row.columns track by $index"
        class="col-md-4 col-sm-6 col-xs-12">
        <h3 ng-if="::column.name.length > 0">
          {{::column.name}}
        </h3>
        <h3 ng-if="::column.name.length === 0">
          &nbsp;
        </h3>

        <form class="form-horizontal">
          <div class="form-group" ng-repeat="level in ::column.levels track by level._id">
            <div class="checkbox"> 
              <label> 
                <input 
                  type="checkbox" 
                  ng-change="vm.toggleLevelSelection(level)"
                  ng-model="level.selected" />
                {{::level.name}} ({{::level.site_count}})
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row footer">
      <div class="col-xs-12">
        <button class="btn btn-primary action-btn" ng-click="vm.applyFilters()" translate>.APPLY</button>
        <button class="btn btn-default action-btn" ng-click="vm.cancel()" translate>.CANCEL</button>
        <button class="btn btn-default action-btn" ng-click="vm.clearFilters()" translate>.CLEAR</button>

        <strong ng-show="vm.selectedSiteCount > 0">
          {{vm.selectedSiteCount}} / {{::vm.currentOrganization.site_count}}
          <span translate>common.SITES</span>
        </strong>          
      </div>
    </div>
  </div>
</widget>
