<div translate-namespace="compareWidget">
  <div
    class="location-list-controls clearfix">
    <button
      class="btn btn-primary pull-left"
      zone-ids="vm.zoneIds"
      zone-selector-popover
      select-button-visibility="vm.selectVisibility()"
      zones="vm.allZones"
      on-zone-click="vm.toggleZone(zoneId)"
      zone-is-selected="vm.zoneIsSelected(zoneId)"
      selectable-zone-types="vm.selectableZoneTypes"
      selected-zones-on-click="vm.selectAll(allZonesList)"
      show-select-all-button="vm.showSelectAllButton">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <span translate>.ADDZONE</span>
    </button>

    <div
      class="btn-group import-locations"
      ng-if="vm.getNumberOfSameTypeWidgets().length > 0"
      ng-class="{ 'open' : vm.importLocationsPopupIsOpen }">
      <button
        class="btn btn-default dropdown-toggle pull-left"
        select-button-visibility="vm.selectVisibility()"
        ng-click="vm.importLocationsPopupIsOpen=!vm.importLocationsPopupIsOpen"
        off-click="vm.importLocationsPopupIsOpen = false">
        <span translate>.USEZONES</span>

      </button>
      <ul
        class="dropdown-menu">
        <li
          ng-repeat="widget in vm.availableWidgets"
          ng-if="widget.type !== vm.currentWidgetType && widget.locationsType === vm.currentWidgetLocations"
          >
          <a ng-click="vm.importZones(widget.type, vm.currentWidgetType)" class="import-location-item">
            {{ widget.translationSlug | translate }}
          </a>
        </li>
      </ul>
    </div>

    <button
      ng-if="vm.selectButtonVisibility"
      ng-click="vm.removeAllZones()"
      class="btn btn-default btn-xs pull-right">
      <strong class="text-uppercase" translate>.CLEARALL</strong>
      <span class="clear-icon glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>

  <ul
    ng-if="vm.selectedZones.length > 0"
    class="location-list list-unstyled">
    <li ng-repeat="(key,zone) in vm.selectedZones">
      {{zone.name}}
      <span
        ng-show="vm.zoneHasData[vm.currentWidgetType].length > 0 && vm.zoneHasData[vm.currentWidgetType][key] !== true && !vm.isLoading"
        class="sticon sticon-notice no-data-icon"
        data-placement="bottom"
        data-trigger="hover"
        data-title="{{ 'common.NODATA' | translate }}"
        bs-tooltip>
      </span>

      <span
        ng-if="vm.selectButtonVisibility"
        class="remove-location"
        ng-click="vm.toggleZone(zone.id)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </span>
    </li>
  </ul>
</div>
