<linechart
  ng-if="vm.chartData && vm.chartOptions"
  data="vm.chartData"
  options="vm.chartOptions">
  <linechart-tooltip>
    <div class="comparison-chart-tooltip">
      <table>
        <thead>
          <th colspan="2">{{vm.chartData.labels[seriesItemIndex]}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="series in vm.chartData.series track by $index">
            <th>
              {{vm.seriesNames[$index]}}
            </th>
            <td ng-switch="series[seriesItemIndex] === null || series[seriesItemIndex] === undefined">
              <span ng-switch-when="false">{{vm.formatValue()(series[seriesItemIndex])}}</span>
              <span ng-switch-when="true" translate>.NA</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </linechart-tooltip>
</linechart>
