
<div class="row" translate-namespace="compareWidget" >
  <div
    class="col-xs-8 comparison-chart-container"
    ng-switch="vm.zones.length > 0">
    <comparison-widget-chart
      ng-switch-when="true"
      class="comparison-widget-chart"
      series="vm.data"
      kpi="vm.kpi"
      date-format-mask="vm.dateFormatMask"
      number-format-name="vm.numberFormatName"
      series-names="vm.zoneNames"
      format-value="vm.formatValue"
      ng-if="!vm.isLoading && !vm.noData && !vm.requestFailed">
    </comparison-widget-chart>
    <div
      ng-switch-when="true"
      class="text-center error-message"
      ng-if="!vm.isLoading && vm.noData">
      <span translate>common.NODATA</span>
    </div>

    <div class="loader" ng-switch-when="true" ng-if="vm.isLoading && !vm.requestFailed">
      <span translate>common.LOADING</span>
    </div>

    <div
      ng-switch-when="true"
      ng-if="vm.requestFailed && !vm.isLoading"
      class="text-center error-message">
      <span translate>common.DATAERROR</span>
    </div>
    <div ng-switch-when="false" translate>
      .SELECTAREAS
    </div>
  </div>
  <div class="col-xs-4">
    <comparison-widget-zone-list
      org-id="vm.orgId"
      site-id="vm.siteId"
      zone-ids="vm.zoneIds"
      current-widget-type="vm.currentWidgetType"
      selected-areas="vm.selectedAreas"
      language="vm.language"
      is-loading="vm.isLoading"
      available-widgets="vm.availableWidgets"
      set-widget-areas="vm.passWidgetAreas(copyFrom,copyTo)"
      chart-data="vm.data"
      select-button-visibility="vm.selectButtonVisibility">
    </comparison-widget-zone-list>
  </div>
</div>

