<widget class="organization-summary-widget" translate-namespace="organizationSummaryWidget">

  <widget-header
    widget-title="{{ 'organizationSummaryWidget.HEADER' | translate }}"
    icon="site"
    hide-export-icon="vm.hideExportIcon"
    disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportClick()"
    set-selected-widget="vm.setSelectedWidget()">
    <left>
      <div class="btn-group" ng-if="!vm.isLoading">
        <button
          ng-class="{'active': vm.compareType === 'range1'}"
          ng-click="vm.setCompareType('range1')"
          class="btn btn-xs btn-default">
          <span ng-if="vm.compareRangeIsPriorPeriod(vm.compareRange1Type)" translate> common.PRIORPERIOD </span>
          <span ng-if="vm.compareRangeIsPriorYear(vm.compareRange1Type)" translate> common.PRIORYEAR </span>
          <span ng-if="!vm.compareRangeIsPriorPeriod(vm.compareRange1Type) && !vm.compareRangeIsPriorYear(vm.compareRange1Type)" translate> common.CUSTOMCOMPARE1</span>
        </button>
        <button
          ng-class="{'active': vm.compareType === 'range2'}"
          ng-click="vm.setCompareType('range2')"
          class="btn btn-xs btn-default">
          <span ng-if="vm.compareRangeIsPriorPeriod(vm.compareRange2Type)" translate> common.PRIORPERIOD </span>
          <span ng-if="vm.compareRangeIsPriorYear(vm.compareRange2Type)" translate> common.PRIORYEAR </span>
          <span ng-if="!vm.compareRangeIsPriorPeriod(vm.compareRange2Type) && !vm.compareRangeIsPriorYear(vm.compareRange2Type)" translate> common.CUSTOMCOMPARE2</span>
        </button>
      </div>
      <span ng-if="vm.allRequestsSucceeded && !vm.isLoading">
      <input type="search" placeholder="{{ ::vm.sitePlaceholder }}"
             ng-model="vm.filter.text"
             ng-keydown="vm.filterKeyDown($event)"
             ng-class="{'valid-chars': vm.filterItems !== false}"
             class="filter filter-sites"
      />
    </span>
    </left>
  </widget-header>

  <div class="table-responsive">

    <div ng-if="!vm.isLoading && !vm.allRequestsSucceeded" class="panel-body">
      <div class="text-center error-message">
        <span translate>common.DATAERROR</span>
      </div>
    </div>

    <div class="panel-body" ng-if="vm.isLoading">
      <div class="loader">
        <span translate>common.LOADING</span>
      </div>
    </div>

    <section class="pdf-table" ng-if="vm.isPdf">
      <ng-include
        src="'components/widgets/organization-summary-widget/organization-summary-widget-table-pdf.partial.html'">
      </ng-include>
    </section>

    <dtable id="organization-summary-widget-table" class="table" options="vm.options" rows="vm.orgSiteData" ng-if="!vm.isPdf && vm.allRequestsSucceeded && !vm.isLoading" ng-style="{height: vm.height}"></dtable>

  </div>
</widget>
