<div class="table-legend" ng-show="vm.batchView.length > 0 && vm.stRendered">
  <span class="site-name-label site-name-label--yellow" translate>.OUTOFSTOREOPPORTUNITY</span>
  <span class="site-name-label site-name-label--orange" translate>.HIGHPERFORMERS</span>
  <span class="site-name-label site-name-label--purple" translate>.INSTOREOPPORUNITY</span>
  <span class="site-name-label site-name-label--cyan" translate>.POORPERFORMERS</span>
  <span class="site-name-label" translate>.UNCLASSIFIED</span>
</div>

<div ng-if="vm.stRendered" class="retail-table">
  <fixed-header-table>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th
            ng-repeat="header in vm.cols track by header.prop"
            col="{{::header.name}}"
            class="header-cell"
            resize
            ng-style="{'min-width': header.width + 'px', 'text-align': 'center' }">

            <div ng-if="::header.name === 'site'" class="filter org-filter">
              <input
                type="search"
                placeholder="{{ 'retailOrganization.SEARCH' | translate }}"
                ng-model="vm.filterText"
                ng-model-options="{ debounce: 400 }"
                ng-change="vm.filterSites()"
                ng-class="{'valid-chars': vm.filterText !== false}"
                class="filter-sites" />
              <i class="sticon sticon-search"></i>
            </div>

            <div ng-if="::header.name !== 'site' && header.name !== '%'" ng-click="vm.sortTable(header)">
              <span
                class="metric-label"
                translate>
                {{::header.name }}
              </span>
              <span
                ng-if="vm.currentSort === header"
                class="sort-btn sort-{{header.sort}} icon-down">
              </span>
            </div>

            <div
              ng-if="header.name === '%'"
              class="percentage-change" translate>
              {{::header.name }}
            </div>

          </th>
        </tr>
      </thead>
      <tbody>
        <div ng-if="vm.batchView.length === 0" class="nodata-container">
          <div class="nodata" translate>common.NODATA</div>
        </div>

        <div ng-if="vm.batchView.length > 0">
          <tr
          ng-repeat="$row in vm.batchView track by $row.site_id">

            <td ng-repeat="$col in vm.cols track by $col.prop">
              <div
                ng-if="::$col.name === 'site'"
                class="site-link site-name-label {{::$row.siteClass}}"
                ng-style="{'width': $col.width + 'px' }">
                <a ui-sref="analytics.organization.site({ siteId: {{ ::$row.site_id }} })">{{::$row.site_name}}</a>
              </div>

              <div
                ng-if="::$col.name !== 'site' && $col.name !== '%'"
                class="metric colgroup-start text-center cell-content"
                style="width:100%" >

                <span
                  class="{{::$col.kpi}}">
                    {{::$row[$col.kpi].displayValue}}
                </span>
              </div>

              <div
                ng-if="::$col.name === '%'"
                class="td-change colgroup-end text-center cell-content"
                ng-style="{'width':  '100%' }">

                <span
                  class="change-label {{$row[$col.kpi].currentComparison.deltaColoringPeriod}}"
                  title="{{$row[$col.kpi].currentComparison.percentageChange}} {{$col.kpi}}-change">
                  {{$row[$col.kpi].currentComparison.displayValue}}
                </span>
              </div>

            </td>
          </tr>
        </div>
      </tbody>
    </table>
  </fixed-header-table>
</div>
