<div class="bulk-action-widget">
  <div class="dropdown groupby-selection-dropdown" ng-class="{ 'open' : vm.dropdownIsOpen }">
    <button class="btn dropdown-toggle" ng-click="vm.dropdownIsOpen = !vm.dropdownIsOpen" off-click="vm.dropdownIsOpen = false">
      <span>{{ vm.actionSelected }}</span>
      <span class="caret" aria-hidden="true"></span>
    </button>

    <ul class="dropdown-menu group-by-dropdown-options"> 
      <li ng-if="vm.actionSelected !== 'Bulk actions'">
        <a ng-click="vm.selectAction('Deselect')">Remove selected action</a>
      </li>
      <li ng-repeat="bulkAction in vm.bulkActions track by $index" ng-if="bulkAction !== vm.actionSelected">
        <a ng-click="vm.selectAction(bulkAction)">{{ ::bulkAction }}</a>
      </li>
    </ul>
  </div>
  
  <div class="bulk-actions-apply">
    <button class="btn ui-button apply" ng-click="vm.applyAction()">Apply</button>
    <button class="btn ui-button clear" ng-click="vm.clearActionApply()" ng-if="vm.showClearButton">Clear selected</button>
  </div>
</div>