<div class="admin admin-sites">
  <div class="action-bar sites-action-bar">
    <h2 translate>.LOCATIONS</h2>

    <div>
      <input placeholder="{{'admin.SEARCHLOCS' | translate}}" class="form-control" name="sitename" type="text" autocomplete="off"  ng-model="vm.locationFilter"/>
    </div>

  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th data-field="sites sites-name" translate>
            .LOCATIONNAME
          </th>
          <th data-field="sites sites-id" class="site-id" ng-click="table.sortById()" translate>
            .LOCATIONID
          </th>
          <th data-field="sites sites-id" class="site-id" ng-click="table.sortById()" translate>
            .LOCATIONTYPE
          </th>
          <th data-field="sites-date" translate>
            .DATEADDED
          </th>
          <th data-field="sites-actions" translate>
            .ACTIONS
          </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-show="(vm.locations | filter:{ description:vm.locationFilter}).length === 0">
          <td align="center" colspan="5" translate>common.NODATA</td>
        </tr>

        <tr ng-repeat="location in vm.locations | filter:{ description:vm.locationFilter } track by location.location_id">
          <td>{{ ::location.description }}</td>
          <td class="site-id">{{ ::location.location_id }}</td>
          <td class="org-type">
            <span>{{ ::location.location_type }}</span>
          </td>
          <td class="site-date">{{::vm.getLocaleDateString(location.created) }}</td>

          <td class="site-actions">
            <hide-toggle on-toggle="vm.toggleHide(hidden, location)" is-hidden="location.hidden"></hide-toggle>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>

<div class="add-org-success alert alert-success" ng-if="vm.success" translate>
  {{ ::vm.successMessage }}
</div>
<div class="add-org-error alert alert-danger" ng-if="vm.error">
  <span translate>.ERROR</span>: {{ ::vm.errorMessage }}
</div>
