<ul class="{{vm.parentDropDownClass}}" ng-class="{ disabled: !vm.items.length}">
  <li
    class="searching fetching"
    ng-if="isFetching">
  </li>
  <li
    id="{{vm.controlId}}"
    class="dropdown"
    ng-class="{ 'open' : vm.dropdownIsOpen }"
    ng-click="vm.onClick($event)"
    off-click="vm.offClick()">

    <a href class="dropdown-toggle">
      <span ng-if="!vm.currentItem" translate>{{vm.placeholderLabel}}</span>
      <span ng-if="vm.currentItem">{{vm.currentItem[vm.displayProperty]}}</span>
      <span class="caret" aria-hidden="true"></span>
    </a>

    <ul ng-if="vm.items.length > 0" class="dropdown-menu" ng-class="getDropdownClass()">
      <li
        ng-repeat="item in vm.items track by $index"
        ng-show="item[vm.displayProperty]"
        ng-click="vm.onItemSelect(item)">
        <span ng-if="!itemUiSrefPattern">{{item[vm.displayProperty]}}</span>
      </li>

    </ul>
  </li>
</ul>