<div class="row" translate-namespace="pdfExportView">
  <div class="pdf-export-cart col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="pdf-export-page-title col-md-6">
          <h1 translate>.EXPORTPDF</h1>
        </div>
        <div class="col-md-6">
          <div class="alert alert-info top-margin" role="alert">
            <strong translate>.NOTICE</strong> <span translate>.INFOTEXT</span>
          </div>
        </div>
      </div>

      <div ng-if="!loading">
        <div class="area-list" ng-repeat="(areaKey,area) in exportList track by areaKey">
          <h3 class="area-title">{{ getExportAreaTitle(areaKey) }}</h3>
          <div class="date-range-group" ng-repeat="(rangeKey,range) in area track by rangeKey">
            <div class="date-ranges">
              <!-- We need to use UTC dates here as the ranges stored in the export cart are fake utc date strings, not momentJs objects -->
              <h4>{{ ::range.start | amUtc | amDateFormat: dateFormat }} &ndash; {{ ::range.end | amUtc | amDateFormat: dateFormat }}</h4>
            </div>

            <div class="hierarchy" ng-repeat="group in range.heirarchyGroup track by $index">
              <h5 ng-show="::group.tagTitle"><b><span translate>pdf.SELECTEDTAGS</span>:</b> {{ ::group.tagTitle }}</h5>

              <div class="sales-cats" ng-repeat="categoryGroup in group.salesCategoryGroups track by $index">
                <h6 ng-show="::categoryGroup.catName"><b><span translate>pdf.SALESCATEGORIES</span>:</b> {{ ::categoryGroup.catName }}</h6>

                <ul class="pdf-export-metric-list list-group" ui-sortable="sortableOptions" ng-model="categoryGroup.widgets">
                  <li class="list-group-item export-item" ng-repeat="widget in categoryGroup.widgets track by $index">
                    <span ng-if="::widget.noTranslation">{{ ::widget.name }}</span>
                    <span ng-if="::!widget.noTranslation && !widgetIsRenameable(widget.partialPageName, widget.name)" translate>{{ ::'pdfExportView.METRICS.' + widget.name }}</span>
                    <span ng-if="::!widgetIsRenameable(widget.partialPageName, widget.name) && (widget.displayType || widget.name === 'traffic_per_weekday')"> - </span>
                    <span ng-show="::widget.displayName">{{ ::widget.displayName }}</span>
                    <span class="glyphicon glyphicon-remove pull-right remove-export-item" ng-click="removeMetric(areaKey, rangeKey, widget.name)" aria-hidden="true">
                    </span>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <p class="pdf-export-status" ng-if="isExportCartEmpty() && numExportsInProgress === 0" translate>.NOTHINGSELECTED</p>
        <p class="pdf-export-status" ng-if="isExportCartEmpty() && numExportsInProgress > 0" translate>
          common.LOADING
        </p>
        <div class="alert alert-danger pdf-export-error" role="alert" ng-if="lastExportFailed" translate>
          .EXPORTERROR
        </div>
      </div>

      <div class="modal-footer" ng-switch="getNumKeys(exportCart) > 0">
        <button ng-switch-when="true" class="btn btn-primary pull-left pdf-export-export-btn" ng-click="exportCurrentCartToPdf()" translate>
          .EXPORTPDF
        </button>
        <button ng-switch-when="false" class="btn btn-primary pull-left pdf-export-export-btn" translate disabled>
          .EXPORTPDF
        </button>
        <span ng-if="numExportsInProgress > 0" class="loading-spinner" aria-hidden="true">
        </span>

        <button ng-switch-when="true" class="btn btn-primary pull-left pdf-export-schedule-report" ng-click="toggleEditScheduleView()" ng-disabled="editSchedule" translate>
          .SCHEDULEREPORT
        </button>
        <button ng-switch-when="false" class="btn btn-primary pull-left pdf-export-schedule-report" ng-click="toggleEditScheduleView()" disabled translate>
          .SCHEDULEREPORT
        </button>

        <button ng-switch-when="true" class="btn btn-link pdf-export-clear-export" ng-click="clearExportCart()" translate>
          .CLEAREXPORT
        </button>
        <button ng-switch-when="false" class="btn btn-link pdf-export-clear-export" translate disabled>
          .CLEAREXPORT
        </button>

        <button ng-click="back()" class="pull-right btn btn-link pdf-export-clear-export back-button" translate>
          common.BACK
        </button>
      </div>

      <div class="row">
        <div ng-hide="!isSuccessfullySaved" class="alert alert-success fade" translate>
          .SAVEDREPORT
        </div>
        <div ng-hide="!isFailure" class="alert alert-danger fade" translate>
          .SAVINGERROR
        </div>
      </div>

      <div ng-if="editSchedule" id="edit-schedule-form">
        <scheduled-report-widget
          schedule-type="pdf"
          organization-id="orgId"
          user="currentUser"
          selected-locations="locations"
          selected-sites="sites"
          load-schedules="loadSchedules()"
          close-schedule="toggleEditScheduleView()"
          current-organization="currentOrganization"
          current-user="currentUser">
        </scheduled-report-widget>


        <div class="previous-exports" ng-if="exportedCarts.length > 0">
          <div class="previous-exports-title" translate>
            .PREVIOUSEXPORTS
          </div>
          <div class="previous-exports-list">
            <div class="previous-export-item" ng-repeat="exportedCart in exportedCarts">
              <div class="row">
                <div class="col-xs-10">
                  <div class="item-area" ng-repeat="(areaKey,area) in exportedCart">
                    <div><strong>{{ getExportAreaTitle(areaKey) }}</strong></div>
                    <div ng-repeat="(rangeKey,range) in area">
                      <div>
                        {{range.start | amDateFormat: dateFormat}} &ndash; {{range.end | amDateFormat: dateFormat}}<br />
                        <span class="item-metric" ng-repeat="metric in range.metrics" ng-if="metric.summaryKey !== 'org-custom-compare'">
                            {{ ('pdfExportView.METRICS.'+metric.name) | translate }}
                            </span>
                        <span class="item-metric" ng-repeat="metric in range.metrics" ng-if="metric.summaryKey === 'org-custom-compare'">
                              <span translate>.METRICS.custom_compare_chart </span> ({{metric.name}})
                            </span><br />
                        <span ng-show="range.metrics[0].tags.length > 0" translate>pdf.SELECTEDTAGS</span>
                        <span ng-repeat="tag in range.metrics[0].tags track by tag" ng-show="range.metrics[0].tags.length > 0">
                            {{ orgTags[range.orgId][tag] }}<span ng-show="!$last">, </span>
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2 item-actions">
                  <button class="btn btn-primary btn-xs pull-right" ng-click="exportCartToPdf(exportedCart)" translate>
                    .EXPORTPDF
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <ng-include src="'app/pdf-export/partials/separator.partial.html'"></ng-include>

        <ng-include src="'app/pdf-export/partials/active-exports.partial.html'"></ng-include>

    </div>
  </div>
</div>
