<div ng-if="currentUserLoaded" class="pdf-export" translate-namespace="pdf" ng-class="{'addMargin' : showMainLogo}">
  <header class="clearfix" ng-if="showMainLogo">
    <a class="pdf-export-logo pull-left" ng-href="#/">
      <img src="assets/images/shoppertrak-logo.svg" class="pdf-export-logo__image" alt="ShopperTrak" />
    </a>
    <div class="pull-right">
      <h4 class="pdf-export-title text-uppercase"><small translate>.ANALYTICS</small></h4>
      <div ng-show="siteList !== ''"><small><strong translate>.PROPERTIES</strong>{{siteList}}</small></div>
      <div ng-show="siteList === '' && orgList !== ''"><small><strong translate>.PROPERTIES</strong>{{orgList}}</small></div>
    </div>
  </header>

  <article class="row export-contents clearfix">
    <hr ng-if="showMainLogo" />
    <div class="row text-center" ng-if="pdfLoadCompleted && (!exports || exports.length === 0)">
      <h2 translate>widgetLibrary.NOWIDGETS</h2>
    </div>

    <div ng-if="exports && exports.length > 0"
      ng-repeat="(key,export) in exports | orderByProperty track by $index"
      class="pdf-export-widget {{ getColumnCssClass(export.summaryKey) }} {{ getPageBreakCssClass(export.summaryKey, key, export.isHourly, export.pdfOrientation) }}"
      ng-class="{landscape: export.pdfOrientation ==='landscape', 'firstWidget': $first}">

      <header class="pdf-export-widget-info">
        <div class="col-xs-12 no-padding-left">
          <div class="widget-info no-padding-left"
            ng-class="{'col-xs-10': !showMainLogo}">
            <div>
              <strong><span translate>.ORGANIZATION</span>:</strong> {{:: organizations[export.organizationId].name }}
            </div>
            <div ng-if="hasSiteId(export)">
              <strong><span translate>.SITE</span>:</strong> {{:: sites[export.organizationId][export.siteId].name }}
            </div>
            <div ng-if="hasLocationId(export)">
              <strong><span translate>.AREA</span>:</strong> {{:: locations[export.organizationId][export.siteId][export.locationId].description
              }}
            </div>
            <div ng-if="hasZoneId(export)">
              <strong><span translate>.ZONE</span>:</strong> {{:: zones[export.organizationId][export.siteId][export.zoneId].name
              }}
            </div>
            <div ng-if="!hasZoneId(export) && !hasLocationId(export) && hasSiteId(export)">
              <strong><span translate>.AREA</span>:</strong> <span translate>.PROPERTYOVERALL</span>
            </div>
            <div ng-if="hasEntranceId(export)">
              <strong><span translate>.ENTRANCE</span>:</strong> {{:: entrances[export.organizationId][export.siteId][export.zoneId][export.entranceId].name
              }}
            </div>
            <div ng-show="export.tags && export.tags.length > 0">
              <strong translate>.SELECTEDTAGS</strong> <span ng-repeat="tag in ::export.tags track by tag">{{::orgTags[export.organizationId][tag]}}<span ng-show="!$last">, </span></span>
            </div>

            <div ng-show="::export.salesCategories && export.salesCategories.length > 0 && export.isSalesMetricSelected !== false">
              <strong><span translate>.SALESCATEGORIES</span>:</strong>
              <span ng-repeat="salesCategory in ::export.salesCategories track by salesCategory.id">{{::salesCategory.name}}
                        <span ng-show="::export.salesCategories.length > 0 && !$last">, </span>
              </span>
            </div>
            <div>
              <strong translate>.TIMEPERIOD</strong> {{::getExportTimePeriodTitle(export)}}
              <span ng-if="export && export.overrideRange && export.overrideRange !==''" class="sticon sticon-notice" data-placement="right"
                data-trigger="hover" data-title="{{ 'widgetLibrary.DATERANGEOVERRIDEUSED' | translate }}" bs-tooltip>
                      </span>
            </div>

            <div class="landscape-inline" ng-if="export.compStores !== undefined">
              <strong><span translate>.COMPAREMODE</span>:</strong> <span translate>{{::getCompareMode(export)}}</span>
            </div>

            <div class="landscape-inline" ng-if="export.heirarchyName">
              <strong><span translate>pdf.SELECTEDTAGS</span>:</strong> {{::export.heirarchyName}}
            </div>

            <div ng-if="export && export.showOverrideRange">
              <strong translate>widgetLibrary.DATERANGEOVERRIDE</strong> {{::export.overrideRange && export.overrideRange
              !=='' ? getDatePeriodTransKey(export.overrideRange) : 'widgetLibrary.OFF' | translate | capitalize}}
            </div>
          </div>

          <div class="col-xs-2" ng-if="!showMainLogo">
            <a class="pdf-export-logo pull-left" ng-href="#/">
                  <img src="assets/images/shoppertrak-logo.svg"
                    class="pdf-export-logo__image" alt="ShopperTrak" />
                </a>
            <h4 class="pdf-export-title text-uppercase"><small translate>.ANALYTICS</small></h4>
            <div ng-show="siteList !== ''"><small><strong translate>.PROPERTIES</strong>{{siteList}}</small></div>
            <div ng-show="siteList === '' && orgList !== ''"><small><strong translate>.PROPERTIES</strong>{{orgList}}</small></div>
          </div>
        </div>
      </header>

      <div ng-include="'app/pdf/partials/' + getPartialPageKey(export) + '.partial.html'"></div>

    </div>
  </article>

</div>
