<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <h2 class="organization-csv-section-title" translate>.SELECTAREAS</h2>
</div>

<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="csv-export-select-sites-dropdown-wrapper col-xs-12 col-md-6 odd">
    <div
      location-selector-popover
      locations="vm.locations"
      location-is-selected="vm.locationIsSelected(locationId)"
      on-location-click="vm.toggleLocation(locationId)"
      on-site-click="vm.setExportSiteOverall(!exportSiteOverall)"
      site-is-selected="vm.exportSiteOverall"
      selected-locations-on-click="vm.selectAllLocations(allLocationsList)"
      show-select-all-button="true"
      class="csv-export-select-sites-dropdown">
      <span translate>.SELECTAREAS</span>
      <span class="sticon sticon-chevron-down dropdown-icon"></span>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="csv-export-site-selector-wrapper col-xs-12">
    <div class="csv-export-site-selector" ng-if="vm.selectedLocations.length > 10">
      <span class="csv-export-site-selector-highlighted">{{vm.selectedLocations.length}}</span> <span translate>.LOCATIONSSELECTED</span>
      <a
        class="csv-export-site-selector-show-hide-button"
        ng-click="vm.showLocationsAlways=!vm.showLocationsAlways"
        ng-if="!vm.showLocationsAlways"
        translate>
        .SHOW
      </a>
      <a
        class="csv-export-site-selector-show-hide-button"
        ng-click="vm.showLocationsAlways=!vm.showLocationsAlways"
        ng-if="vm.showLocationsAlways"
        translate>
        .HIDE
      </a>
      <span class="csv-export-remove-icon" ng-click="vm.removeAllLocations()"></span>
    </div>
    <div class="csv-export-site-selector" ng-repeat="locationId in vm.selectedLocations track by $index" ng-if="vm.selectedLocations.length <= 10 || vm.showLocationsAlways">
      {{ vm.getLocationNameById(locationId) }} <span class="csv-export-remove-icon" ng-click="vm.toggleLocation(locationId)"></span>
    </div>
  </div>
</div>
