<gross-shopping-hours-comparison-widget
  org-id="vm.stateParams.orgId"
  site-id="vm.stateParams.siteId"
  location-ids="widget.locationIds"
  date-range-start="vm.stateParams.dateRangeStart"
  date-range-end="vm.stateParams.dateRangeEnd"
  date-format-mask="vm.dateFormat"
  number-format-name="vm.numberFormatName"
  available-widgets="vm.availableWidgets"
  selected-areas="vm.selectedAreas['gross-shopping-hours-comparison-widget']"
  set-areas="vm.setAreas(copyFrom,copyTo)"
  on-export-click="vm.onExportButtonClick('gross-shopping-hours-comparison-widget')"
  export-is-disabled="vm.widgetIsExported('gross-shopping-hours-comparison-widget')"
  hide-export-icon="true"
  widget-is-loading="vm.widgetIsLoading"
  language="vm.language"
  select-button-visibility="true">
  <span ng-include="'app/analytics/compare/widget-actions.partial.html'"></span>
</gross-shopping-hours-comparison-widget>
