  <table class="table table-striped table-bordered line-high-chart-table" ng-if="lineHighChartWidget.showTable.selection">
    <thead>
      <tr>
        <th ng-click="lineHighChartWidget.sortTable('hourSort')" ng-class="{'active': lineHighChartWidget.currentSort === 'hourSort'}">
          <a href="" translate>
            common.HOUR
          </a>
        </th>
        <th ng-click="lineHighChartWidget.sortTable('currentPeriod')" ng-class="{'active': lineHighChartWidget.currentSort === 'currentPeriod'}">
          <a href="" translate>
            common.SELECTEDPERIOD
          </a>
        </th>
        <th ng-click="lineHighChartWidget.sortTable('compare1')" ng-class="{'active': lineHighChartWidget.currentSort === 'compare1'}">
          <a href="" translate>
            common.PRIORPERIOD
          </a>
        </th>
        <th ng-click="lineHighChartWidget.sortTable('compare2')" ng-class="{'active': lineHighChartWidget.currentSort === 'compare2'}">
          <a href="" translate>
            common.PRIORYEAR
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in lineHighChartWidget.tableData track by row.hour">
        <td class="time">
          {{::row.hour}}
        </td>
        <td>
          {{::row.currentPeriod | formatNumber:lineHighChartWidget.dataPrecision:lineHighChartWidget.numberFormatName}}
        </td>
        <td>
          {{::row.compare1 | formatNumber:lineHighChartWidget.dataPrecision:lineHighChartWidget.numberFormatName}}
        </td>
        <td>
          {{::row.compare2 | formatNumber:lineHighChartWidget.dataPrecision:lineHighChartWidget.numberFormatName}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td translate>.TOTAL</td>
        <td>{{::lineHighChartWidget.totalRow.currentPeriod | formatNumber:lineHighChartWidget.dataPrecision:lineHighChartWidget.numberFormatName}}</td>
        <td>{{::lineHighChartWidget.totalRow.compare1 | formatNumber:lineHighChartWidget.dataPrecision:lineHighChartWidget.numberFormatName}}</td>
        <td>{{::lineHighChartWidget.totalRow.compare2 | formatNumber:lineHighChartWidget.dataPrecision:lineHighChartWidget.numberFormatName}}</td>
      </tr>
    </tfoot>
  </table>
