<div class="admin-user-management">
  <div class="action-bar action-bar-header">
    <div class="header">
      <span class="sticon sticon-avatar"></span>
      <span translate>.USERMANAGEMENT</span>
    </div>

    <div class="add-user">
      <button class="btn ui-button new-user" ng-click="vm.addUser()">
        <span class="sticon sticon-add"></span>
        <span translate>.ADDNEWUSER</span>
      </button>
    </div>
  </div>

  <div class="content-container" ng-if="!vm.loading">
    <div class="action-bar-container">
      <div class="bulk-action">
        <bulk-action-widget bulk-actions="vm.bulkActions" action-selected="vm.actionSelected" show-clear-button="vm.showClearButton" bulk-action-apply="vm.bulkActionApply()" clear-action-apply="vm.clearSelectedUsers()"></bulk-action-widget>
      </div>
      <div class="search-bar">
        <!-- search gets destroyed @ screens less than 675px-->
        <span class="sticon sticon-search"></span>
        <input
          placeholder="{{ 'locationSelector.SEARCH' | translate }}"
          type="text"
          ng-model="vm.searchFilter" />
      </div>
    </div>

    <user-table
      users="::vm.users"
      loading="vm.loading"
      current-user="vm.currentUser"
      search-filter="vm.searchFilter"
      user-selected="vm.userSelected"
      user-ids="vm.userIds"
      edit-user="vm.editUser"
      selected-users="vm.selectedUsers"
      should-show-clear-button="vm.shouldShowClearButton"
      select-all-users="vm.selectAllUsers"
      all-users-selected="vm.allUsersSelected"
      clear-selected-users="vm.clearSelectedUsers"
      delete-user-confirmation="vm.deleteUserConfirmation">
    </user-table>

    <div class="bulk-action-bottom">
      <bulk-action-widget bulk-actions="vm.bulkActions" action-selected="vm.actionSelected" bulk-action-apply="vm.bulkActionApply()"></bulk-action-widget>
    </div>

    <div class="add-user-bottom">
      <button class="btn ui-button new-user" ng-click="vm.addUser()">
        <span class="sticon sticon-add"></span>
        <span>New user</span>
      </button>
    </div>
  </div>

  <div class="account-preferences-loading" ng-if="vm.loading">
    <div class="account-preferences-loading-spinner"></div>
    <div translate>common.LOADING</div>
  </div>

  <bulk-action-modal selected-ids="vm.userIds" selected-names="vm.usernamesSelected" action-valid="vm.valid" action="vm.actionSelected"></bulk-action-modal>

  <confirmation-modal action="'common.DELETE'" resource="vm.userSelected.username"
  confirm-action="vm.deleteUser(vm.userSelected)"></confirmation-modal>
</div>
