<div class="col-xs-12 traffic-per-weekday-widget-chart-container" ng-if="!vm.isLoading && vm.widgetData.series.length === 3">
  <highchart
    config="vm.chartData">
  </highchart>
</div>

<div class="chart-legend">
    <span class="chart-legend-label">
      <label class="label-strong" translate>common.SELECTEDPERIOD</label><br />
      <label>({{vm.dateRange.start.format(vm.dateFormatMask)}} - {{vm.dateRange.end.format(vm.dateFormatMask)}})</label>
    </span>

  <span class="chart-legend-label" ng-if="vm.compareRange1Type === 'prior_period'">
      <label class="label-strong" translate>common.PRIORPERIOD</label><br />
      <label>({{vm.compareRange1.start.format(vm.dateFormatMask)}} - {{vm.compareRange1.end.format(vm.dateFormatMask)}})</label>
    </span>
  <span class="chart-legend-label" ng-if="vm.compareRange1Type === 'prior_year'">
      <label class="label-strong" translate>common.PRIORYEAR</label><br />
      <label>({{vm.compareRange1.start.format(vm.dateFormatMask)}} - {{vm.compareRange1.end.format(vm.dateFormatMask)}})</label>
    </span>
  <span class="chart-legend-label" ng-if="vm.compareRange1Type !== 'prior_period' && vm.compareRange1Type !== 'prior_year'">
      <label class="label-strong" translate>common.CUSTOMCOMPARE1</label><br />
      <label>({{vm.compareRange1.start.format(vm.dateFormatMask)}} - {{vm.compareRange1.end.format(vm.dateFormatMask)}})</label>
    </span>

  <span class="chart-legend-label" ng-if="vm.compareRange2Type === 'prior_period'">
      <label class="label-strong" translate>common.PRIORPERIOD</label><br />
      <label>({{vm.compareRange2.start.format(vm.dateFormatMask)}} - {{vm.compareRange2.end.format(vm.dateFormatMask)}})</label>
    </span>
  <span class="chart-legend-label" ng-if="vm.compareRange2Type === 'prior_year'">
      <label class="label-strong" translate>common.PRIORYEAR</label><br />
      <label>({{vm.compareRange2.start.format(vm.dateFormatMask)}} - {{vm.compareRange2.end.format(vm.dateFormatMask)}})</label>
    </span>
  <span class="chart-legend-label" ng-if="vm.compareRange2Type !== 'prior_period' && vm.compareRange2Type !== 'prior_year'">
      <label class="label-strong" translate>common.CUSTOMCOMPARE2</label><br />
      <label>({{vm.compareRange2.start.format(vm.dateFormatMask)}} - {{vm.compareRange2.end.format(vm.dateFormatMask)}})</label>
    </span>
</div>
