<line-high-chart-widget
  widget-title="ATS"
  kpi-label="ATS"
  widget-icon="sales"

  org-id="widget.organizationId"
  site-id="widget.siteId"
  zone-id="widget.zoneId"

  current-user="::vm.currentUser"
  current-organization="widget.currentOrganization"
  currency-symbol="widget.currencySymbol"

  date-range-start="widget.dateRange.start"
  date-range-end="widget.dateRange.end"
  compare-range1-start="widget.compare1Range.start"
  compare-range1-end="widget.compare1Range.end"
  compare-range2-start="widget.compare2Range.start"
  compare-range2-end="widget.compare2Range.end"
  compare-range1-type="::vm.compare1Type"
  compare-range2-type="::vm.compare2Type"
  date-format-mask="::vm.dateFormat"
  first-day-of-week-setting="widget.firstDayOfWeekSetting"
  group-by="widget.groupBy"

  language="widget.language"
  kpi="vm.kpiValues.ats"
  api-endpoint="kpis/sales"
  api-return-key="ats"
  return-data-precision="1"
  get-unique-returning="false"
  separate-summary-requests="true"
  summary-averages="true"
  show-metrics="widget.showMetrics"

  hide-widget-icon="false"
  exporting="true"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  chart-type="widget.chartType"

  current-site="::widget.currentSite"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics"
>
</line-high-chart-widget>
