<line-high-chart-widget
  org-id="::widget.organizationId"
  site-id="::widget.siteId"
  location-id="::widget.locationId"
  date-range-start="widget.dateRange.start"
  date-range-end="widget.dateRange.end"
  language="::widget.language"
  kpi="widget.kpi"
  kpi-label="Shoppers vs others"
  widget-title="Shoppers vs others"

  compare-range-1-start="widget.compare1Range.start"
  compare-range-1-end="widget.compare1Range.end"
  compare-range-1-type="widget.compare1Type"
  compare-range-2-start="widget.compare2Range.start"
  compare-range-2-end="widget.compare2Range.end"
  compare-range-2-type="widget.compare2Type"
  current-organization="::widget.currentOrganization"
  current-user="::widget.currentUser"
  date-format-mask="::vm.dateFormat"
  first-day-of-week-setting="::vm.firstDayOfWeek"

  api-endpoint="kpis/shoppersVsTravellers"
  api-return-key="shopper_percent"

  show-weather-metrics="false"
  show-metrics="false"
  group-by="widget.groupBy"

  exporting="true"
  selected-option="shopper_percent"
  widget-icon="people"
  on-export-click="vm.exportWidget(widget)"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics">
</line-high-chart-widget>
