<daily-performance-widget
  date-range="::widget.dateRange"
  comp-stores="::widget.compStores"
  comp-stores-range="::widget.compStoresRange"
  org-id="::widget.currentOrganization.organization_id"
  current-site="::widget.currentSite"
  site-id="::widget.currentSite.site_id"
  current-user="::vm.currentUser"
  zone-id="::widget.zone.id"
  show-table="widget.showTable"
  selected-days="widget.selectedDays"
  site-has-labor="widget.currentOrganization.subscriptions.labor || widget.currentSite.subscriptions.labor"
  site-has-sales="widget.currentOrganization.subscriptions.sales || widget.currentSite.subscriptions.labor"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  custom-tags="::widget.customTags"
  sales-categories="widget.salesCategories"
  chart-type="widget.chartType"
  currency-symbol="::widget.currencySymbol"
  operating-hours="::widget.operatingHours"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics">
</daily-performance-widget>
