<entrance-contribution-pie-widget
  org-id="::widget.organizationId"
  site-id="widget.currentSite.site_id"
  zone-id="widget.zoneId"
  date-range-start="widget.dateRange.start"
  date-range-end="widget.dateRange.end"
  language="language"

  compare-range-1-start="widget.compare1Range.start"
  compare-range-1-end="widget.compare1Range.end"
  compare-range-1-type="::vm.compare1Range.type"
  compare-range-2-start="widget.compare2Range.start"
  compare-range-2-end="widget.compare2Range.end"
  compare-range-2-type="::vm.compare2Range.type"
  current-organization="widget.currentOrganization"
  current-user="::vm.currentUser"
  date-format-mask="::vm.dateFormat"
  first-day-of-week-setting="widget.firstDayOfWeek"

  operating-hours="widget.operatingHours"
  summary-key="entrance_contribution_pie"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  grid-layout="widget.gridLayout"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics">
</entrance-contribution-pie-widget>
