<kpi-summary-widget
  current-user="::vm.currentUser"
  org-id="::widget.organizationId"
  current-organization="widget.currentOrganization"
  date-range="widget.dateRange"
  compare-range-1="widget.compare1Range"
  compare-range-2="widget.compare2Range"
  compare-range-1-type="::widget.compare1Type"
  compare-range-2-type="::widget.compare2Type"
  date-range-keys="widget.dateRangeKeys"
  date-format-mask="::widget.dateFormat"
  first-day-of-week-setting="widget.firstDayOfWeekSetting"
  selected-tags="widget.selectedTags"
  comp-stores="::widget.compStores"
  comp-stores-range="::widget.compStoresRange"
  custom-tags="::widget.customTags"
  has-labor="widget.orgHasLabor"
  has-sales="widget.orgHasSales"
  currency-symbol="widget.currencySymbol"
  hide-export-icon="false"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  sales-categories="widget.salesCategories"
  is-loading="vm.isLoading[$index]"
  operating-hours="::widget.operatingHours"
  org-metrics="::widget.orgMetrics">
</kpi-summary-widget>
