<kpi-summary-widget-container
  org-id="widget.organizationId"
  site-id="widget.siteId"
  zone-id="widget.zoneId"
  operating-hours="widget.operatingHours"
  date-range="widget.dateRange"
  compare-range-1="widget.compare1Range"
  compare-range-1-type="::vm.compare1Type"
  compare-range-2="widget.compare2Range"
  compare-range-2-type="::vm.compare2Type"
  date-range-keys="widget.salesDateRanges"
  current-organization="widget.currentOrganization"
  current-user="vm.currentUser"
  date-format-mask="::vm.dateFormat"
  first-day-of-week-setting="widget.firstDayOfWeek"
  site-has-labor="widget.siteHasLabor"
  site-has-sales="widget.siteHasSales"
  currency-symbol="widget.currencySymbol"
  hide-export-icon="false"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  sales-categories="widget.salesCategories"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics">
</kpi-summary-widget-container>
