<visiting-frequency-detail-widget
  org-id="::widget.organizationId"
  site-id="::widget.siteId"
  location-id="::widget.locationId"
  language="::widget.language"

  date-range-start="widget.dateRange.start"
  date-range-end="widget.dateRange.end"
  compare-range1-start="widget.compare1Range.start"
  compare-range1-end="widget.compare1Range.end"
  compare-range2-start="widget.compare2Range.start"
  compare-range2-end="widget.compare2Range.end"
  compare-range1-type="::vm.compare1Type"
  compare-range2-type="::vm.compare2Type"
  current-organization="::widget.currentOrganization"
  current-user="::vm.currentUser"
  date-format-mask="::vm.dateFormat"
  first-day-of-week-setting="::widget.firstDayOfWeekSetting"

  widget-title="Visiting frequency"
  widget-icon="calendar"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics">
</visiting-frequency-detail-widget>