<custom-compare-data-widget
  selected-metrics="widget.metrics"
  active-selected-metrics="widget.compare.activeSelectedMetrics"
  sites="::widget.compareSites"
  current-organization="::widget.currentOrganization"
  current-user="::vm.currentUser"
  date-format-mask ="widget.dateFormat"
  export-is-disabled="vm.compareWidgetIsExported(widget)"
  language="vm.language"
  compare="::widget.compare"
  edit-mode="''"
  date-ranges="widget.dateRanges"
  on-export-click="vm.exportWidget(widget)"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics">
</custom-compare-data-widget>