<power-hours-widget
  org-id="widget.organizationId"
  site-id="widget.siteId"
  current-user="vm.currentUser"
  zone-id="widget.zoneId"
  date-range-start="widget.dateRange.start"
  date-range-end="widget.dateRange.end"
  comp-stores="::widget.compStores"
  comp-stores-range="::widget.compStoresRange"
  active-option="widget.displayType"
  pdf-orientation="widget.pdfOrientation"
  language="widget.language"
  operating-hours="widget.operatingHours"
  hide-export-icon="false"
  currency-symbol="widget.currencySymbol"
  is-export="true"
  custom-tags="::widget.customTags"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  sales-categories="widget.salesCategories"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics">
</power-hours-widget>
