<retail-organization-table-widget
  org-id="::widget.orgId"
  org-sites="widget.sites"
  date-range-start="widget.dateRange.start"
  date-range-end="widget.dateRange.end"
  widget-title="Organization summary"
  widget-icon="site"
  compare-range-1-start="widget.compare1Range.start"
  compare-range-1-end="widget.compare1Range.end"
  compare-range-2-start="widget.compare2Range.start"
  compare-range-2-end="widget.compare2Range.end"
  current-organization="::widget.currentOrganization"
  current-user="::vm.currentUser"
  date-format-mask="::vm.dateFormat"
  first-day-of-week-setting="widget.firstDayOfWeek"
  order-by-string="::widget.orderByString"
  export-is-disabled="vm.widgetIsExported(widget)"
  selected-tags="widget.selectedTags"
  widget-data="widget.tableData"
  site-categories="widget.siteCategories"
  selected-category="widget.selectedCategory"
  filter-text="widget.filterText"
  org-has-interior="::widget.orgHasInterior"
  org-has-sales="::widget.orgHasSales"
  org-has-labor="::widget.orgHasLabor"
  language="::widget.language"
  selected-metrics="widget.selectedMetrics"
  comparison-index="widget.comparisonIndex"
  comp-stores="::widget.compStores"
  comp-stores-range="::widget.compStoresRange"
  custom-tags="::widget.customTags"
  sales-categories="widget.salesCategories"
  on-export-click="vm.exportWidget(widget)"
  currency-symbol="::widget.currencySymbol"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics"
  mid="::widget.mid"
  >
</retail-organization-table-widget>
