<retail-store-summary-widget
  current-user="::vm.currentUser"
  org-id="::widget.currentOrganization.organization_id"

  date-range-start="::widget.dateRange.start"
  date-range-end="::widget.dateRange.end"

  comp-stores="::widget.compStores"
  comp-stores-range="::widget.compStoresRange"

  date-format-mask="::vm.dateFormat"
  number-format="widget.numberFormat"
  site-categories="::widget.siteCategories"
  selected-category="::widget.selectedCategory"
  selected-tags="::widget.selectedTags"
  filter-text="widget.siteFilter"
  include-extremes="widget.extremeValues"
  active-kpi="widget.activeKpi"
  org-has-labor="::widget.orgHasLabor"
  org-has-interior="::widget.orgHasInterior"
  language="::widget.language"
  hide-export-icon="false"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  custom-tags="::widget.customTags"
  categories="widget.categories"
  sales-categories="widget.salesCategories"
  currency-symbol="::widget.currencySymbol"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics"
  dash-index="::$index"
  selected-sites="::widget.selectedSites"
>
</retail-store-summary-widget>
