<site-performance-widget
  org-id="::widget.organizationId"
  current-user="::vm.currentUser"
  current-organization="::widget.currentOrganization"
  selected-period-start="widget.dateRange.start"
  selected-period-end="widget.dateRange.end"
  compare-range1-start="widget.compare1Range.start"
  compare-range1-end="widget.compare1Range.end"
  compare-range2-start="widget.compare2Range.start"
  compare-range2-end="widget.compare2Range.end"
  compare-range1-type="::vm.compare1Type"
  compare-range2-type="::vm.compare2Type"
  date-format-mask="::vm.dateFormat"
  first-day-of-week-setting="::widget.firstDayOfWeekSetting"
  language="::widget.language"
  hide-controls="widget.pageName"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  current-view="widget.currentView"
  is-loading="vm.isLoading[$index]"
>
</site-performance-widget>
