<traffic-per-weekday-widget
  org-id="::widget.organizationId"
  site-id="::widget.site_id"
  zone-id="::widget.zoneId"
  entrance-id="::widget.entranceId"
  kpi="traffic_weekday_distribution"

  comp-stores="::widget.compStores"
  comp-stores-range="::widget.compStoresRange"

  date-range="::widget.dateRange"
  compare-range-1="widget.compare1Range"
  compare-range-2="widget.compare2Range"
  compare-range-1-type="::vm.compare1Type"
  compare-range-2-type="::vm.compare2Type"
  date-format-mask="::vm.dateFormat"
  first-day-of-week-setting="widget.firstDayOfWeek"
  operating-hours="widget.operatingHours"

  current-user="::vm.currentUser"
  current-zone="widget.currentZone"
  current-site="widget.currentSite"
  custom-tags="::widget.customTags"
  language="::vm.language"
  show-table="widget.showTable"
  selected-days="widget.selectedDays"
  selected-metric="widget.selectedMetric"
  order-by="widget.orderTableBy"
  order-reverse="widget.orderReverse"
  widget-icon="calendar-arrow"
  hide-export-icon="false"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  sales-categories="widget.salesCategories"
  set-selected-widget="setSelectedWidget('traffic_per_weekday')"
  chart-type="widget.chartType"
  is-hourly="widget.isHourly"
  group-by="widget.groupBy"
  currency-symbol="::widget.currencySymbol"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics"
>
</traffic-per-weekday-widget>
