<line-high-chart-widget
  id="traffic-tab-traffic-line-high-chart-widget"
  widget-icon="entrance"
  language="vm.language"
  widget-title="::widget.kpi"
  kpi="widget.kpi"

  org-id="::widget.organizationId"
  site-id="::widget.siteId"
  zone-id="widget.zoneId"
  entrance-id="::widget.entranceId"

  current-user="::vm.currentUser"
  current-organization="::widget.currentOrganization"
  current-site="::widget.currentSite"
  currency-symbol="::widget.currencySymbol"

  date-range-start="widget.dateRange.start"
  date-range-end="widget.dateRange.end"
  compare-range1-start="widget.compare1Range.start"
  compare-range1-end="widget.compare1Range.end"
  compare-range2-start="widget.compare2Range.start"
  compare-range2-end="widget.compare2Range.end"
  compare-range1-type="::vm.compare1Type"
  compare-range2-type="::vm.compare2Type"
  date-format-mask="::widget.dateFormat"
  first-day-of-week-setting="widget.firstDayOfWeekSetting"
  selected-weather-metrics="widget.selectedWeatherMetrics"
  show-weather-metrics="::vm.showWeatherMetrics"
  operating-hours="widget.operatingHours"
  group-by="widget.groupBy"
  selected-option="widget.selectedOption"

  api-endpoint="kpis/traffic"
  api-return-key="total_traffic"
  get-unique-returning="false"
  separate-summary-requests="widget.separateSummaryRequests"

  show-metrics="widget.showMetrics"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  chart-type="widget.chartType"
  is-hourly="widget.isHourly"
  show-table-toggle-button="widget.isHourly"
  show-table="widget.showTable"
  business-day-start-hour="widget.businessDayStartHour"
  sales-categories="widget.salesCategories"
  show-sales-categories-selector="widget.showSalesCategoriesSelector"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics"
>
</line-high-chart-widget>
