<traffic-heatmap-widget
  org-id="::widget.organizationId"
  site-id="::widget.siteId"
  current-user="::vm.currentUser"
  current-organization="::widget.currentOrganization"

  location-id="::widget.locationId"
  location-types="::widget.location_type"
  date-range-start="widget.dateRange.start"
  date-range-end="widget.dateRange.end"
  hide-location-list="false"

  language="widget.language"
  kpi="traffic_percentage"
  floor="widget.floor"
  on-export-click="vm.exportWidget(widget)"
  export-is-disabled="vm.widgetIsExported(widget)"
  is-loading="vm.isLoading[$index]"
  org-metrics="::widget.orgMetrics">
</traffic-heatmap-widget>