<div class="row override-range">
  <div class="switch override col-xs-12">
    <h4 translate>widgetLibrary.DATERANGEOVERRIDE</h4>
    <label ng-class="{'selected': vm.override}" for="dateOverrideOn">On</label>
    <label ng-class="{'selected': !vm.override}" for="dateOverrideOff">Off</label>
    <input type="radio" ng-change="vm.toggleDateRangeOverride(true)" ng-model="vm.override" ng-value="true" name="rowTypeSelect" id="dateOverrideOn" />
    <input type="radio" ng-change="vm.toggleDateRangeOverride(false)" ng-model="vm.override" ng-value="false" name="rowTypeSelect" id="dateOverrideOff"
    /><br/>
    <p translate>widgetLibrary.SUPERSEDERANGE</p>
  </div>
  <div ng-show="vm.override">
    <div class="col-xs-12 col-sm-9">
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-default"
          ng-repeat="range in vm.dateRanges track by range.rangeType"
          ng-class="{'selected' : range.rangeType === vm.overrideRange}"
          ng-click="vm.toggleSelectedRange(range.rangeType)"
          translate>{{::range.transKey}}</button>
      </div>
    </div>
  </div>
</div>
