

<div class="row">
	<div class="col-xs-12">
		<h3 translate>widgetLibrary.DISTRIBUTETOORGS</h3>
	</div>


	<div class="col-xs-12 col-sm-5">
		<ul class="widget-library__modal__org-select all-org-list">
			<li 
				ng-repeat="org in vm.selectableOrgs track by org._id"
				ng-class="{'selected': org.selected, 'disabled': org.disabled}">
				<input type="checkbox" id="{{org.name}}select" ng-click="org.selected = !org.selected" ng-disabled="org.disabled" ng-checked="org.selected"/>
				<label for="{{org.name}}select" ng-disabled="org.disabled">{{org.name}}</label>
			</li>
		</ul>
	</div>

	<div class="col-xs-12 col-sm-2 text-center">
		<i ng-click="vm.moveSelectedOrgs()" class="sticon sticon-change toggle-orgs"></i>
	</div>

	<div class="col-xs-12 col-sm-5">
		<ul class="widget-library__modal__org-select">
			<li
				ng-repeat="org in vm.selectedOrgs track by org._id"
				ng-class="{'selected': org.selected}">
				<input type="checkbox" id="{{org.name}}reject" ng-click="org.selected = !org.selected" ng-checked="org.selected"/>
				<label for="{{org.name}}reject">{{org.name}}</label>
			</li>
		</ul>
	</div>
</div>
