
<div class="widget-library__widget-block" ng-init="widget.screenType = widget.screenType || 'main'">
  <div class="widget-icon">
    <i title="Widget Icon" class="sticon {{widget.icon}}"></i>
  </div>
  <h3>{{widget.widgetName}}</h3>
  <p class="override-range" ng-show="widget.overrideRange">
    <span translate>widgetLibrary.DATERANGE</span>: <span translate>{{widget.overrideTranstring}}</span>
  </p>

  <div class="reName" ng-class="{'show': widget.screenType === 'reName'}">
    <input
      type="text"
      class="form-control"
      value="{{widget.widgetName}}"
      placeholder="New Widget Name"
      ng-model="widget.widgetName"
      ng-change="vm.validateWidgetName(widget)"
      maxlength="80"
    />
    <div class="btn-wrap">
      <button class="btn btn-primary pull-left" ng-click="vm.saveDuplicatedWidget(widget)" ng-disabled="widget.invalidName" translate>widgetLibrary.SAVECHANGES</button>
      <button class="btn btn-default pull-right" ng-click="vm.removeDuplicatedWidget(widget)" translate>widgetLibrary.CANCELCHANGES</button>
    </div>
  </div>

  <div ng-if="::vm.superuser" class="edit-screen" ng-class="{'show': widget.screenType === 'edit'}">
    <i title="Close" class="sticon sticon-delete-small pull-right" ng-click="widget.screenType = 'main'"></i>
    <div class="edit-screen-buttons">
      <div class="wrap">
        <button class="btn btn-default" ng-click="vm.openEditScreen(widget); widget.screenType = 'main';"><i title="Widget Edit Mode" class="sticon sticon-gear"></i>{{::'widgetLibrary.OPENEDITOR' | translate}}</button>
      </div>
      <div class="wrap">
        <button class="btn btn-default" ng-click="vm.openEditScreen(widget, true); widget.screenType = 'main';"><i title="Widget Preview" class="sticon sticon-show"></i>{{::'widgetLibrary.PREVIEW' | translate}}</button>
      </div>
      <div class="wrap">
        <button class="btn btn-default" ng-disabled="vm.duplicateInProgress" ng-click="vm.duplicate(widget); widget.screenType = 'main';"><i title="Duplicate Widget" class="sticon sticon-duplicate"></i>{{::'widgetLibrary.DUPLICATE' | translate}}</button>
      </div>
      <div class="wrap">
        <button class="btn btn-default" ng-click="widget.screenType = 'delete'"><i title="Delete Widget" class="sticon sticon-trash"></i>{{::'widgetLibrary.DELETE' | translate }}</button>
      </div>
    </div>
  </div>

  <div ng-if="::vm.superuser" class="delete-screen" ng-class="{'show': widget.screenType === 'delete'}">
    <i title="Close" class="sticon sticon-delete-small pull-right" ng-click="widget.screenType = 'main'"></i>
    <div class="alert alert-warning" role="alert">
      <p translate>widgetLibrary.DELETEWARNING</p>
      <button class="btn btn-danger" ng-click="vm.deleteWidget(widget)" translate>widgetLibrary.DELETEWIDGET</button>
    </div>
  </div>

  <div class="info-screen" ng-class="{'show': widget.screenType === 'info'}">
    <i title="Close" class="sticon sticon-delete-small pull-right" ng-click="widget.screenType = 'main'"></i>
    <div class="title">
      <i title="Widget Information" class="sticon sticon-info"></i><span translate>widgetLibrary.INFO</span>
    </div>
    <div class="description">
      <p class="date-range" ng-show="widget.overrideRange">
        <b>{{ ::'widgetLibrary.DATERANGE' | translate }}:</b> <span translate>{{widget.overrideTranstring}}</span>
      </p>
      <p class="date-range" ng-show="widget.widgetDescription">
        <b>{{ ::'widgetLibrary.WIDGETDESCRIPTION' | translate }}:</b><br/>{{widget.widgetDescription}}
      </p>
    </div>
    <div class="widget-library__widget-block__controls">
      <div class="widget-library__widget-block__controls__preview control-block" ng-click="vm.openEditScreen(widget, true); widget.screenType = 'main';">
        <i title="Widget Preview" class="sticon sticon-show"></i><span translate>widgetLibrary.PREVIEW</span>
      </div>
    </div>
  </div>

  <div ng-if="::vm.superuser" class="audit-screen" ng-class="{'show': widget.screenType === 'audit'}">
    <i title="Close" class="sticon sticon-delete-small pull-right" ng-click="widget.screenType = 'main'"></i>
    <div class="title">
      <i title="Widget Audit Trail" class="sticon sticon-avatar"></i><span translate>{{widget.auditTrail.creatorName}}</span>
    </div>
    <div class="description">
      <p>
        <b>{{::'widgetLibrary.AUDITTRAIL' | translate}}</b>
        <ul>
          <li>{{::'widgetLibrary.CREATEDBY' | translate}} {{widget.auditTrail.creatorName}} {{::widgetLibrary.ON | translate}} {{widget.auditTrail.creationDate}}</li>
          <li ng-repeat="edit in widget.auditTrail.edits track by $index">
            {{::edit.changes.length}} {{::'widgetLibrary.EDITSBY' | translate}} {{::edit.editorName}} {{::'widgetLibrary.ON' | translate}} {{::edit.editDate}}<br/> {{::'widgetLibrary.CHANGES' | translate}}:
            <ul>
              <li ng-repeat="change in edit.changes track by $index">
                {{change}}
              </li>
            </ul>
          </li>
        </ul>
      </p>
    </div>
  </div>
  

  <div class="widget-library__widget-block__controls" ng-show="widget.screenType === 'main'">
    <div ng-if="::vm.superuser" class="widget-library__widget-block__controls__edit control-block" ng-click="widget.screenType = 'edit'">
      <i title="Widget Edit Mode" class="sticon sticon-gear"></i><span translate>common.EDIT</span>
    </div>
    <div class="widget-library__widget-block__controls__info control-block" ng-click="widget.screenType = 'info'">
      <i title="Widget Information" class="sticon sticon-info"></i><span translate>widgetLibrary.INFO</span>
    </div>
    <div ng-if="::vm.superuser" class="widget-library__widget-block__controls__audit control-block" ng-click="widget.screenType = 'audit'">
      <i title="Widget Audit Trail" class="sticon sticon-avatar"></i><span>{{widget.auditTrail.creatorName}}</span>
    </div>
  </div>

  <div ng-show="widget.screenType === 'deleting'" class="widget-library__widget-block__controls__edit control-block">
    <div class="loader">
      <div class="loading-spinner"></div>
      <div class="text-center">
        <span translate>.DELETINGWIDGET</span>
      </div>
    </div>
  </div>

  <div ng-show="widget.screenType === 'updating'" class="widget-library__widget-block__controls__edit control-block">
    <div class="loader">
      <div class="loading-spinner"></div>
      <div class="text-center">
        <span translate>.UPDATEINGWIDGET</span>
      </div>
    </div>
  </div>

  <div ng-show="widget.screenType === 'saving'" class="widget-library__widget-block__controls__edit control-block">
    <div class="loader">
      <div class="loading-spinner"></div>
      <div class="text-center">
        <span translate>.SAVINGWIDGET</span>
      </div>
    </div>
  </div>

  <div class="error-screen" ng-show="widget.screenType === 'error'">
    <i title="Close" class="sticon sticon-delete-small pull-right" ng-click="widget.screenType = 'main'"></i>
    <div class="text-center error-message">
      <span translate>common.DATAERROR</span>
    </div>
  </div>
</div>
