<widget class="table-grid-widget">
  <widget-header widget-title="{{ vm.config.widgetName }}" icon="{{ vm.widgetIcon }}" hide-export-icon="vm.hideExportIcon"
    disable-export="vm.exportIsDisabled" hide-export-to-custom-dashboard-icon="vm.hideExportToCustomDashboardIcon">
  </widget-header>

  <widget-body>
    <div ag-grid="vm.gridOptions" 
      ng-if="!vm.isLoading && !vm.serverResponseError" 
      class="ag-theme-material-no-roboto table-grid" >
    </div>
    <div class="loader" ng-if="vm.isLoading">
      <span translate>common.LOADING</span>
    </div>
    <div ng-if="!vm.isLoading && vm.serverResponseError" class="text-center error-message">
      <span translate>common.DATAERROR</span>
    </div>

    <div ng-if="!vm.isLoading && vm.kpiError" class="text-center error-message">
      <span translate>widgetLibrary.NOVALIDMETRICSELECTED</span>
    </div>
  </widget-body>
</widget>
