<td ng-if="$row.data[$column.kpi].selectedPeriod !== null" class="text-center">
     <div class="value {{$column.kpi}}"><strong>{{::$row.data[$column.kpi].selectedPeriod | formatNumber: vm.getFractionSize($column.kpi) : vm.numberFormatName}}</strong></div>
     <div class="text-muted" ng-switch="$row.data[$column.kpi].priorPeriod !== null && $row.data[$column.kpi].compareTotal !== null">
       <small class="{{$column.kpi}}" ng-switch-when="true">({{::$row.data[$column.kpi].compareTotal | formatNumber: vm.getFractionSize($column.kpi) : vm.numberFormatName}})</small>
       <small ng-switch-when="false" translate>.NA</small>
     </div>
</td>
<td ng-if="$row.data[$column.kpi].selectedPeriod === null" class="text-center">
 <small class="text-muted" translate>common.NODATA</small>
</td>
