.create-report-modal {
  padding: 30px;
  padding-left: 45px;

  .org-dist {
    padding: 0px !important;
    margin-left: -25px;
  }

  background-color: #EDEBEB;

  .form-group {
    margin-bottom: 15px;
  }

  .widget-selector-dropdown {
    margin-left: -13%;
    margin-top: 20px;
    top: 80px;
    background-color: #0AAAFF;
    color: white;
    float: right;
  }

  .widget-selector {
    .multi-select-list {
      margin-left: 43%;
      top: 38px;
    }
  }

  .frequency-selector {
    .close-icon {
      display: none;
    }
  }

  .select-frequency-options {
    .btn-group {
      margin-left: 0px;
      margin-top: -33px;
    }
  }

  .frequency-selector .org-selector-dropdown {
    margin-left: -13%;
    margin-top: (-5px) !important;
    top: 0px;
    background-color: #0AAAFF;
    float: right;
  }

  .select-Org {
    .dropdown-menu {
      overflow-y: auto;
      max-height: 250px;
    }
  }

  .widget-selector {
    .dropdown-menu {
      overflow-y: auto;
      max-height: 220px;
    }
  }

  .left {
    float: left;
  }

  input.ng-invalid {
    border-color: $brand-danger !important;
    box-shadow: inset 0 0 0 2px rgba($brand-danger, 0.3) !important;
    background: rgba($state-danger-bg, 0.3) !important;
    color: #da3a20;

    &[disabled],
    fieldset[disabled] & {
      background-color: $input-bg-disabled !important;
      background: $input-bg-disabled !important;
      box-shadow: none !important;
      border-color: #ccc !important;
      opacity: 1;

      // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
      color: #555555 !important;

      @include transition(border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s);
    }
  }

  .close {
    font-size: 45px;
    box-shadow: none;
    outline: none;
    border: none;
  }

  .modal-body {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 20px;
    min-height: 150px;
    overflow-y: auto;

    &.no-overflow {
      overflow-y: visible !important;
    }
  }

  .modal-header {
    padding: 25px;
    border-bottom: 1px solid $gray-light;
    margin-bottom: 25px;
    padding: 10px 0;
  }

  .modal-footer .btn {
    float: left;
    margin-right: 15px;
  }

  .modal-footer {
    margin-top: -20px;
  }

  .select-time-type {
    padding-left: 10px;
    float: left;
  }

  .select-time-separator {
    float: left;
    padding: 7px 1px 7px 4px;
  }

  .select-time-min {
    padding-left: 4px;
    float: left;

    button {
      padding: 7px 5px;
    }

    ul {
      overflow-y: auto;
      max-height: 250px;
    }
  }

  .select-time-hour {
    float: left;

    button {
      padding: 7px 5px;
    }
  }
}
