<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Educator Applications Test Suite" verbose="5" configfailurepolicy="continue">
	<listeners>
		<listener class-name="com.pm.automation.logging.TestReporter"></listener>
	</listeners>
	
	<test name="Course Administration test cases">
		
		<classes>
			<class name="com.pm.tests.courseadministration.CourseAdministrationTestSuite" />
		</classes>
	</test>
	
	<test name="Course Catalog Test Cases">
		<classes>
			<class name="com.pm.tests.courseCatalog.CourseCatalogTestSuite"></class>
		</classes>
	</test>
	
	<test name="PD Playlist Test Suite">
		<classes>
		<class name="com.pm.tests.PDManagement.PDPlaylistTestSuite"></class>
		</classes>
	</test>
</suite>