<div class="panel-heading widget-heading clearfix">
  <h2 class="panel-title widget-title">
    <div class="pull-left widget-title-part">
      <span
        ng-if="vm.icon"
        class="sticon sticon-{{ vm.icon }} widget-icon" aria-hidden="true">
      </span>
      <span class="widget-title-name " ng-if="!vm.titleHref" translate>{{vm.title}}</span>
      <a ng-if="vm.titleHref" ng-href="{{vm.titleHref}}" translate>{{::vm.title}}</a>
    </div>

    <div class="no-padding widget-actions-part clearfix">
      <div ng-if="!vm.hideLeftIcon" class="widget-actions no-padding" ng-class="{ 'exportVisible' : !vm.hideExportIcon}" ng-transclude="left">
    </div>
    <div  class="pull-right">
      <div class="pull-left padding-right-7 widget-actions" ng-transclude="right">

      </div>
      <div class="pull-right export-widget inline-block widget-heading__export-icon"
        ng-if="!vm.hideExportIcon"
        ng-class="{
          'is-disabled': vm.exportIsDisabled
        }">
        <a ng-click="vm.onExportClick()" title="Add to export">
          <span class="sticon sticon-export-fat" aria-hidden="true"></span>
        </a>
      </div>
      <div
        ng-if="vm.csvExport"
        class="pull-right export-widget csv inline-block">
        <a ng-click="vm.onCsvExportClick()">
          <span class="sticon sticon-export-fat" aria-hidden="true"></span>
          <span class="hidden-md hidden-sm hidden-xs">CSV</span>
        </a>
      </div>
      <div
        class="pull-right export-widget inline-block padding-right-7 add-to-custom-dashboard"
        ng-if="!vm.hideExportToCustomDashboardIcon">
        <a
          data-toggle="modal"
          data-target="#addToDashboardModal"
          title="Add to dashboard"
          ng-click="vm.setSelectedWidget()">
          <span class="sticon sticon-dashboards" aria-hidden="true"></span>
        </a>
      </div>

    </div>

    </div>

  </h2>
</div>
