<campaign-analytics-heatmap-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  current-user="export.currentUser"
  current-organization="export.currentOrganization"
  location-id="export.locationId"
  location-types="export.locationType"
  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  compare-range-1-start="export.compare1Range.start"
  compare-range-1-end="export.compare1Range.end"
  compare-range-2-start="export.compare2Range.start"
  compare-range-2-end="export.compare2Range.end"
  language="export.language"
  hide-location-list="true"
  hide-export-icon="true">
</campaign-analytics-heatmap-widget>
