<daily-performance-widget
  date-range="export.dateRange"
  comp-stores="::export.compStores"
  comp-stores-range="::export.compStoresRange"
  org-id="export.organizationId"
  site-id="export.siteId"
  zone-id="export.zoneId"
  current-user="export.currentUser"
  show-table="export.showTable"
  selected-days="export.selectedDays"
  has-labor="export.orgHasLabor"
  has-sales="export.orgHasSales"
  selected-tags="export.selectedTags"
  custom-tags="export.customTags"
  site-has-labor="export.siteHasLabor"
  site-has-sales="export.siteHasSales"
  current-sort="export.orderTable"
  current-sort-direction="export.orderTableDirection"
  hide-export-icon="true"
  is-loading="widgetIsLoading[key]"
  sales-categories="export.salesCategories"
  chart-type="export.chartType"
  operating-hours="::export.operatingHours"
  org-metrics="::export.orgMetrics"
>
</daily-performance-widget>
