<line-high-chart-widget
  widget-title="Draw rate"
  kpi="kpiValues.draw_rate"
  kpi-label="% of people who enter vs. pass by"
  widget-icon="crossing"

  org-id="export.organizationId"
  site-id="export.siteId"
  location-id="export.locationId"

  current-user="export.currentUser"
  current-organization="export.currentOrganization"

  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  compare-range1-start="export.compare1Range.start"
  compare-range1-end="export.compare1Range.end"
  compare-range2-start="export.compare2Range.start"
  compare-range2-end="export.compare2Range.end"
  compare-range1-type="export.compare1Type"
  compare-range2-type="export.compare2Type"
  date-format-mask="export.dateFormat"
  first-day-of-week-setting="export.firstDayOfWeekSetting"
  group-by="export.groupBy"

  language="export.language"
  api-endpoint="kpis/drawRate"
  api-return-key="average_draw_rate"
  get-unique-returning="false"
  separate-summary-requests="true"
  summary-averages="true"
  multiplier="100"
  return-data-precision="1"

  is-loading="widgetIsLoading[key]"
  hide-export-icon="true"
  exporting="true"
  chart-type="export.chartType"
  org-metrics="::export.orgMetrics"
>
</line-high-chart-widget>
