<first-visits-heatmap-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  current-user="export.currentUser"
  current-organization="export.currentOrganization"
  location-id="export.locationId"
  location-types="export.locationType"
  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  hide-location-list="true"
  language="export.language"
  hide-export-icon="true"
  kpi="first_visits"
  is-loading="widgetIsLoading[key]"
  floor="export.floor">
</first-visits-heatmap-widget>
<first-visits-list-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  location-id="export.locationId"
  location-types="export.locationType"
  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  language="export.language"
  is-loading="widgetIsLoading[key]"
  hide-export-icon="true">
</first-visits-list-widget>
