<kpi-summary-widget-container
  org-id="export.organizationId"
  site-id="export.siteId"
  zone-id="export.zoneId"
  operating-hours="export.operatingHours"
  date-range="export.dateRange"
  compare-range-1="export.compare1Range"
  compare-range-1-type="export.compareRange1Type"
  compare-range-2="export.compare2Range"
  compare-range-2-type="export.compareRange2Type"
  date-range-keys="export.salesDateRanges"
  current-organization="export.currentOrganization"
  current-user="export.currentUser"
  date-format-mask="export.dateFormat"
  first-day-of-week-setting="export.firstDayOfWeek"
  site-has-labor="export.siteHasLabor"
  site-has-sales="export.siteHasSales"
  is-loading="widgetIsLoading[key]"
  currency-symbol="export.currencySymbol"
  hide-export-icon="true"
  sales-categories="export.salesCategories"
  org-metrics="::export.orgMetrics"
>
</kpi-summary-widget-container>
