<kpi-summary-widget
  org-id="export.organizationId"
  date-range="export.dateRange"
  compare-range-1="export.compare1Range"
  compare-range-2="export.compare2Range"
  compare-range-1-type="export.compare1Type"
  compare-range-2-type="export.compare2Type"
  widget-title="'Organization performance'"
  current-user="export.currentUser"
  current-organization="export.currentOrganization"
  date-range-keys="export.dateRangeKeys"
  date-format-mask="export.dateFormat"
  first-day-of-week-setting="export.firstDayOfWeekSetting"
  comp-stores="::export.compStores"
  comp-stores-range="::export.compStoresRange"
  selected-tags="export.selectedTags"
  custom-tags="export.customTags"
  has-labor="export.orgHasLabor"
  has-sales="export.orgHasSales"
  language="export.language"
  is-loading="widgetIsLoading[key]"
  currency-symbol="export.currencySymbol"
  sales-categories="export.salesCategories"
  org-metrics="::export.orgMetrics"
  operating-hours="export.operatingHours"
>
</kpi-summary-widget>
