<visits-before-heatmap-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  current-user="export.currentUser"
  current-organization="export.currentOrganization"
  location-id="export.locationId"
  location-types="export.locationType"
  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  hide-location-list="true"
  language="export.language"
  kpi="locations_before"
  floor="export.floor"
  is-loading="widgetIsLoading[key]"
  hide-export-icon="true">
</visits-before-heatmap-widget>
<visits-before-list-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  location-id="export.locationId"
  location-types="export.locationType"
  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  hide-location-list="true"
  language="export.language"
  is-loading="widgetIsLoading[key]"
  hide-export-icon="true">
</visits-before-list-widget>
