<one-and-done-heatmap-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  current-user="export.currentUser"
  current-organization="export.currentOrganization"
  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  hide-location-list="true"
  language="export.language"
  hide-export-icon="true"
  kpi="one_and_done"
  is-loading="widgetIsLoading[key]"
  floor="export.floor">
</one-and-done-heatmap-widget>
<one-and-done-list-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  hide-location-list="true"
  language="export.language"
  is-loading="widgetIsLoading[key]"
  hide-export-icon="true">
</one-and-done-list-widget>
