<power-hours-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  current-user="export.currentUser"
  zone-id="export.zoneId"
  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  comp-stores="::export.compStores"
  comp-stores-range="::export.compStoresRange"
  active-option="export.displayType"
  language="export.language"
  operating-hours="export.operatingHours"
  hide-export-icon="true"
  currency-symbol="export.currencySymbol"
  is-loading="widgetIsLoading[key]"
  is-export="true"
  sales-categories="export.salesCategories"
  selected-tags="export.selectedTags"
  custom-tags="export.customTags"
  org-metrics="::export.orgMetrics">
</power-hours-widget>
