<real-time-data-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  current-user="export.currentUser"
  current-organization="export.currentOrganization"
  location-ids="export.locationIds"
  hide-export-icon="true"
  language="export.language"
  select-button-visibility="false"
  has-sales= "export.hasSales"
  has-labor= "export.hasLabor"
  selected-sites ="export.selectedSites"
  selected-sites-info="export.selectedSitesInfo"
  selected-tags="export.selectedTags"
  selected-tags-sites="export.selectedTagsSites"
  is-loading="widgetIsLoading[key]"
  single-site ="export.singleSite"
  org-metrics="::export.orgMetrics">
</real-time-data-widget>
