<retail-store-summary-widget
  current-user="export.currentUser"
  org-id="export.organizationId"

  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  date-format-mask="export.dateFormat"
  number-format="export.numberFormat"
  export-is-disabled="true"
  site-categories="export.siteCategories"
  selected-category="export.selectedCategory"
  selected-tags="export.selectedTags"
  custom-tags="export.customTags"
  filter-text="export.siteFilter"
  comp-stores="::export.compStores"
  comp-stores-range="::export.compStoresRange"
  include-extremes="export.extremeValues"
  active-kpi="export.activeKpi"
  org-has-labor="export.orgHasLabor"
  org-has-interior="export.orgHasInterior"
  language="export.language"
  hide-export-icon="true"
  categories="export.categories"
  sales-categories="export.salesCategories"
  is-loading="widgetIsLoading[key]"
  org-metrics="::export.orgMetrics"
  selected-sites="::export.selectedSites"
 >
</retail-store-summary-widget>
