<retail-organization-table-widget
    org-id="::export.organizationId"
    org-sites="::orgSites"
    date-range-start="::export.dateRange.start"
    date-range-end="::export.dateRange.end"
    comp-stores="::export.compStores"
    comp-stores-range="::export.compStoresRange"
    widget-title="Organization summary"
    widget-icon="site"
    compare-range-1-start="::export.compare1Range.start"
    compare-range-1-end="::export.compare1Range.end"
    compare-range-2-start="::export.compare2Range.start"
    compare-range-2-end="::export.compare2Range.end"
    current-organization="::export.currentOrganization"
    current-user="::export.currentUser"
    date-format-mask="::dateFormat"
    first-day-of-week-setting="firstDayOfWeek"
    order-by-string="viewData[metricType].orderByString"
    export-is-disabled="true"
    selected-tags="::export.selectedTags"
    custom-tags="::export.customTags"
    is-loading="loadingFlags[metricType]"
    request-failed="isTableLoading.requestFailed"
    site-categories="::export.siteCategories"
    selected-category="::export.selectedCategory"
    filter-text="::export.filterText"
    org-has-interior="::export.orgHasInterior"
    org-has-sales="::export.orgHasSales"
    org-has-labor="::export.orgHasLabor"
    sales-categories="::export.salesCategories"
    selected-metrics="::export.selectedMetrics"
    comparison-index="::export.comparisonIndex"
    operating-hours="operatingHours"
    org-metrics="::export.orgMetrics"
    mid="::export.mid"
    >
</retail-organization-table-widget>
