<!-- Sales widget -->
<line-high-chart-widget
  widget-title="Sales"
  kpi-label="Gross revenue"
  widget-icon="sales"

  org-id="export.organizationId"
  site-id="export.siteId"
  zone-id="export.zoneId"
  currency-symbol="export.currencySymbol"

  current-user="export.currentUser"
  current-organization="export.currentOrganization"

  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  compare-range1-start="export.compare1Range.start"
  compare-range1-end="export.compare1Range.end"
  compare-range2-start="export.compare2Range.start"
  compare-range2-end="export.compare2Range.end"
  compare-range1-type="export.compare1Type"
  compare-range2-type="export.compare2Type"
  date-format-mask="export.dateFormat"
  first-day-of-week-setting="export.firstDayOfWeekSetting"
  group-by="export.groupBy"

  language="export.language"
  kpi="kpiValues.sales"
  api-endpoint="kpis/sales"
  api-return-key="sales_amount"
  return-data-precision="0"
  get-unique-returning="false"
  separate-summary-requests="false"
  summary-averages="false"

  is-loading="widgetIsLoading[key]"
  hide-export-icon="true"
  exporting="true"
  chart-type="export.chartType"
  org-metrics="::export.orgMetrics"
>
</line-high-chart-widget>
