<kpi-summary-widget-container
  org-id="export.organizationId"
  site-id="export.siteId"
  zone-id="export.zoneId"

  date-range="export.dateRange"
  compare-range-1="export.compare1Range"
  compare-range-2="export.compare2Range"
  compare-range-1-type="export.compareRange1Type"
  compare-range-2-type="export.compareRange2Type"
  current-user="export.currentUser"
  date-range-keys="export.dateRangeKeys"
  date-format-mask="export.dateFormat"
  first-day-of-week-setting="export.firstDayOfWeekSetting"

  is-loading="widgetIsLoading[key]"
  operating-hours="export.operatingHours"
  site-has-labor="export.siteHasLabor"
  site-has-sales="export.siteHasSales"
  hide-export-icon="true"
  org-metrics="::export.orgMetrics">
</kpi-summary-widget-container>
