
<table-grid-widget class="pdf" data-config="export.widget? export.widget: export" data-widget-icon="info" data-hide-export-icon="true" data-export-is-disabled="true"
  hide-export-to-custom-dashboard-icon="true" data-date-range-start="export.dateRange.start" data-date-range-end="export.dateRange.end"
  data-current-user="export.currentUser" data-current-org="export.currentOrganization ? export.currentOrganization:export.org && export.org.length > 0 ?export.org[0]:export.org">
</table-grid-widget>
