<tenant-labor-hours-table-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  zone-id="export.zoneId"
  current-user="export.currentUser"
  current-organization="export.currentOrganization"
  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  compare-range1-start="export.compare1Range.start"
  compare-range1-end="export.compare1Range.end"
  compare-range2-start="export.compare2Range.start"
  compare-range2-end="export.compare2Range.end"
  compare-range1-type="export.compare1Type"
  compare-range2-type="export.compare2Type"
  date-format-mask="export.dateFormat"
  first-day-of-week-setting="export.firstDayOfWeekSetting"
  active-sort-type="export.orderBy"
  language="export.language"
  active-filter-query="export.filterQuery"
  hide-export-icon="true"
  is-loading="widgetIsLoading[key]"
  currency-symbol="export.currencySymbol">
</tenant-labor-hours-table-widget>
