<!-- Traffic (mobile) widget -->
<line-chart-widget
  widget-title="Traffic"
  kpi-label="Overall visitors"
  widget-icon="entrance"

  org-id="export.organizationId"
  site-id="export.siteId"
  location-id="export.locationId"

  current-user="export.currentUser"
  current-organization="export.currentOrganization"

  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end "
  compare-range1-start="export.compare1Range.start"
  compare-range1-end="export.compare1Range.end"
  compare-range2-start="export.compare2Range.start"
  compare-range2-end="export.compare2Range.end"
  compare-range1-type="export.compare1Type"
  compare-range2-type="export.compare2Type"
  date-format-mask="export.dateFormat"
  first-day-of-week-setting="export.firstDayOfWeekSetting"

  language="export.language"
  kpi="kpiValues.traffic"
  api-endpoint="kpis/traffic"
  api-return-key="total_traffic"
  get-unique-returning="true"
  separate-summary-requests="true"

  is-loading="widgetIsLoading[key]"
  hide-export-icon="true"
  exporting="true"
  chart-type="export.chartType"
  org-metrics="::export.orgMetrics"
>
</line-chart-widget>
