<!-- Traffic (perimeter) widget -->
<line-high-chart-widget
  widget-icon="entrance"
  language="export.language"
  widget-title="Traffic"
  kpi="export.kpi"

  org-id="export.organizationId"
  site-id="export.siteId"
  zone-id="export.zoneId"
  entrance-id="export.entranceId"

  currency-symbol="export.currencySymbol"
  current-user="export.currentUser"
  current-organization="export.currentOrganization"

  current-site="currentSite"
  show-weather-metrics = "export.showWeatherMetrics"
  selected-weather-metrics="export.selectedWeatherMetrics"
  selected-option="export.selectedOption"

  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end "
  compare-range1-start="export.compare1Range.start"
  compare-range1-end="export.compare1Range.end"
  compare-range2-start="export.compare2Range.start"
  compare-range2-end="export.compare2Range.end"
  compare-range1-type="export.compare1Type"
  compare-range2-type="export.compare2Type"
  date-format-mask="export.dateFormat"
  first-day-of-week-setting="export.firstDayOfWeekSetting"
  operating-hours="export.operatingHours"
  group-by="export.groupBy"

  api-endpoint="kpis/traffic"
  api-return-key="total_traffic"
  get-unique-returning="false"
  separate-summary-requests="true"

  is-loading="widgetIsLoading[key]"
  hide-export-icon="true"
  show-metrics="showMetrics"
  chart-type="export.chartType"
  show-table="export.showTable"
  show-table-toggle-button="export.isHourly"
  is-hourly="export.isHourly"
  sort-info="export.sortInfo"
  org-metrics="::export.orgMetrics"
>
</line-high-chart-widget>

