<usage-heatmap-widget
  org-id="export.organizationId"
  site-id="export.siteId"
  current-user="export.currentUser"
  current-organization="export.currentOrganization"
  location-id="export.locationId"
  date-range-start="export.dateRange.start"
  date-range-end="export.dateRange.end"
  comparison-date-range-start="export.comparisonDateRange.start"
  comparison-date-range-end="export.comparisonDateRange.end"
  language="export.language"
  low-threshold="10"
  high-threshold="30"
  is-loading="widgetIsLoading[key]"
  hide-export-icon="true"
>
</usage-heatmap-widget>
