
<widget-library-graph
  class="pdf"
  data-hide-export-icon="true"
  data-hide-export-to-custom-dashboard-icon="true"
  data-widget-title="export.widget? export.widget.widgetName:export.widgetName"
  data-current-user="export.currentUser"
  data-widget-config="export.widget? export.widget: export"
  data-date-range="export.dateRange"
  data-date-range-period="export.periodType"
  data-selected-org="export.currentOrganization ? export.currentOrganization:export.org && export.org.length > 0 ?export.org[0]:export.org">
</widget-library-graph>
