<div class="custom-tags">
  <div>
    <delete-custom-tags-modal message="vm.deleteMessage" delete-item="vm.confirmSiteDeleteTag()"></delete-custom-tags-modal>
    <h2 translate>.CUSTOMTAGS</h2>
    <button class="site-custom-tags-btn btn" ng-click="vm.addSiteCustomTag()" type="button" ng-disabled="!vm.orgTagsExists">
      <span class="icon icon-add">
        <span class="sticon sticon-add"></span>
      </span>
    </button>
    <span class="text-muted" translate>.ADDNEW</span>
    <div>
      <div id="noTagsMessage" class="error-message red small site-no-values" >
        <span>This site does not have any custom tags set by the Organisation</span>
      </div>
      <br/>
      <div ng-if= "vm.tagExists" class="alert alert-danger">Tag Exists</div>
      <div class="table-responsive site-custom-tags-table">
        <form>
          <table class="table">
            <thead>
              <tr>
                <th class="site-tags-sort" ng-click="vm.reverseTable()">
                  <span class="custom-tags-header">Tag name</span>
                  <span class="sticon sticon-arrow-right ng-scope" ng-class="{ reverse: vm.sortReverse }">
                  </span>
                </th>
                <th>Values</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tr ng-repeat="customTag in vm.siteCustomTags">
              <td class="custom-tags-td">
                <div ng-hide="vm.siteCustomTags[$index].siteCustomTagEditMode">
                  <p>{{ vm.siteCustomTags[$index].orgTagType }}</p>
                </div>
                <div ng-show="vm.siteCustomTags[$index].siteCustomTagEditMode" >
                  <select class="form-control" ng-model="vm.siteCustomTags[$index].orgTagType" ng-options="tag.orgTagType for tag in vm.customTags track by tag._id" ng-change="vm.selectedCustomTagChanged($index)" placeholder="Tag Type" required>
                    <option value="" translate>.PLEASECHOOSE</option>
                  </select>
                </div>
              </td>
              <td class="custom-tags-td">
                <div ng-hide="vm.siteCustomTags[$index].siteCustomTagEditMode">
                  <p>{{ vm.siteCustomTags[$index].orgTagValue }}</p>
                </div>

                <div ng-show="vm.siteCustomTags[$index].siteCustomTagEditMode">
                  <select class="form-control"  ng-model="vm.siteCustomTags[$index].orgTagValue"  ng-options="value.name for value in vm.selectedCustomTagValues track by value._id" ng-change="vm.saveSelectedCustomTag($index)" placeholder="Tag Value" required>
                    <option value="" translate>.PLEASECHOOSE</option>
                  </select>
                </div>
              </td>
              <td class="org-actions">
                <span class="btn" ng-click="vm.showSiteCustomTagDeleteModal($index)" data-title="{{ 'admin.DELETECUSTOMTAG' | translate }}" bs-tooltip>
                  <span class="sticon sticon-delete-small"></span>
                </span>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <section class="actions">
    <button ng-click="vm.saveChanges()" type="button" class="btn btn-primary" translate>
      .SAVE
    </button>
  </section>
</div>
