<div class="admin-site-edit">

  <div class="alert alert-success" ng-if="vm.saveSuccessful" translate>
    .SAVESUCCESSFUL
  </div>

  <div class="alert alert-danger" ng-if="vm.saveFailed">
    <span translate>.ERROR</span>: {{ ::edit.errorMessage }}
  </div>

  <div class="action-bar">

    <h1>{{ vm.site_Name }}</h1>

    <button ng-hide="true" ng-click="vm.resetToOrgDefaults()" type="button" class="btn btn-secondary disabled pull-right" translate>
      .RESETTOORGDEFAULTS
    </button>

    <div class="refresh-all-action pull-right" ng-click="vm.refresh()">
         <span class="icon icon-refresh">
           <span class="sticon sticon-refresh-small"></span>
         </span>
         <span class="label-text" translate>.REFRESH</span>
    </div>
  </div>

  <div class="site-details">
    <div class="site-details-spacing"><p><b>ID:</b> {{ ::vm.site_Id }}</p></div>
    <br/>
    <div><p><b>Type:</b> {{ ::vm.site_Type }}</p></div>
  </div>

  <div ng-hide="true" class="site-subscriptions">
    <h2 translate>subscription.SUBSCRIPTIONS</h2>
    <div class="row options">
      <div class="col-xs-12 col-sm-6 col-md-4 option" ng-repeat="(key, value) in vm.siteSubscriptions" ng-if="key !== 'large_format_mall'">
        <ui-switch chosen="vm.siteSubscriptions[key]"></ui-switch>
        <h3>{{ 'subscription.' +  key | translate }}</h3>
      </div>
    </div>
  </div>

  <div ui-view="adminTabs"></div>
</div>
