<div class="site-time-settings">

  <form name="dwellTimeForm" novalidate>
    <h2 translate>.TIMEOUT</h2>
    <p/>

    <section class="metrics">

      <div class="metric">
        <h3 translate>kpis.kpiTitle.shoppers_vs_others</h3>
        <br/>
        <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.shoppers_vs_others" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3 translate>.USAGEOFAREAS</h3>
        <p>(default value)</p>
          <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.default_value" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3 translate>.USAGEOFAREAS</h3>
        <p>Traffic Percentage Correlation</p>
          <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.traffic_percentage_correlation" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3 translate>.USAGEOFAREAS</h3>
        <p>First Visits</p>
          <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.first_visits" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3 translate>.USAGEOFAREAS</h3>
        <p>One and Done</p>
          <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.one_and_done" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3 translate>.USAGEOFAREAS</h3>
        <p>Locations After</p>
        <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.locations_after" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3 translate>.USAGEOFAREAS</h3>
        <p>Locations Before</p>
            <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.locations_before" name="default_value" min="0" />
      </div>

    </section>
  </form>

  <br/>
  <br/>
  <section class="actions">
    <button ng-click="vm.saveChanges()" type="button" class="btn btn-primary" translate>
      .SAVE
    </button>
  </section>

</div>
