<div ng-controller="DateRangeSelectorCtrl" translate-namespace="analyticsHeader" off-click="showMonthComponent=false" off-click-activator="showMonthComponent">
  <div class="toolbar-label"><small translate>.SELECTTIMEPERIOD</small></div>
   <div class="btn-group btn-group-date-range">
    <button
      ng-if="showRealTimeData"
      class="sticon sticon-real-time btn btn-default button-top0"
      type="button"
      ng-click="sendToRealTime()"
      ng-class="{ 'active' : realTimeDataShown === true}">
    </button>
    <button
      ng-repeat="dateRangeShortcut in dateRangeShortcuts track by $index"
      class="btn btn-default hidden-print"
      type="button"
      ng-click="setDateRangeChange(dateRangeShortcut.type)"
      ng-class="{ 'active' : calendarsLoaded && activeDateRange === dateRangeShortcut.type && !realTimeDataShown}">
      {{::dateRangeShortcut.label}}
    </button>
    <button
      type="button"
      class="btn btn-default date-range-dropdown"
      ng-class="{ 'active-header-button' : showDateRangePicker || activeDateRange === 'custom' && realTimeDataShown === false}"
      off-click-filter="'#date-range-picker'"
      ng-click="setCustomRangeActive()">
      {{ selectedDateRange.start | amDateFormat: dateFormat }} - {{ selectedDateRange.end | amDateFormat: dateFormat }} <span class="caret" aria-hidden="true"></span>
    </button>
    <date-range-picker
      ng-show="showDateRangePicker"
      id="date-range-picker"
      off-click="showDateRangePicker=false"
      selected-range="selectedDateRange"
      compare-range1="compareRange1"
      compare-range2="compareRange2"
      active-shortcut="activeShortcut"
      date-format-mask="dateFormat"
      current-organization="currentOrganization"
      organization-calendars="organizationCalendars"
      all-calendars="allCalendars"
      current-user="currentUser"
      visible="showDateRangePicker"
      show-compare-options="true"
      real-time-data-shown="realTimeDataShown"
      language="language"
      has-only-one-compare="hasOnlyOneCompare"
    >
    </date-range-picker>
  </div>

  <calendar-month 
    ng-show="showMonthComponent"
    on-change="updateDateRangeForMi(selectedDateRangeForMi)">
  </calendar-month>

  <div ng-if="::currentCalendarIsExpired" class="alert alert-danger expired-calendar-alert" role="alert">
    <div class="pull-left">
      <span class="sticon sticon-notice"></span>
    </div>
    <div class="message">
      <p>
        <span translate>
          .CALENDAREXPIRED
        </span>:
        {{::calendarName}}.
      </p>
      <p translate>
        .DEFAULTINGCALENDAR
      </p>
    </div>
  </div>

  <div class="date-range-detail-selector">
    <div class="switch-container pull-right" ng-if="showBusinessHourOption">
      <span class="operating-hours-title" for="ui-switch" translate>
        .OPERATINGHOURS
      </span>
      <ui-switch
        id="ui-switch"
        chosen="operatingHours.selected"
        ng-click="changeOperatingHoursType()">
      </ui-switch>
    </div>
  </div>
</div>
