<div class="popover site-selector">
  <div class="arrow"></div>
  <div class="popover-title site-selector-header">
    <input
      placeholder="{{ ::'locationSelector.SEARCH' | translate }}"
      class="form-control"
      type="search"
      ng-model="vm.keyword" />
  </div>

  <div class="popover-content site-selector-content">
    <div ng-transclude></div>
    <perfect-scrollbar class="site-tree-container scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
      <ul class="site-tree list-unstyled">
        <li class="select-all">
          <button ng-if="vm.showSelectAllButton" class="btn btn btn-primary" ng-click="vm.selectAllSites()">{{
            !vm.isAllSitesSelected() ? 'locationSelector.SELECTALL' : 'locationSelector.DESELECTALL' | translate
          }}</button>
        </li>
        <li
          ng-repeat="site in vm.sites | orderBy: 'description' track by site.site_id"
          ng-show="vm.shouldBeShown(site)"
          ng-click="vm.selectSite(site.site_id)"
          ng-class="{'is-selected': vm.isSelected({ siteId: site.site_id })}">
          <a
            class="site-tree-item-label">
            {{::vm.showCustomerSiteId && site.customer_site_id ? site.customer_site_id: ''}} - {{::site.name}}
          </a>
          <span class="sticon sticon-check-small zone-tree-item-checked-icon"></span>
        </li>
      </ul>
      </perfect-scrollbar>
    </div>
</div>
