.visiting-frequency-detail-widget {
  .panel-body {
    height: 650px;
    padding: 0;
  }

  .chart-container {
    height: 40%;
    padding: $line-height-computed $line-height-computed / 2 $line-height-computed * 2;
  
    &.bordered {
      border-right:1px solid $gray-lighter;
    }
  }

  .ct-chart {
    height: 330px;

    .ct-point:not(.is-hovered) {
      stroke-width: 1px;
    }

    .chart-label td, th {
      padding: 2px 10px;
    }
  }

  &.pdf-large {
    .ct-chart {
      // Fix width in PDF exports to work around PhantomJS SVG rendering bug
      width: 320px;
    }
  }

  .chart-legend {
    width:100%;
    text-align: center;
    margin: -10px 0 20px;
  }

  .chart-legend-label {
    display:inline;
    float:none;
  }
}

.widget-layout-1x,
.widget-layout-2x {
  .visiting-frequency-detail-widget {
    .panel-body {
      height: auto;
    }
    .chart-section,
    .kpi-detail-widget-legend {
      width: 100%;
      border-top: 1px solid #edebeb;
    }

    .chart-section {
      overflow: hidden;
    }

    .kpi-detail-widget-legend {
      height: 200px;
    }
  }
}

.widget-layout-1x {
  .visiting-frequency-detail-widget {
    .visiting-frequency-detail-widget-current,
    .period-data-container {
      height: 200px;
    }

    .kpi-detail-widget-legend {
      height: auto;
    }
  }
}

.widget-layout-2x {
  .visiting-frequency-detail-widget {
    .visiting-frequency-detail-widget-current,
    .period-data-container {
      width: 50%;
      position: absolute;
      height: 200px;
      
      @include media-up-to-xs {
        width: 100%;
      }
    }

    .visiting-frequency-detail-widget-current {
      top: 10px;
      left: 0;
    }

    .period-data-container {
      left: 50%;
      top: 0;

      .prior-period {
        border-width: 0;

        @include media-up-to-xs {
          border-width: 1px;
        }
      }

      @include media-up-to-xs {
        left: 0;
        top: 200px;
      }
    }

    .prior-period {
      border-width: 0;
    }
  }
}

.visiting-frequency-detail-widget-legend {
  text-align:center;
  font-size:16px;
  color:$gray-dark;
  padding: 0;
  height:60%;
  border-top:1px solid $gray-lighter;
}

.visiting-frequency-detail-widget-legend-container {
  padding-top: 10px;
}

.visiting-frequency-detail-widget-delta {
  left: 16px;
  padding-top: 10px 0 0;
}
.visiting-frequency-detail-widget-delta-icon {
  font-size: 20px;
  top: 6px;
}
.visiting-frequency-detail-widget-delta-icon-positive {
  color: $brand-success;
}
.visiting-frequency-detail-widget-delta-icon-negative {
  color: $brand-danger;
}

.visiting-frequency-detail-widget-delta-label {
  font-size:11px;
  display:inline-block;
  vertical-align:middle;
  line-height:1;
  margin-top:-8px;
  margin-right:5px;
  width:70px;
  color:$gray-light;
  position:absolute;
  top:50%;
  left:8px;
}

.visiting-frequency-detail-widget-alert-icon {
  color: $brand-danger !important;
  top:2px;
}

.visiting-frequency-detail-widget-current {
  .period-label {
    font-weight:bold;
    font-size:15px;
    text-align:left;
  }
  .period-label:before {
    content: "";
    position: relative;
    top: 7px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    border-radius: 5px;
    background:$brand-success;
  }
  .selected-period {
    font-size:10px;
    font-weight:400;
    line-height:25px;
    color: $gray-light;
    text-align:right;
  }
  .share-info {
    font-weight:700;
    line-height:0.8;
    font-size:32px;
    padding:50px 0;
    clear:both;

    small {
      font-weight:400;
      text-transform:uppercase;
      color:$gray-light;
      font-size:13px;
    }
  }
}

.visiting-frequency-detail-widget-compare {
  padding-top:10px;
  border-top:1px solid darken($gray-lighter,2%);
  background:lighten($gray-lighter,4%);
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;

  .period-label {
    font-weight:600;
    font-size:12px;
    color: $gray-light;
    text-transform:uppercase;
    text-align:left;

    &.year:before {
      background:#be64f0;
    }
  }
  .period-label:before {
    content: "";
    position: relative;
    top: 5px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin-right: 4px;
    border-radius: 5px;
    background:#0aaaff;
  }
  .selected-period {
    font-size:10px;
    font-weight:400;
    line-height:19px;
    color: $gray-light;
    text-align:right;
  }

  .share-info {
    text-align:center;
    font-size: 24px;
    font-weight: 600;
    line-height:2.5;
  }

  &.prior-period {
    bottom:100px;
  }
}

.alert-widget-small {
  margin-top:30px;
  padding:5px;
}

// PDF export fixes

.pdf-export .visiting-frequency-detail-widget-legend .visiting-frequency-detail-widget-compare .period-label,
.pdf-export .visiting-frequency-detail-widget-legend .visiting-frequency-detail-widget-current .period-label {
  font-size:10px;
  padding:0 0 0 10px;

  &:before {
    display:none;
  }
}
.pdf-export .visiting-frequency-detail-widget-legend .visiting-frequency-detail-widget-compare .selected-period,
.pdf-export .visiting-frequency-detail-widget-legend .visiting-frequency-detail-widget-current .selected-period {
  font-size:11px;
}
.pdf-export .visiting-frequency-detail-widget-legend .visiting-frequency-detail-widget-compare .value {
  padding:0;
}


@include media-md {
  .visiting-frequency-detail-widget .panel-body {
    height: 400px;
  }
  .visiting-frequency-detail-widget .chart-container,
  .visiting-frequency-detail-widget-legend {
    height: 100%;
  }

  .visiting-frequency-detail-widget-legend {
    border-top:0;
  }
}

.pdf-export {
  .visiting-frequency-detail-widget .panel-body {
    height: auto;
  }

  .visiting-frequency-detail-widget .chart-container,
  .visiting-frequency-detail-widget-legend {
    height: auto;
  }

  .visiting-frequency-detail-widget-compare {
    position:relative;
    bottom:0px;
  }

  .visiting-frequency-detail-widget-legend {
    border-top:1px solid $gray-lighter;
  }
}

.highcharts-container {
  width: 100% !important;
}

.pie-chart  .highcharts-data-label-connector {
  display: none;
}

.pie-chart text {
  font-weight: normal !important;
  color: #929090 !important;
  fill: #929090 !important;
}
