div.si-csv {
  min-width:810px;
  // width:980px;
  margin: auto;

  .modal {
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-content-mi {
    background-color:$gray-lighter;
    overflow-x: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    max-height: 95%;
    width: 95%;
  }

  .modal-header {
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid lightgrey;
    height:75px;
    h3.modal-title{
      left: 20px;
      text-align: left;
      position: relative;
    }
    .csv-icon-bg-border{
      height: 1px;
      border: solid 1px #d2d2d2;
      width: 100px;
      position: relative;
      top: -21px;
      z-index: -1;
      display: inline-block;
    }
     .top-icons {
       width: 30px;
       height: 30px;
       border-radius: 15px;
       top: -10px;
       padding: 5px;
       display: inline-block;
       span {
         position: relative;
         top: 10px;
         width: 150px;
         display: block;
         margin-left: -66px;
       }
     }
    .data-icon {
      background-color: #4bd67a;
      top: -8px;
      margin-right: -3px;
    }
    .time-icon {
      background-color: #d2d2d2;
      width: 29px;
      height: 29px;
      margin-left: -3px;
    }
   .close {
     top: -53px;
     position: relative;
     left: 100px;
    }

    .top-icons-container {
      margin-right: 66px;
    }
  }

  .modal-body {
    padding-top: 10px;
    min-height:200px;

    .center {
      position: relative;
      top:85px;
    }

    .pre-scrollable {
      height: 290px;
      overflow-x: hidden;
    }

    .csv-select-col-box {
      .comp-stores-selector {
        padding-top:7px;
        padding-bottom:7px;
        padding-left:10px;
        margin-left:0px;
      }
    }

    .report-type {
      height:91px;
      .comp-stores-selector {
        margin-top:13px;
        margin-left:0px;
      }
    }
    .csv-select-col {
      margin-top: 20px;
      .csv-select-col-outer-box{
        border: solid 1px lightgrey;
        border-radius: 3px;
        background: #ffffff;
      }

      .download-btn-wrapper {
        margin-bottom:20px;
      }
      .download-btn {
        display: block;
        width: 200px;
        border: solid 1px lightgrey;
        border-bottom: 10px solid $light-blue;
        border-radius: 2px;
        text-align: center;
        margin-top: 10px;
        padding-top: 12px;
        background: #ffffff;
      }
      .form-group {
        margin-bottom:20px;
      }
      .show-geographies{
        margin-top: 22px;
        label{
          cursor: pointer;
          .select-all-cb{
            cursor: pointer;
            margin: 0 5px 0 8px;
            vertical-align: middle;
          }
        }
      }
      .geo-radios {
        label {
          font-weight: normal;
          padding: 5px 5px 5px 10px;
          margin-bottom:0px;
          input.cat-radio{
            margin-right: 6px;
            top: 2px;
            position: relative;
          }
        }
      }
    }

    .geography-col {
      height: 340px;
    }
  }
  .modal-footer {
    margin-top: 20px;
    border: none;
    span.sticon-arrow-right{
      top: 3px;
      left: 2px;
    }
  }
  .modal-backdrop{
    display: none;
  }
  .modal-compare .modal-body label{
    display: inherit;
  }
  .selected {
    background-color: transparent;
    color: $light-blue;
  }
  .first-screen {
    height: 500px;
  }
  .second-screen {
    height: 500px;
  }
  .date-range-picker{
    right: auto;
  }
  .toolbar-label{
    text-align: left;
    font-weight: bold;
    margin: 13px 0 6px 0;
  }
  .group-by-time{
    float: left;
  }
  .csv-dropdown-btn{
    background: transparent;
    border: solid 1px lightgrey;
  }
  .error-text{
    text-align: left;
    color: #f75c38;
  }
  .tree-view-accordion {
    .leaf-title {
      text-align: left;
    }

    li {
      .caret {
        padding-bottom: $padding-base-horizontal;
        padding-right: 0;
        height: 38px;
        width: 44px;

        &.caret-inverted {
          padding-right: $padding-base-horizontal;
          padding-bottom: 0;
          height: 28px;
        }
      }
    }
  }
}

