<div id="miModal" class="modal si-csv fade col-xs-10" translate-namespace="marketIntelligence.CSV">
  <!-- Modal content-->
  <div class="modal-content modal-content-mi">
    <div class="modal-header row">

      <div class="col-xs-6">
        <h3 class="modal-title" translate>.CREATESHOPPERTRAKINDEXREPORT</h3>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="top-icons-container pull-right">
            <div class="top-icons" ng-class="{'data-icon': vm.firstScreen, 'time-icon': !vm.firstScreen}">
              1
              <span translate>.DATA</span>
            </div>
            <div class="csv-icon-bg-border"></div>
            <div class="top-icons" ng-class="{'time-icon': vm.firstScreen, 'data-icon': !vm.firstScreen}">
              2
              <span translate>
              .TIMEPERIOD
            </span>
            </div>
          </div>

        </div>
        <button type="button" class="close" ng-click="vm.previewInProgress=false" data-dismiss="modal">&times;</button>
      </div>
    </div>

    <div class="modal-body">
      <div class="row center first-screen" ng-if="vm.isLoading">
        <div
          class="col-xs-12">
            <span translate>
              common.LOADING
            </span>
        </div>
      </div>

      <div class="row center">
        <div
          ng-if="!vm.isLoading && vm.showError"
          class="col-xs-12 text-center error-message">
            <span translate>common.DATAERROR</span>
        </div>
      </div>

      <div class="row" ng-if="!vm.isLoading && !vm.showError && vm.firstScreen">
        <div class="col-xs-6 csv-select-col">
          <div class="row">
            <div class="col-xs-12 report-type">
               <div class="download-btn-wrapper">
                <label translate>.REPORTTYPE</label>
                <div class="comp-stores-selector selected">
                  <span class="option-button">
                    <span></span>
                  </span>
                  <span class="option-label" translate>.SINGLEDOWNLOAD</span>
                </div>
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="show-categories">
                <label translate>.SELECTCATEGORY</label>
                <div class="csv-select-col-outer-box">
                  <div class="csv-select-col-box pre-scrollable">
                    <div class="form-group geo-radios">
                      <div
                        ng-repeat="cat in ::vm.subscribedCategories track by $index"
                        class="comp-stores-selector"
                        ng-class="{selected: cat.uuid === vm.selectedUuid}"
                        ng-click="vm.setCategory(cat.uuid)">
                          <span class="option-button">
                            <span></span>
                          </span>
                        <span class="option-label">{{::cat.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 csv-select-col">
          <div class="form-group">
            <label translate>.REPORTNAME</label>
            <input type="text" class="form-control" ng-model="vm.reportName"
                   placeholder="{{::vm.reportNamePlaceholder}}"/>
          </div>
          <div class="show-geographies">
            <label>
                <input type="checkbox" class="select-all-cb" ng-model="vm.isAllSelected" ng-change="vm.toggleAllGeographies()"/>
                <span translate>.SELECTGEOGRAPHYLEVEL</span>
            </label>
            
            <div class="csv-select-col-outer-box">
              <div class="csv-select-col-box pre-scrollable">
                <div class="form-group">
                  <tree-view-accordion
                    items="vm.geographyByCategoryList"
                    current-item="vm.selectedGeographyItems"
                    display-property="vm.geographyByCategory.displayProperty"
                    multi-select="vm.geographyByCategory.multiSelect"
                  ></tree-view-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row second-screen" ng-if="!vm.isLoading && !vm.showError && vm.secondScreen">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-8">
              <div class="toolbars pull-left">
                <div class="toolbar">
                  <div
                    class="toolbar-section toolbar-section-date-range"
                    ng-include="'app/analytics/analytics-header/date-range-selector/date-range-selector.partial.html'">
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8 pull-left error-text">
              <div ng-if="vm.dataError" translate>.DATAERROR</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="toolbar-label" translate><small>marketIntelligence.GROUPBY</small></div>
              <div class="dropdown group-by-time">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  {{vm.selectedGroupingName}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li
                    ng-repeat="dropdown in vm.trendAnalysisDropDownArray track by dropdown.name"
                    ng-class="{'dropdown-header': dropdown.type === 'group', 'active': dropdown.selected === true}">
                    <a
                      href=""
                      ng-click="vm.updateDataPoints(dropdown)">
                      {{::dropdown.name}}
                      <i class="glyphicon glyphicon-ok pull-right padding-left-10" ng-show="dropdown.selected"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row" ng-if="vm.showErrorInfo">
            <div class="col-xs-8 error-text warning">
              <span translate>.SELECTGROUPBY</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="row">
        <div class="col-xs-5 csv-select-col">
          <button ng-click="vm.showFirstScreen()" class="btn btn-primary pull-left margin-right-15" ng-if="vm.secondScreen">
            <span class="sticon sticon-arrow-left" aria-hidden="true"></span>
            <span translate>common.BACK</span>
          </button>

          <button ng-click="vm.showSecondScreen()" ng-if="vm.firstScreen"
                  ng-disabled="!vm.categorySelected || !vm.geographySelected || vm.emptyReportname"
                  class="btn btn-primary pull-left margin-right-15">
            <span translate>common.CONTINUE</span>
            <span class="sticon sticon-arrow-right " aria-hidden="true"></span>
          </button>

          <button ng-click="vm.onCsvDownload()" ng-if="vm.secondScreen" ng-disabled = "!vm.enableDownloadBtn" class="btn btn-primary pull-left margin-right-15">
            <span class="sticon sticon-export" aria-hidden="true"></span>
            <span translate>.DOWNLOADREPORT</span>
          </button>

          <button class="btn btn-default pull-left margin-right-15" ng-click="vm.closeModal()">
            <span translate>common.CANCEL</span>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>