node_modules/
bower_components/
dist/
coverage/
.tmp/
.sass-cache/
.envrc
.transpiled/

# Yarn (alternative npm client) uses a lockfile for deterministic package installation
/yarn.lock

# Ignore config modules, these are generated with gulp
src/components/common/config.js
src/components/common/features-config.constants.js

# OS X folder attributes file
.DS_Store

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace


# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# VS code jsconfig is being used for intellisense
jsconfig.json
.vscode/

# Generated test data for unit tests:
test/fixture/_*.json

# Environment name resource configuration
.envrc
# Logs
npm-debug*
*.log

*.v8flags.5.1.281.84.undefined.json
