<div class="popover multiple-selector-widget">
  <div class="arrow"></div>
  <div class="popover-title multiple-selector-header">
    <input
      placeholder=" {{ 'locationSelector.SEARCH' | translate }}"
      class="form-control"
      type="text"
      ng-model="vm.filter" />
  </div>
  <div class="popover-content multiple-selector-content">
    <div ng-transclude></div>
    <div class="multiple-selector-list-container">
      <ul class="multiple-selector-list list-unstyled">
        <li class="select-all">
          <button ng-if="vm.showSelectAllButton && !vm.allSelected" class="btn btn btn-primary btn-block" ng-click="vm.toggleAllItems()" translate>locationSelector.SELECTALL</button>
          <button ng-if="vm.showSelectAllButton && vm.allSelected" class="btn btn btn-primar y btn-block" ng-click="vm.toggleAllItems()" translate>locationSelector.DESELECTALL</button>
        </li>
        <li ng-repeat="item in vm.items | orderBy: vm.orderBy | filter: vm.filter" class="multiple-selector-item" ng-class="{'is-selected': vm.isSelected(item.id)}" ng-click="vm.toggleItem(item.id)">
          <span class="multiple-selector-item-label">
            {{::item.name}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
