<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeSuite" verbose="1" thread-count="1"
	preserve-order="true">

	<listeners>
		<listener class-name="com.Listener.TestListener"></listener>
	</listeners>

	<test name="Test Modules" enabled="true" parallel="classes"
		preserve-order="true">

		<classes>
			<class name="stepDefinition.TestNGRunner" />
		</classes>
	</test>
</suite>



