.org-dist {
  .org-select {
    padding: 0;
    margin: 0;
    height: 40vh;
    min-height: 260px;
    overflow-x: scroll;
    background: $white;
    border: 1px solid darken($gray-lighter, 10%);
    border-radius: 5px;
    width: 100%;
    li {
      list-style: none;
      display: block;
      clear: both;
      margin-bottom: 1px;
      padding: 8px 15px;
      opacity: 1;
      &.selected {
        background-color: darken($gray-lighter, 10%);
      }
      &.disabled {
        opacity: 0.5;
        background: darken($gray-lighter, 10%);
        transition: background-color linear 0.15s, opacity linear 0.15s;
      }
      input {
        float: left;
        margin-bottom: 0;
        margin-right: 5px;
      } label {
        display: block;
        color: $gray;
        font-weight: 400;
        margin: 0;
        cursor: pointer;
      }
    }
  }
  .toggle-orgs {
    padding:15px;
    background-color: $active-color;
    color: $white;
    border-radius: 100%;
    transform: rotate(90deg);
    font-size: 20px;
    margin-top: 35px;
    cursor: pointer;
  }
}
