.summary-widget-wrapper {
  .widget-heading {
    .export-widget {
      margin-left: $padding-base-vertical;
      
      a {
        height: 26px;
      }
    }

    .widget-actions {
      padding-right: 0;
    }
  }

  .mi-panel-heading { 
    padding:0 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: -1px;
    border-top-left-radius: -1px;
  }

  .widget-actions {
    .export-widget a {
      border-radius: 3px;
    }
  }

  .panel-body {
    height:234px;
    padding:0;

    .error-message {
      min-height:100px;
      height:100%;
    }

    .segment-section {
      &:not(:last-child) {
        border-right:1px solid $brand-primary;
      }

      height:100%;
      display: inline-block;
      width:20%;
    }
  }
}
