
.market-intelligence-widget {
  position: relative;
  $default-widget-height: 358px;

  .widget-heading .export-widget {
    margin-left: $padding-base-vertical;
    
    a {
      height: 26px;
    }
  }

  .dropdown-container,
  .dropdown {
    display: inline-block;
    padding: 8px 0;

    button {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .trend-chart-dropdowns {
    margin-top:10px;
    .dropdown {
      display: inline-block;
      
      .btn {
        background: none;
        
        &:active {
          box-shadow: none;
          outline: none;
        }

        .caret {
          margin-left:3px;
        }

        .sticon-circle-delete {
          margin-left:3px;
          color: $brand-danger;
        }
      }
    }

    multi-select-dropdown {
      .btn {
        border: none;
      }
    }
  }

  .full-height {
    height: 100%!important;
    min-height:100px;
  }
  .panel-body {
    padding: 0px;
    min-height: $default-widget-height;
    &.has-table {
      padding-bottom: 0;
    }
  }

  .loader {
    min-height:250px;
  }

  h2 {
    margin-top:0px;
    margin-bottom:0px;
  }

  .axis-title{
    color: $gray-light;
    font-size:12px;
  }

  .graph-container {
    height: 362px;
    padding-top: 30px;
  }

  .chart-tooltip {
    min-width: 165px;
    table > tbody > tr > td {
      border:none;
      border-right:none;
      background-color: transparent;
      padding:3px !important;
    }
    table > tbody > tr > th, td {
      padding:3px !important;
      border-top:none;
    }

    h4 {
      font-size:14px;
      font-weight: bold;
    }
  }

  div.active {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #0aaaff;
  }

  .table-open .table-toggle {
    top:12px
  }
  .table-toggle {
    margin-left:0px;
    .btn {
      position:relative;
      padding: 1px 10px;
      text-transform: uppercase;
    }
  }

  .margin-top-8 {
    margin-top:8px;
  }

  .chart-title {
    font-size: $font-size-small;
    text-transform: uppercase;
    color: $gray-light;
  }

  .chart-legend-label {
    font-size: $font-size-small;
    color: $gray-light;
  }

  .hide-table-button {
    bottom: -10px;
  }

  table.table {
    width: 100%;
    font-size:12px;
    border-left:none;
    border-right:none;
    margin-bottom: 0;

    &.table-bordered {
      border-color: $gray-lighter;
      thead > tr > th {
        border-color: $gray-lighter;
        border-bottom-width:1px;
        text-transform: uppercase;
        text-align: center;
        padding-left: 0px!important;
        padding-right: 0px!important;
        &:first-child {
          border-left:none;

        }
        &:last-child {
          border-right:none;
        }
        &.link {
          a {
            display: block;
            width: 100%;
            padding-top: 8px;
          }
        }
        &.active a {
          color: $brand-primary;
          background-color: white;
        }
        a {
          color:$gray-dark;
        }
      }
      .first-row-line tr:first-child > td{
        border-bottom:#000000 solid 1px;
      }
      tbody > tr > td,
      tfoot > tr > td {
        border-color: $gray-lighter;
        text-align: center;
        &:first-child {
          border-left:none;
        }
        &:last-child {
          border-right:none;
        }
      }

      tfoot > tr > td {
        border-color: $gray-lighter;
        border-top-color: black;
        text-align: center;
        &:first-child {
          border-left:none;
        }
        &:last-child {
          border-right:none;
        }
      }
    }
    .border-left {
      border-left: 1px solid $brand-primary !important;
      border-color: $brand-primary;
    }
    .no-border-right{
      border-right:none
    }
    .no-border-left{
      border-left:none
    }
    &.reduced-padding {
      tbody > tr > td,
      thead > tr > th,
      tfoot > tr > td {
        padding-top:6px;
        padding-bottom:6px;
        padding-right: 0px;
        padding-left: 0px;
      }
    }
  }

  .conversion-chart svg > .highcharts-axis {
    width:100%!important;
    path {
      stroke-dasharray: 1,3;
      stroke: rgb(201, 201, 201);
    }
  }

  .conversion-chart .highcharts-series-group {
    width:100%!important;

  }

  .conversion-chart .highcharts-tooltip {
    background-color: white;
    span {
      width: 265px;
    }

    .tooltip-header {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
    }

    .tooltip-value {
      float: right;
      padding-right: 10px;
    }
  }

  @media (max-width: 991px) {
    .graph-container {
      margin-bottom: 12px;
    }
  }

  .pdf-export .market-intelligence-widget {
    .conversion-chart {
      width: 100%;
    }
  }

  .highcharts-tooltip span {
    width:205px!important;
    background-color:#ffffff;
    overflow:hidden;
    white-space:normal !important;
  }
  .highcharts-tooltip span table td{
    width: 100px;
    margin-left: auto;
    text-align: left;

    &.series-name {
      width: 200px;
    }
  }
  .highcharts-tooltip span table tr:first-child td:nth-child(2) {
    text-align: right;
  }
  .display-title{
    position: absolute;
    top: 14px;
    left: 205px;
  }
  .display-title span {
    background: #CCCCCC;
    border-radius: 15px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 12px;

    &:not(:last-child) {
      margin: 0 5px 0 0;
    }
  }
  span.default-color{
    color: #000000;
  }

}