<div class="market-intelligence-widget-wrapper display-title" translate-namespace="marketIntelligence">

  <widget class="market-intelligence-widget">
    <div class="display-title">
      <span ng-repeat="item in vm.selectionSummary track by $index">{{item.geography}} / {{item.category}}</span>
    </div>
    <widget-header
      widget-title="Trend Analysis"
      icon="entrance"
      hide-export-to-custom-dashboard-icon="true"
      csv-export="true"
      on-csv-export-click="vm.onCsvExportClick()"
      disable-export="vm.exportIsDisabled"
      on-export-click="vm.onPdfExportClick()">

    </widget-header>

    <widget-body>
      <div class="row trend-chart-dropdowns" ng-show="vm.isLoading === false">
        <div class="col-xs-12 text-center">
          <div class="dropdown mi-analysis-y-axis-dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
              <span translate>.SAMESTOREINDEX</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header" translate>.YAXIS</li>
              <li><a translate>.SAMESTOREINDEX</a></li>
            </ul>
          </div>

          <div class="dropdown-container" ng-if="vm.firstGroupingDropdownArray">
            <span class="inline-block" translate>
              .BY
            </span>
            <multi-select-dropdown
              options="vm.firstGroupingDropdownArray"
              selected-items="vm.firstGroupingSelectedItems"
              title-property="name"
              min-length="1"
              max-length="1"
              placeholder="vm.firstGroupingDropdownConfig.placeholder"
              translate-titles="false"
              on-item-selection="vm.applyFirstGrouping(selectedItems)"
              id-property="id"
              allow-option-grouping="true"
              list-title="vm.firstGroupingDropdownConfig.title"
              show-list-title="true"
              is-loading="vm.isLoading">
            </multi-select-dropdown>
          </div>

          <div class="dropdown-container" ng-if="!vm.dropdownExportReady">
            <span class="inline-block" ng-if="vm.secondGroupingSelectedItems[0]" translate>
            .BY
            </span>

            <multi-select-dropdown
              options="vm.secondGroupingDropdownArray"
              selected-items="vm.secondGroupingSelectedItems"
              title-property="name"
              min-length="1"
              max-length="1"
              placeholder="vm.secondGroupingDropdownConfig.placeholder"
              translate-titles="false"
              on-item-selection="vm.applySecondGrouping(selectedItems)"
              disabled="vm.multiSubscription || !vm.firstGroupingSelectedItems[0]"
              id-property="id"
              allow-deselect-single="true"
              list-title="vm.secondGroupingDropdownConfig.title"
              show-list-title="true"
              is-loading="vm.isLoading">
            </multi-select-dropdown>
          </div>
        </div>
      </div>
      <div class="row full-height">
        <div class="col-xs-12 loader full-height" ng-show="vm.isLoading === true">
          <span translate>Loading...</span>
        </div>

        <div class="col-xs-12 full-height text-center error-message" ng-if="vm.hasNoDataError()">
          <span translate>common.NODATA</span>
        </div>

        <div class="col-xs-12 text-center error-message full-height" ng-if="vm.requestFailedError()">
          <span translate>common.ERROR</span>
        </div>


        <div class="data-section chart-body col-xs-12 full-height" ng-if="vm.isLoading === false && vm.hasData === true && vm.requestFailed === false">

          <div class="graph-container">
            <highchart
              class="conversion-chart"
              config="vm.chartConfig">
            </highchart>
          </div>

          <div
            ng-class= "{'table-open':vm.showTable}"
            ng-if="!vm.showTable">
            <div
              class="no-vertical-padding margin-top-8 overflow-hidden"
              ng-include="'components/widgets/market-intelligence-widget/market-intelligence-table.partial.html'">
            </div>
          </div>

          <div
            ng-if="!vm.controlsExportReady"
            class="col-xs-12 text-center table-toggle widget-actions">
            <button
              class="btn btn-default btn-xs hide-table-button"
              ng-click="vm.toggleTableShow()">
              <span ng-show="!vm.showTable" translate>.HIDETABLE</span>
              <span ng-show="vm.showTable" translate>.SHOWTABLE</span>
              <span class="caret" ng-class="{up: !vm.showTable}"></span>
            </button>
          </div>
        </div>
      </div>
    </widget-body>

  </widget>
</div>
