<div class="widget-library__modal__graph-widget-config modal-content">
  <form>
    <header>
      <div class="modal-header">
        <h2 class="modal-title" ng-show="!vm.previewScreen && !vm.editMode" translate>widgetLibrary.NEWGRAPHWIDGET</h2>
        <h2 class="modal-title" ng-show="!vm.previewScreen && vm.editMode" translate>widgetLibrary.EDITGRAPHWIDGET</h2>
        <h2 class="modal-title" ng-show="vm.previewScreen" translate>widgetLibrary.PREVIEWGRAPHWIDGET</h2>
      </div>
    </header>

    <div class="modal-body" ng-show="!vm.previewScreen">


      <nav>
        <div class="nav-tabs" ng-model="vm.tab" ng-init="tab = 'desc'">
          <ul>
            <li ng-class="{'selected-tab' : tab === 'desc'}" ng-click="tab = 'desc'">{{::'widgetLibrary.WIDGETDESCRIPTION' | translate}}<span ng-class="{'requirement-unfulfilled' : vm.widgetName.length < 1}">*</span></li>
            <li ng-class="{'selected-tab' : tab === 'xaxis'}" ng-click="tab = 'xaxis'">{{::'widgetLibrary.XAXIS' | translate}}<span ng-class="{'requirement-unfulfilled' : !vm.selectedGroupby}">*</span></li>
            <li ng-class="{'selected-tab' : tab === 'yaxis'}" ng-click="tab = 'yaxis'">{{::'widgetLibrary.YAXIS' | translate}}<span ng-class="{'requirement-unfulfilled' : vm.yAxisFailValidate}">*</span></li>
            <li ng-class="{'selected-tab' : tab === 'dist'}" ng-click="tab = 'dist'">{{::'widgetLibrary.DISTRIBUTETOORGS' | translate}}</li>
          </ul>
        </div>
      </nav>

      <div class="tab" ng-show="tab === 'desc'">
        <div ng-include="'app/analytics/widget-library/partials/config-description.partial.html'"></div>
      </div>

      <div class="tab" ng-show="tab === 'xaxis'">
          <div ng-include="'app/analytics/widget-library/partials/graph-widget-config/graph-widget-x-axis-builder.partial.html'"></div>
      </div>

      <div class="tab" ng-show="tab === 'yaxis'">
        <div ng-include="'app/analytics/widget-library/partials/graph-widget-config/graph-widget-y-axis-builder.partial.html'"></div>
      </div>

      <div class="tab" ng-show="tab === 'dist'">
        <div ng-include="'app/analytics/widget-library/partials/org-dist.partial.html'"></div>
      </div>

    </div>
    <!-- ./modal body end -->

    <div ng-include="'app/analytics/widget-library/partials/graph-widget-config/graph-widget-config-preview.partial.html'"></div>

    <div ng-include="'app/analytics/widget-library/partials/modal-footer.partial.html'"></div>
  </form>

</div>
