<div class="row widget-library__modal__graph-widget-config__y-axis">
  <div class="col-xs-12">
    <h4>{{::'widgetLibrary.YAXIS' | translate}} <small><sup>*</sup>{{::'widgetLibrary.REQUIRED' | translate}}</small></h4>
  </div>

  <div class="col-xs-12 metric-row" ng-repeat="yAxis in vm.yAxisConfig track by $index">
    <div class="metric-clearing">

      <div class="reset-metric">
        <button class="btn btn-default" ng-click="vm.resetMetric($index)">{{::'widgetLibrary.CLEAR' | translate}} <i title="reset Metric" class="sticon sticon-trash" aria-hidden="true"></i></button>
      </div>

      <div class="delete-metric" ng-click="vm.removeMetric($index)">
        <i title="Remove Metric" class="sticon sticon-circle-delete" aria-hidden="true"></i>
      </div>
    </div>

    <div class="metric-options">

      <div class="dropdown inline-block multi-select-list">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span ng-model="yAxis.selectedMetric" translate>{{yAxis.selectedMetric.shortTranslationLabel || 'metricSelector.SELECTMETRIC'}}</span> <span class="caret"></span>
            </button>
        <ul class="dropdown-menu">
          <li ng-repeat="metric in vm.metrics track by metric.kpi">
            <a ng-click="yAxis.selectedMetric = metric" ng-hide="metric.disabled" translate>{{::metric.shortTranslationLabel}}</a>
          </li>
        </ul>
      </div>

      <div class="dropdown inline-block multi-select-list">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span ng-model="yAxis.selectedPeriod" translate>{{yAxis.selectedPeriod.type || 'analyticsHeader.SELECTTIMEPERIOD'}}</span> <span class="caret"></span>
            </button>
        <ul class="dropdown-menu">
          <li ng-repeat="period in vm.periods track by period.type">
            <a ng-click="yAxis.selectedPeriod = period" translate>{{::period.type}}</a>
          </li>
        </ul>
      </div>

      <div class="switch">
        <label ng-class="{'selected': yAxis.chartType === 'bar'}" for="chartTypeBar{{$index}}" translate>widgetLibrary.BAR</label>
        <label ng-class="{'selected': yAxis.chartType === 'line'}" for="chartTypeLine{{$index}}" translate>widgetLibrary.LINE</label>
        <input type="radio" ng-click="yAxis.chartType = 'bar'" name="chartTypeSelect{{$index}}" id="chartTypeBar{{$index}}" />
        <input type="radio" ng-click="yAxis.chartType = 'line'" name="chartTypeSelect{{$index}}" id="chartTypeLine{{$index}}" checked="checked"
        />
      </div>
    </div>

  </div>

  <div class="text-center add-metric-row col-xs-12">
    <button ng-click="vm.addMetric()">{{::'widgetLibrary.ADDMETRIC' | translate}} <i title="Add metric" class="sticon sticon-plus-add" aria-hidden="true"></i></button>
  </div>
</div>
<!-- ./ Yaxis builder end -->
