<div class="summary-widget-wrapper col-xs-12 col-sm-6 col-md-4" translate-namespace="summaryWidget">

  <widget class="summary-widget">
    <widget-header
      widget-title="{{ widgetTitle }}"
      icon="{{ ::widgetIcon }}"
      hide-export-icon="hideExportIcon"
      disable-export="exportIsDisabled"
      on-export-click="onExportClick()">
    </widget-header>

    <widget-body>
      <div class="summary-widget-container" ng-if="!isLoading">

        <div class="summary-widget-current">
          <div class="col-xs-6 period-label" translate>common.SELECTEDPERIOD</div>
          <div class="col-xs-6 selected-period">
            {{firstDate[0]}} - {{endDate[0]}}
          </div>
          <div
            ng-if="!showAverages && hasData(0)"
            class="value col-xs-12"
            ng-class="{'no-details': (displayUniqueReturning===false || uniqueData.length === 0 && returnData.length === 0)}">
            <span>{{ totalData[0] | formatNumber:returnDataPrecision:numberFormatName }}{{valueLabel}}</span><br />
            <small>{{kpiLabel}}</small>
          </div>
          <div
            ng-if="showAverages && hasData(0)"
            class="value col-xs-12"
            ng-class="{'no-details': (displayUniqueReturning===false || uniqueData[0] === 0 && returnData[0] === 0)}">
            <span>{{ (averageReportData[0][apiReturnKey] * multiplier) | formatNumber:returnDataPrecision:numberFormatName }}{{valueLabel}}</span>
            <div ng-if="showChartInLegend && legendChartData" class="legend-chart">
              <piechart
                data="legendChartData"
                options="legendChartOptions">
              </piechart>
            </div>
            <br />
            <small>{{kpiLabel}}</small>
          </div>
          <div
            class="col-xs-4 col-xs-offset-2 traffic-share-info"
            ng-if="displayUniqueReturning===true && uniqueData[0] !== undefined">
            {{ uniqueData[0] | formatNumber:returnDataPrecision:numberFormatName }}<br />
            <small translate>.UNIQUE</small>
          </div>
          <div
            class="col-xs-4 traffic-share-info"
            ng-if="displayUniqueReturning===true && returnData[0] !== undefined">
            {{ returnData[0] | formatNumber:returnDataPrecision:numberFormatName }}<br />
            <small translate>.RETURNING</small>
          </div>
        </div>

        <div class="summary-widget-compare prior-period">
          <div class="col-xs-6 period-label" ng-if="compareRangeIsPriorPeriod(compare1Period)" translate>common.PRIORPERIOD</div>
          <div class="col-xs-6 period-label" ng-if="compareRangeIsPriorYear(compare1Period)" translate>common.PRIORYEAR</div>
          <div class="col-xs-6 period-label" ng-if="!compareRangeIsPriorPeriod(compare1Period) && !compareRangeIsPriorYear(compare1Period)" translate>common.CUSTOMCOMPARE1</div>

          <div class="col-xs-6 selected-period">
            {{firstDate[1]}} - {{endDate[1]}}
          </div>
          <div
            class="value col-xs-12"
            ng-class="{
              'no-details': displayUniqueReturning===false,
              'no-delta': totalData[1] === 0
            }">
            <div
              ng-if="totalData[1] > 0"
              class="summary-widget-delta-label colored"
              ng-class="{
                'summary-widget-delta-positive': deltaColoring[1] === 'positive',
                'summary-widget-delta-negative': deltaColoring[1] === 'negative'
              }">
              <span
                ng-if="deltaColoring[1] === 'positive'"
                class="sticon sticon-triangle-up summary-widget-delta-icon summary-widget-delta-icon-positive"
                aria-hidden="true">
              </span>
              <span
                ng-if="deltaColoring[1] === 'negative'"
                class="sticon sticon-triangle-down summary-widget-delta-icon summary-widget-delta-icon-negative"
                aria-hidden="true">
              </span>
              <span class="summary-widget-delta-value">
                {{ deltaLabel[1] }}
              </span>
            </div>
            <span ng-show="hasData(1) && !showAverages">
              {{ totalData[1] | formatNumber:returnDataPrecision:numberFormatName }}{{valueLabel}}
            </span>
            <span ng-show="hasData(1) && showAverages">
              {{ (averageCompareData[0][apiReturnKey] * multiplier) | formatNumber:returnDataPrecision:numberFormatName }}{{valueLabel}}
            </span>
            <span ng-show="!hasData(1)">
              <small translate>common.NODATA</small>
            </span>
          </div>
          <div
            class="traffic-share-info"
            ng-if="displayUniqueReturning===true && hasData(1) && uniqueData[1] !== undefined && returnData[1] !== undefined">
            {{ uniqueData[1] | formatNumber:returnDataPrecision:numberFormatName }} / {{ returnData[1] | formatNumber:returnDataPrecision:numberFormatName }}
          </div>
        </div>

        <div class="summary-widget-compare prior-year">
          <div class="col-xs-6 period-label year" ng-if="compareRangeIsPriorPeriod(compare2Period)" translate>common.PRIORPERIOD</div>
          <div class="col-xs-6 period-label year" ng-if="compareRangeIsPriorYear(compare2Period)" translate>common.PRIORYEAR</div>
          <div class="col-xs-6 period-label year" ng-if="!compareRangeIsPriorPeriod(compare2Period) && !compareRangeIsPriorYear(compare2Period)" translate>common.CUSTOMCOMPARE2</div>

          <div class="col-xs-6 selected-period">
            {{firstDate[2]}} - {{endDate[2]}}
          </div>
          <div
            class="value col-xs-12"
            ng-class="{
              'no-details': displayUniqueReturning===false,
              'no-delta': (totalData[2] === 0 || !hasData(2) || chartData.series[2].length === 0)
            }">
            <div
              ng-if="hasData(2) && totalData[2] > 0"
              class="summary-widget-delta-label colored"
              ng-class="{
                'summary-widget-delta-positive': deltaColoring[2] === 'positive',
                'summary-widget-delta-negative': deltaColoring[2] === 'negative'
              }">
              <span
                ng-if="deltaColoring[2] === 'positive'"
                class="sticon sticon-triangle-up summary-widget-delta-icon summary-widget-delta-icon-positive"
                aria-hidden="true">
              </span>
              <span
                ng-if="deltaColoring[2] === 'negative'"
                class="sticon sticon-triangle-down summary-widget-delta-icon summary-widget-delta-icon-negative"
                aria-hidden="true">
              </span>
              {{ deltaLabel[2] }}
            </div>
            <span ng-show="hasData(2) && !showAverages">
              {{ totalData[2] | formatNumber:returnDataPrecision:numberFormatName }}{{valueLabel}}
            </span>
            <span ng-show="hasData(2) && showAverages">
              {{ (averageYearData[0][apiReturnKey] * multiplier) | formatNumber:returnDataPrecision:numberFormatName }}{{valueLabel}}
            </span>
            <span ng-show="!hasData(2)">
              <small translate>common.NODATA</small>
            </span>
          </div>
          <div
            class="traffic-share-info"
            ng-if="displayUniqueReturning===true && hasData(2) && uniqueData[2] !== undefined && returnData[2] !== undefined">
            {{ uniqueData[2] | formatNumber:returnDataPrecision:numberFormatName }} / {{ returnData[2] | formatNumber:returnDataPrecision:numberFormatName }}
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 text-center error-message"
        ng-if="!isLoading && !requestFailed && !hasData(0)">
        <span translate>common.NODATA</span>
      </div>

      <div class="col-xs-12 loader" ng-if="isLoading">
        <span translate>common.LOADING</span>
      </div>

      <div ng-if="requestFailed" class="col-xs-12 text-center error-message">
        <span translate>common.DATAERROR</span>
      </div>
    </widget-body>

  </widget>

</div>
