md-dialog {
  top: 20px !important;
  left: 20px !important;
  height: auto !important;
  width: auto !important;
  max-height: 90% !important;
  min-width: calc(100vw - 250px);
  pointer-events: all;
}

md-dialog-content {
  background-color: #EDEBEB;
  height: auto;
  width: auto !important;
}
