<div translate-namespace="heatmapWidget" class="{{vm.exportClass}}">

  <p ng-if="vm.locationRequestFailed" translate>.LOCATIONDATAERROR</p>

  <div class="row {{vm.exportClass}}" ng-if="!vm.locationRequestFailed">
    <!-- Don't use ng-class for conditional classes,
    because that somehow messes map centering -->
    <div
      class="map-container {{vm.hideLocationList ? 'col-xs-12' : 'col-md-6 col-lg-8'}}">
      <!-- Don't show heatmap until locations have finished loading. Heatmap
      directive has some initial logic that does not perform correctly if all data
      is not present upon displaying it. -->
      <heatmap
        ng-if="vm.locations && (!vm.locationId || vm.getCurrentLocation())"
        locations="vm.locations"
        kpi="vm.translationKpi"
        active-location="vm.getCurrentLocation()"
        highlighted-location="vm.highlightedLocation"
        values="vm.heatmapValues"
        value-format="vm.formatValue({ value: value })"
        floor="vm.floorNum"
        language="vm.language"
        clickable="vm.isClickable()"
        on-click="vm.onLocationClick(location)"
        legend-label="{{ 'heatmapWidget.VISITORS' | translate}}">
      </heatmap>
    </div>

    <div
      ng-if="!vm.hideLocationList"
      class="col-md-6 col-lg-4 location-list-container {{vm.exportClass}}"
      >
      <div
        ng-if="!vm.isLoadingHeatmapValues && vm.heatmapValueRequestFailed"
        class="alert alert-danger" role="alert"
        translate>
        .DATAERROR
      </div>

      <p ng-if="vm.isLoadingHeatmapValues" translate>
        .LOADING
      </p>

      <p ng-if="(vm.locations | filter : vm.locationHasHeatmapValue).length === 0 && !vm.isLoadingHeatmapValues && !vm.heatmapValueRequestFailed" translate>
        .NODATA
      </p>

      <div ng-if="!vm.heatmapValueRequestFailed && !vm.isLoadingHeatmapValues && (vm.locations | filter : vm.locationHasHeatmapValue).length > 0" class="{{vm.exportClass}}">
        <div ng-if="vm.locationId" class="target-location-info">
          <div><strong translate>.CUSTOMERSWHOVISITED</strong></div>
          <div class="main-location-name">{{vm.getCurrentLocation().description}}</div>
        </div>
        <div class="location-list-title"><strong>{{ 'kpis.totalLabel.'+vm.translationKpi | translate }}</strong></div>
        <location-value-pairs
          class="location-list"
          locations="vm.locations"
          highlighted-location="vm.highlightedLocation"
          values="vm.heatmapValues"
          value-format="vm.formatValue({ value: value })"
          clickable="vm.isClickable()"
          on-click="vm.onLocationClick(location)">
        </location-value-pairs>
      </div>
    </div>
  </div>

</div>
