<div
  translate-namespace="notAvailableWidget"
  class="not-available-widget-wrapper col-xs-12 col-sm-6"
  ng-class="{'col-sm-12': size==='large', 'col-md-4': size==='small', 'col-lg-4': size==='small'}">

  <widget class="summary-widget disabled">
    <widget-header
      widget-title="{{widgetTitle}}"
      icon="{{widgetIcon}}"
      hide-export-icon="false"
      disable-export="true">
    </widget-header>

    <widget-body>
      <div class="not-available-widget-content">
        <div class="not-available-widget-message">
          <p ng-transclude></p>
          <p>
            <strong translate>.CONTACTSALESFORDEMO</strong><br />
            <span translate>.TEL</span><br />
            <a href="{{ 'mailto:' + ('notAvailableWidget.EMAIL' | translate) }}" translate>.EMAIL</a>
          </p>
        </div>
      </div>
    </widget-body>

  </widget>

</div>
