<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="path" value="/"></parameter>

	<listeners>
		<!-- <listener class-name="com.Listener.TestListener" /> -->
		<listener class-name="com.report.HTMLReporter"/>
	</listeners>
	
	<!-- <listeners>
<listener class-name="com.report.HTMLReporter"/>
</listeners> -->
	<test name="Test_Name I want to display in report" preserve-order="true">

		<classes>
			<class name="com.starmeup.scripts.TopStars" />
			<!-- <class name="com.report.ClassForTestingReportGeneration" /> -->
			
			<!-- <methods>
			    <include name ="topStarsFunctionality"></include>
			</methods> -->			
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
