<div
  class="pull-left  inline-block actions"
  translate-namespace="customCompare">
  <div class="pull-left inline-block widget-action-buttons period-info">
    <div class="col-xs-12 date-period-title">
      <span translate>{{vm.selectedDateRange[0].shortTranslationLabel}}</span>
    </div>
    <div
      class="col-xs-12 compare-period-title">
      <span translate>.COMPARETO</span>
      <span> - </span>
      <span translate>{{vm.selectedComparePeriods[0].transKey}}</span>
    </div>
  </div>
  <div
    ng-if="!vm.previewInProgress && !vm.pdf"
    class="pull-right inline-block widget-action-buttons widget-action-buttons--position-right">
    <div class="pull-left inline-block widget-action-buttons" title="Information"
      ng-include="'components/widgets/custom-compare-widget/information.partial.html'"></div>
    <div class="pull-left inline-block widget-action-buttons fontsize16 margin-left-7">
      <metric-selector
        title = "'customCompare.CHANGEMETRICS'"
        hide-button-title="vm.trueVal"
        show-list-title="vm.trueVal"
        list-title = "'customCompare.CHANGEMETRICS'"
        button-icon="'sticon sticon-metrics-small'"
        selected-metrics="vm.selectedMetrics"
        metrics="vm.metricDisplayInfo"
        ng-show="!vm.hideExportIcon"
        min-length="vm.minLength"
        max-length="vm.maxLength"
        class="right"
        disabled="vm.editMode!==''">
      </metric-selector>
    </div>
    <div class="pull-left inline-block widget-action-buttons fontsize16 margin-left-7" title="Compare Period"
      ng-include="'components/widgets/custom-compare-widget/custom-periods.partial.html'">
    </div>
    <div
      ng-if="vm.editMode === 'edit'"
      class=" inline-block is-compare-edit-mode">
      <div
        class="pull-left padding-right-7 margin-right-5 margin-left-5">
        <button
          class="btn btn-default  dropdown-toggle {{::vm.dropdownClass}} widget-action-buttons__edit"
          type="button"
          title="{{::'common.EDIT' | translate}}"
          ng-click="vm.editCompare(vm.compare)">
          <span
            class="edit-icon"
            aria-hidden="true"></span>
        </button>
      </div>
      <div class="pull-right">
         <button
           class="btn btn-default  dropdown-toggle {{::vm.dropdownClass}} widget-action-buttons__delete"
           type="button"
           title="{{::'common.DELETE' | translate}}"
           ng-click="vm.deleteCompare(vm.compare)">
           <span class="remove-icon"
             aria-hidden="true">
           </span>
        </button>
      </div>
    </div>
  </div>
</div>
