<widget class="retail-store-summary-widget" ng-class="{ 'has-fixed-tooltips' : vm.selectedSites.length > 0}" translate-namespace="retailOrganization" off-click="vm.closeAllTooltips()">
  <widget-header
    widget-title="{{ 'kpis.kpiTitle.retail_store_summary' | translate}}"
    icon="performance"
    hide-export-icon="vm.hideExportIcon"
    disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportVerifyClick()"
    set-selected-widget="vm.setSelectedWidget()">

    <left>
      <span class="btn-group kpi-dropdown" ng-class="{ 'open' : isOpenCategory }">
        <button
          type="button"
          class="btn btn-xs btn-default dropdown-toggle"
          ng-click="isOpenCategory = !isOpenCategory"
          off-click="isOpenCategory = false">
          <span ng-show="vm.selectedCategory === ''" translate>.ALLSTORES</span>
          <span ng-show="vm.selectedCategory === 0" translate>.OUTOFSTOREOPPORTUNITY</span>
          <span ng-show="vm.selectedCategory === 1" translate>.HIGHPERFORMERS</span>
          <span ng-show="vm.selectedCategory === 2" translate>.INSTOREOPPORUNITY</span>
          <span ng-show="vm.selectedCategory === 3" translate>.POORPERFORMERS</span>
          <span class="caret" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="vm.filterCategory('')" translate>.ALLSTORES</a></li>
          <li><a ng-click="vm.filterCategory(0)" translate>.OUTOFSTOREOPPORTUNITY</a></li>
          <li><a ng-click="vm.filterCategory(1)" translate>.HIGHPERFORMERS</a></li>
          <li><a ng-click="vm.filterCategory(2)" translate>.INSTOREOPPORUNITY</a></li>
          <li><a ng-click="vm.filterCategory(3)" translate>.POORPERFORMERS</a></li>
        </ul>
      </span>

      <span class="btn-group kpi-dropdown" ng-class="{ 'open' : isOpenRet }">
        <button
          type="button"
          class="btn btn-xs btn-default dropdown-toggle"
          ng-click="isOpenRet = !isOpenRet"
          off-click="isOpenRet = false">
          <span>{{ vm.activeKpiDisplayName }}</span>
          <span class="caret" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="vm.changeKpi('conversion')">{{::vm.availableMetrics.conversionDisplayName}}</a></li>
          <li><a ng-click="vm.changeKpi('sales')">{{::vm.availableMetrics.salesDisplayName}}</a></li>
        </ul>
      </span>

      <span class="filter-search">
        <input type="search" ng-model="vm.filter.text" placeholder="{{ 'retailOrganization.FILTERSITES' | translate}}" ng-model-options="{ debounce: 400 }" />
        <span class="sticon sticon-search"></span>
      </span>

      <span class="btn-group retail-extreme-checkbox">
        <input type="checkbox" ng-model="vm.extremeToggle.checkbox" value="1" ng-click="vm.toggleExtremes()"/><label translate>.EXTREMEVALUES</label>
      </span>
    </left>
    <right>
      <sales-categories-selector
        categories="::vm.categories"
        selected-categories="vm.salesCategories"
        org-id="::vm.currentOrganization.organization_id"
        current-user="::vm.currentUser">
      </sales-categories-selector>
    </right>
  </widget-header>

  <widget-body>
    <div ng-if="vm.optimalViewMessage" class="alert alert-info top-margin" role="alert">
      <strong translate>.NOTE</strong>
      <span translate>.CUSTOMTOOLTIPCHECK</span>
    </div>
    <div class="col-xs-12" ng-if="!vm.isLoading && vm.hasData() && vm.chartData.length > 0">
      <highchart id="retail-store-summary-chart-{{vm.dashIndex}}" config="vm.chartConfig"></highchart>
    </div>
    <div class="col-xs-12 loader" ng-show="vm.isLoading">
      <span translate>common.LOADING</span>
    </div>
    <div ng-if="vm.requestFailed" class="col-xs-12 text-center error-message">
      <span translate>common.DATAERROR</span>
    </div>
    <div ng-if="!vm.isLoading && !vm.requestFailed && vm.chartData.length === 0" class="col-xs-12 text-center error-message">
      <span translate>common.NODATA</span>
    </div>

  </widget-body>
</widget>
