<div ui-view="marketingMain" class="site-campaign-list">
<!--div class="row" ng-show="isAuthenticated"-->
<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-push-2 col-md-push-2">

      <h1 class="page-header">Campaigns at {{currentOrganization.name}}</h1>

	  <form>
		  <div class="form-group">
			<button class="btn btn-primary" ui-sref="marketing.organization.campaigns.create">Create campaign</button>
		  </div>
	  </form>

	<h1>Active campaigns</h1>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th data-field="name">Name</th>
					<th data-field="added">Added</th>
					<th data-field="expires">Expires</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				<tr
					ng-repeat="ActiveCampaign in ActiveCampaigns"
				>
					<td>{{ ActiveCampaign.name }}</td>
					<td>{{ ActiveCampaign.added }}</td>
					<td>{{ ActiveCampaign.expires }}</td>
					<td class="actions"><a href="#edit-{{ ActiveCampaign.id }}">Edit</a> <a href="#delete-{{ ActiveCampaign.id }}" class="delete">Delete</a></td>
				</tr>

			</tbody>
		</table>
	</div>

	<h1>Inactive campaigns</h1>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th data-field="name">Name</th>
					<th data-field="added">Added</th>
					<th data-field="expired">Expired</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				<tr
					ng-repeat="InactiveCampaign in InactiveCampaigns"
				>
					<td>{{ InactiveCampaign.name }}</td>
					<td>{{ InactiveCampaign.added }}</td>
					<td>{{ InactiveCampaign.expires }}</td>
					<td class="actions"><a href="#edit-{{ InactiveCampaign.id }}">Edit</a> <a href="#delete-{{ InactiveCampaign.id }}" class="delete">Delete</a></td>
				</tr>

			</tbody>
		</table>
	</div>

  </div>
</div>
</div>
