  <div class="cal-month date-range-picker">      
  <header>
    <div>
      <span class="sticon sticon-arrow-left pull-left"
            ng-click="vm.decrementYear()" 
            ng-class="(vm.disable_left_arrow === true) ? 'disabled' : 'enabled'">
      </span>
      <div class="btn-group">
          <button class="year-dropdown btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span ng-model = "vm.selectedlatestYear">{{vm.selectedlatestYear}}</span>
          <i class="caret"></i>
          </button>
          <ul class="year-dropdown-menu dropdown-menu pull-right">
            <li ng-repeat="item in vm.availableYears track by item">
              <a ng-class="{ 'disableFutureYear': vm.disableFutureYear(item) }"
                 ng-click ="vm.setYear(item)" >
                 {{::item}}
              </a>
            </li>
          </ul>
      </div>
      <span class="sticon sticon-arrow-right pull-right"
            ng-click="vm.incrementYear()" 
            ng-class="(vm.disable_right_arrow === true) ? 'disabled' : 'enabled'">
      </span>
    </div>
  </header>
  <div class="month-body">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 0}" ng-click="vm.onMonthClick(0)" ng-disabled="vm.disabledMonths[0]" translate>{{::vm.monthLabels[0]}}</button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 1}" ng-click="vm.onMonthClick(1)" ng-disabled="vm.disabledMonths[1]" translate>{{::vm.monthLabels[1]}}</button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 2}" ng-click="vm.onMonthClick(2)" ng-disabled="vm.disabledMonths[2]" translate>{{::vm.monthLabels[2]}}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 3}" ng-click="vm.onMonthClick(3)" ng-disabled="vm.disabledMonths[3]" translate>{{::vm.monthLabels[3]}}</button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 4}" ng-click="vm.onMonthClick(4)" ng-disabled="vm.disabledMonths[4]" translate>{{::vm.monthLabels[4]}}</button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 5}" ng-click="vm.onMonthClick(5)" ng-disabled="vm.disabledMonths[5]" translate>{{::vm.monthLabels[5]}}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 6}" ng-click="vm.onMonthClick(6)" ng-disabled="vm.disabledMonths[6]" translate>{{::vm.monthLabels[6]}}</button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 7}" ng-click="vm.onMonthClick(7)" ng-disabled="vm.disabledMonths[7]" translate>{{::vm.monthLabels[7]}}</button>
      </div>      
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 8}" ng-click="vm.onMonthClick(8)" ng-disabled="vm.disabledMonths[8]" translate>{{::vm.monthLabels[8]}}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 9}" ng-click="vm.onMonthClick(9)" ng-disabled="vm.disabledMonths[9]" translate>{{::vm.monthLabels[9]}}</button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 10}" ng-click="vm.onMonthClick(10)" ng-disabled="vm.disabledMonths[10]" translate>{{::vm.monthLabels[10]}}</button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-3">
        <button class="btn btn-sm btn-default" ng-class="{'active' : vm.selectedMonth === 11}" ng-click="vm.onMonthClick(11)" ng-disabled="vm.disabledMonths[11]" translate>{{::vm.monthLabels[11]}}</button>
      </div>
    </div>

  </div>
</div>