<div class="metrics-switch-selectors" translate-namespace="csvExportView">
  <div class="selector-row">
    <h2 class="organization-csv-section-title metrics" translate>
      .SALESCATEGORIES
    </h2>
    <div
      class="csv-export-metric-selector-wrapper col-xs-12 col-md-6"
      ng-repeat="salesCategory in ::vm.salesCategories track by salesCategory.id"
      ng-class="{'even': !$even, 'odd': !$odd}">
      <div
        click-isolate
        class="csv-export-metric-selector"
        ng-click="vm.selectSalesCategory(salesCategory.id)"
        ng-class="{'selected': vm.selectedSalesCategories[salesCategory.id]}">
        {{ ::salesCategory.name }}
        <ui-switch
          chosen="vm.selectedSalesCategories[salesCategory.id]"
          class="csv-export-metric-switch"
          ng-click="vm.selectSalesCategory(salesCategory.id)">
        </ui-switch>
      </div>
    </div>
  </div>
</div>
