<div translate-namespace="retailOrganizationSummary" ng-if="dateRange.start && viewDataInitialized">
  <div class="row retail-organization-summary-bar">
    <div class="retail-organization-tags" ng-show="numTags > 0">
      <span class="retail-organization-tag-label" translate>.SELECTEDFILTERS</span>
      <span ng-repeat="tag in selectedCustomTags track by tag" class="tag">{{selectedTagNames[tag]}}</span>
      <span ng-repeat="tag in selectedTags track by tag" class="tag">{{selectedTagNames[tag]}}</span>
    </div>

    <div class="retail-organization-comp-stores" >
      <span class="retail-organization-tag-label" translate>.COMPAREMODE</span>
      <comp-stores-selector label="{{ 'retailOrganizationSummary.COMPSTORES' | translate}}" selected="compareMode.stores" ng-click="setCompareMode(0)"></comp-stores-selector>
      <comp-stores-selector label="{{ 'retailOrganizationSummary.ALLSTORES' | translate}}" selected="compareMode.all" ng-click="setCompareMode(1)"></comp-stores-selector>
    </div>
  </div>

  <div class="row" ng-show="::showFilter">
    <div class="col-xs-12">
    <organization-filter-widget
      current-organization="::currentOrganization"
      comp-stores="compareMode.stores"
      update-selected-filters="setSelectedFilters(filterTags, customTags, customTagDetails)"
      set-selected-tags-sites="setSelectedTagsSites">
    </organization-filter-widget>
    </div>
  </div>

  <div
    class="row"
    ng-repeat="metricType in metricsToShow track by metricType" >

    <div class="col-xs-12" ng-if="metricType === 'kpi_summary_widget'">
      <kpi-summary-widget
        org-id="::currentOrganization.organization_id"
        date-range="dateRange"
        comp-stores="compareMode.stores"
        comp-stores-range="compStoresRange"
        compare-range-1="compareRange1"
        compare-range-2="compareRange2"
        compare-range-1-type="compareRange1Type"
        compare-range-2-type="compareRange2Type"
        current-organization="::currentOrganization"
        current-user="::currentUser"
        date-range-keys="salesDateRanges"
        date-format-mask="::dateFormat"
        first-day-of-week-setting="firstDayOfWeek"
        is-loading="loadingFlags[metricType]"
        widget-title="'Organization performance'"
        on-export-click="exportWidget(metricType,false)"
        export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
        sales-categories="viewData[metricType].salesCategories.selection"
        add-widget-to-export="addWidgetToExport('kpi_summary_widget')"
        set-selected-widget="setSelectedWidget('kpi_summary_widget')"
        widget-data="kpiData"
        selected-tags="selectedTags"
        custom-tags="selectedCustomTags"
        has-labor="::orgHasLabor"
        has-sales="::orgHasSales"
        language="language"
        has-error="kpiFlag.hasError"
        operating-hours="operatingHours">
      </kpi-summary-widget>
    </div>

    <div class="col-xs-12 border" ng-if="::metricType === 'power_hours'">
      <power-hours-widget
        org-id="::currentSite.organization.id"
        comp-stores="compareMode.stores"
        comp-stores-range="compStoresRange"
        date-range-start="dateRange.start"
        date-range-end="dateRange.end"
        current-organization="::currentOrganization"
        current-user="::currentUser"
        active-option="viewData[metricType].displayType"
        pdf-orientation="viewData[metricType].pdfOrientation"
        summary-key="power_hours"
        language="language"
        sales-categories="viewData[metricType].salesCategories"
        on-export-click="exportWidget(metricType, false)"
        export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
        set-selected-widget="setSelectedWidget(metricType)"
        custom-tags="selectedCustomTags"
        selected-tags="selectedTags"
        is-sales-metric-selected="viewData[metricType].isSalesMetricSelected"
        is-loading="loadingFlags[metricType]"
        operating-hours="operatingHours">
      </power-hours-widget>
    </div>

    <div class="col-xs-12" ng-if="metricType === 'daily_performance_widget'">
      <daily-performance-widget
        date-range="dateRange"
        comp-stores="compareMode.stores"
        comp-stores-range="compStoresRange"
        current-organization="::currentOrganization"
        current-user="::currentUser"
        show-table="viewData[metricType].showTable"
        selected-days="viewData[metricType].selectedDays"
        on-export-click="exportWidget(metricType,false)"
        export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
        set-selected-widget="setSelectedWidget('daily_performance_widget')"
        selected-tags="selectedTags"
        custom-tags="selectedCustomTags"
        has-labor="::orgHasLabor"
        has-sales="::orgHasSales"
        current-sort="viewData[metricType].orderTable"
        current-sort-direction="viewData[metricType].orderTableDirection"
        sales-categories="viewData[metricType].salesCategories.selection"
        is-loading="loadingFlags[metricType]"
        operating-hours="operatingHours">
      </daily-performance-widget>
    </div>

    <div class="col-xs-12" ng-if="metricType === 'traffic_per_weekday'">
      <traffic-per-weekday-widget
        org-id="orgId"
        kpi="traffic_weekday_distribution"
        date-range="{start: dateRange.start, end: dateRange.end}"
        comp-stores="compareMode.stores"
        comp-stores-range="compStoresRange"
        compare-range-1="{start: compareRange1.start, end: compareRange1.end}"
        compare-range-2="{start: compareRange2.start, end: compareRange2.end}"
        compare-range-1-type="compareRange1Type"
        compare-range-2-type="compareRange2Type"
        date-format-mask="::dateFormat"
        first-day-of-week-setting="firstDayOfWeek"
        current-organization="::currentOrganization"
        current-user="::currentUser"
        selected-tags="selectedTags"
        custom-tags="selectedCustomTags"
        language="::language"
        show-table="viewData[metricType].showTable"
        selected-days="viewData[metricType].selectedDays"
        selected-metric="viewData[metricType].selectedMetric"
        order-by="viewData[metricType].orderTable"
        order-reverse="viewData[metricType].orderReverse"
        widget-icon="calendar-arrow"
        hide-export-icon="false"
        on-export-click="exportWidget(metricType,false)"
        export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
        sales-categories="viewData[metricType].salesCategories.selection"
        set-selected-widget="setSelectedWidget('traffic_per_weekday')"
        is-loading="loadingFlags[metricType]"
        operating-hours="operatingHours">
      </traffic-per-weekday-widget>
    </div>

    <div class="col-xs-12" ng-if="metricType === 'retail_store_summary'" id="retail-store-summary-widget">
      <retail-store-summary-widget
        ng-if="::orgHasSales"
        org-sites="::orgSites"
        org-id="::orgId"
        current-organization="::currentOrganization"
        comp-stores="compareMode.stores"
        comp-stores-range="compStoresRange"
        date-range-start="dateRange.start"
        date-range-end="dateRange.end"
        compare-range-1-start="compareRange1.start"
        compare-range-1-end="compareRange1.end"
        compare-range-2-start="compareRange2.start"
        compare-range-2-end="compareRange2.end"
        current-user="::currentUser"
        date-format-mask="::dateFormat"
        on-export-click="exportWidget(metricType,false)"
        export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
        language="::language"
        number-format="::numberFormat"
        site-categories="userOptions.siteCategories"
        selected-category="userOptions.categoryFilter"
        filter-text="userOptions.filterText"
        selected-tags="selectedTags"
        custom-tags="selectedCustomTags"
        active-kpi="viewData[metricType].activeKpi"
        include-extremes="viewData[metricType].extremeValues"
        widget-data="retailStoreSummaryData"
        sales-categories="userOptions.salesCategories.selection"
        set-selected-widget="setSelectedWidget('retail_store_summary')"
        is-loading="loadingFlags[metricType]"
        request-failed="isChartLoading.requestFailed"
        operating-hours="operatingHours"
        mid="userOptions.mid"
        selected-sites="viewData[metricType].selectedSites">
      </retail-store-summary-widget>
    </div>

    <div class="col-xs-12" ng-if="metricType === 'retail_organization_table'" id="retail-organization-table-widget">
      <retail-organization-table-widget
        org-id="::orgId"
        org-sites="::orgSites"
        date-range-start="dateRange.start"
        date-range-end="dateRange.end"
        widget-title="Organization summary"
        widget-icon="site"
        compare-range-1-start="compareRange1.start"
        compare-range-1-end="compareRange1.end"
        compare-range-2-start="compareRange2.start"
        compare-range-2-end="compareRange2.end"
        current-organization="::currentOrganization"
        current-user="::currentUser"
        date-format-mask="::dateFormat"
        first-day-of-week-setting="firstDayOfWeek"
        order-by-string="viewData[metricType].orderByString"
        on-export-click="exportWidget(metricType,false)"
        export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
        selected-tags="selectedTags"
        custom-tags="selectedCustomTags"
        is-loading="loadingFlags[metricType]"
        request-failed="isTableLoading.requestFailed"
        widget-data="tableData"
        site-categories="userOptions.siteCategories"
        selected-category="userOptions.categoryFilter"
        filter-text="userOptions.filterText"
        org-has-interior="::orgHasInterior"
        org-has-sales="::orgHasSales"
        org-has-labor="::orgHasLabor"
        language="::language"
        sales-categories="userOptions.salesCategories.selection"
        set-selected-widget="setSelectedWidget('retail_organization_table')"
        selected-metrics="viewData[metricType].selectedMetrics"
        comparison-index="viewData[metricType].comparisonIndex"
        operating-hours="operatingHours"
        selected-tags-sites="selectedTagsSites"
        mid="userOptions.mid">
      </retail-organization-table-widget>
    </div>
  </div>

</div>
