.mi-admin {
  .mi-admin-header {
    margin-top: 10px;
    border-bottom: #bab9b9 solid 1px;
    padding-bottom: 10px;
    .mi-admin-breadcrumb {
      position: relative;
      top: -8px;
      display: inline-block;
      color: $gray-light;
    }
  }
  .add-new-dataset{
    cursor: pointer;
    display: inline-block;
  }
  .actions {
    text-align: right;
    margin-right: 50px;
    :first-child {
      margin-right: 20px;
    }
  }
  .sticon-mi-admin {
    margin-right: 5px;
    font-size: 2.8em;
    color: $gray-light;
  }
  .sticon-plus-add {
    color: $light-blue;
    margin-left: 20px;
    position: relative;
    top: 5px;
    font-size: 24px;
  }
  .admin-headings {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 0px;
    span.fade-color {
      font-size: 18px;
      color: #929090;
    }

    .subscription-status{
      margin-left: 28px;
      font-size: 14px;
    }
    .subscription-status-indicator {
      display: inline;
      span.dot-indicator {
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        left: 27px;
        border-radius: 6px;
        z-index: 2;
      }
      span.active {
        border: solid 1px #82b413;
        background: #82b413;
      }
      span.enabled{
        border: solid 1px darkorange;
        background: darkorange;
      }
      span.disabled{
        border: solid 1px red;
        background: red;
        opacity: 1;
      }
    }
    button {
      margin-left: 10px;
      padding-left: 15px;
      border: none;
      box-shadow: none;
      background: none;
    }
    button:focus{
      border: none;
      box-shadow: none;
      background: none;
    }
  }
  .icon-font {
    font-size: 14px;
  }
  .sub-dataset-table {
    margin-top: 20px;
  }
  table th:last-child {
    text-align: center;
  }
  .admin-calendar {
    margin-top: 20px;
    td em{
      font-style: normal;
    }
    .uib-title strong {
      font-weight: normal;
      font-size: 13px;
      color: #000000;
    }
    .admin-calendar-label {
      text-transform: uppercase;
    }
    .input-group {
      position: relative;
      display: table;
      border-collapse: separate;
      &[class*="col-"] {
        float: none;
        padding-left: 0;
        padding-right: 0;
      }

      .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        &:focus {
          z-index: 3;
        }
      }

      .form-control[readonly]{
        background-color: #ffffff;
      }
      .uib-button-bar {
        display: none;
      }
      tr.uib-weeks {
        color: #a6a8ae;

      }
      ul li div div:focus {
        outline: none;
      }

      .uib-daypicker button {
        border: none;
        background: none;
        box-shadow: none;
      }
      button.calendar-button {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        border-left: none;
        background: white;
        height: 38px;
        outline: none;
      }
    }
    .input-group-addon,
    .input-group-btn,
    .input-group .form-control {
      display: table-cell;

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
    }
    .input-group-addon,
    .input-group-btn {
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
    }
    .input-group-btn {
      position: relative;
      font-size: 0;
      white-space: nowrap;

      > .btn {
        position: relative;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        + .btn {
          margin-left: -3px;
        }
        &:hover,
        &:focus,
        &:active {
          z-index: 2;
        }
      }

      &:first-child {
        > .btn,
        > .btn-group {
          margin-right: -3px;
        }
      }
      &:last-child {
        > .btn,
        > .btn-group {
          z-index: 2;
          margin-left: -3px;
        }
      }
    }
    .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .glyphicon {
      color: $light-blue;
    }

    .btn-info:active, .btn-info.active, .analytics-header .btn-info.active-header-button, .open > .btn-info.dropdown-toggle {
      color: #333;
    }

  }
  .day-error {
    color: red;
  }

  .icon-edit, .icon-remove {
    cursor: pointer;
  }

  .load-icon{
    text-align: center;
  }
  .subscription-status-loading {
    display: inline;
    margin-left: 25px;
  }
  .page-loading-indicator{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    margin-top: 8px;
    background-image: url(../assets/images/loader.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: transparent;
    display: inline;
    margin: auto;
  }
  .geo-align {
    float: left;
    width: 150px;
  }
  .country {

  }
  .region {
    padding-left: 10px;

  }
  .metro {
    padding-left: 20px;
  }
}
