<table>
  <thead>
  <th></th>
  <th class="line-chart-tooltip-total" translate>.TOTAL</th>
  <th class="line-chart-tooltip-unique" ng-if="lineChartWidget.getUniqueReturning===true" translate>.UNIQUE</th>
  <th class="line-chart-tooltip-returning" ng-if="lineChartWidget.getUniqueReturning===true" translate>.RETURNING</th>
  </thead>
  <tbody>
    <tr ng-repeat="td in lineChartWidget.tooltipData">
      <th>
        {{ lineChartWidget.formatDate(td[seriesItemIndex].startDate) }}
      </th>
      <td
        class="text-center"
        ng-switch="td[seriesItemIndex].value">
          <span ng-switch-default>
            {{ lineChartWidget.dataPrefix }}
            {{ td[seriesItemIndex].value | multiplyNumber:lineChartWidget.multiplier | formatNumber: lineChartWidget.dataPrecision:lineChartWidget.numberFormatName }}
            {{ lineChartWidget.valueLabel }}
            {{ lineChartWidget.dataSuffix }}
          </span>
          <span ng-switch-when="null">
            -
          </span>

      </td>
      <td
        ng-switch="td[seriesItemIndex].details.unique"
        ng-if="lineChartWidget.getUniqueReturning===true"
        class="text-center">
        <span ng-switch-default>
          {{ lineChartWidget.dataPrefix }}
          {{ td[seriesItemIndex].details.unique | multiplyNumber:lineChartWidget.multiplier | formatNumber: lineChartWidget.dataPrecision:lineChartWidget.numberFormatName }}
          {{ lineChartWidget.valueLabel }}
          {{ lineChartWidget.dataSuffix }}
        </span>
        <span ng-switch-when="null">
          -
        </span>
        <span ng-switch-when="undefined">
          <img src="assets/images/loader.gif" class="tooltip-loading-icon" />
        </span>
      </td>
      <td
        ng-if="lineChartWidget.getUniqueReturning===true"
        ng-switch="td[seriesItemIndex].details.return"
        class="text-center">
        <span ng-switch-default>
          {{ lineChartWidget.dataPrefix }}
          {{ td[seriesItemIndex].details.return | multiplyNumber:lineChartWidget.multiplier | formatNumber: lineChartWidget.dataPrecision:lineChartWidget.numberFormatName }}
          {{ lineChartWidget.valueLabel }}
          {{ lineChartWidget.dataSuffix }}
        </span>
        <span ng-switch-when="null">
          -
        </span>
        <span ng-switch-when="undefined">
          <img src="assets/images/loader.gif" class="tooltip-loading-icon" />
        </span>
      </td>
    </tr>
  </tbody>
</table>
