<div
  class="dropdown"
  ng-class="{
    'open': vm.isOpen
  }"
  off-click="vm.close()">
  <button
    ng-click="vm.toggle()"
    class="btn btn-default btn-xs dropdown-toggle"
    translate>
    .CHANGEMETRIC
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li
      ng-repeat="widget in vm.widgets track by $index"
      ng-class="{
        'disabled': widget.type === vm.selected.type
      }">
      <a
        ng-click="vm.selectWidget(widget)"
        href>
        {{::widget.title}}
      </a>
    </li>
  </ul>
</div>
